@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  display: block;
  content: '';
  clear: both; }

body {
  font-family: "Microsoft JhengHei"; }

.wrapper {
  margin: 0 auto; }

.wrapper {
  max-width: 1200px;
  width: 100%; }

@media only screen and (max-width: 767px) {
  .cl-s-1, .cl-s-2, .cl-s-3, .cl-s-4, .cl-s-5, .cl-s-6,
  .cl-s-7, .cl-s-8, .cl-s-9, .cl-s-10, .cl-s-11, .cl-s-12 {
    float: left;
    box-sizing: border-box; }
  .cl-s-1 {
    width: 8.33333%; }
  .cl-s-2 {
    width: 16.66667%; }
  .cl-s-3 {
    width: 25%; }
  .cl-s-4 {
    width: 33.33333%; }
  .cl-s-5 {
    width: 41.66667%; }
  .cl-s-6 {
    width: 50%; }
  .cl-s-7 {
    width: 58.33333%; }
  .cl-s-8 {
    width: 66.66667%; }
  .cl-s-9 {
    width: 75%; }
  .cl-s-10 {
    width: 83.33333%; }
  .cl-s-11 {
    width: 91.66667%; }
  .cl-s-12 {
    width: 100%; }
  h2 {
    font-size: 26px; }
  h3 {
    font-size: 20px; }
  h4 {
    font-size: 18px; }
  p {
    font-size: 16px; } }

@media all and (min-width: 768px) {
  .cl-md-1, .cl-md-2, .cl-md-3, .cl-md-4, .cl-md-5, .cl-md-6,
  .cl-md-7, .cl-md-8, .cl-md-9, .cl-md-10, .cl-md-11, .cl-md-12 {
    float: left;
    box-sizing: border-box; }
  .cl-md-1 {
    width: 8.33333%; }
  .cl-md-2 {
    width: 16.66667%; }
  .cl-md-3 {
    width: 25%; }
  .cl-md-4 {
    width: 33.33333%; }
  .cl-md-5 {
    width: 41.66667%; }
  .cl-md-6 {
    width: 50%; }
  .cl-md-7 {
    width: 58.33333%; }
  .cl-md-8 {
    width: 66.66667%; }
  .cl-md-9 {
    width: 75%; }
  .cl-md-10 {
    width: 83.33333%; }
  .cl-md-11 {
    width: 91.66667%; }
  .cl-md-12 {
    width: 100%; }
  h2 {
    font-size: 32px; }
  h3 {
    font-size: 24px; }
  h4 {
    font-size: 18px; }
  p {
    font-size: 16px; } }

@media all and (min-width: 1024px) {
  .cl-xl-1, .cl-xl-2, .cl-xl-3, .cl-xl-4, .cl-xl-5, .cl-xl-6,
  .cl-xl-7, .cl-xl-8, .cl-xl-9, .cl-xl-10, .cl-xl-11, .cl-xl-12 {
    float: left;
    box-sizing: border-box; }
  .cl-xl-1 {
    width: 8.33333%; }
  .cl-xl-2 {
    width: 16.66667%; }
  .cl-xl-3 {
    width: 25%; }
  .cl-xl-4 {
    width: 33.33333%; }
  .cl-xl-5 {
    width: 41.66667%; }
  .cl-xl-6 {
    width: 50%; }
  .cl-xl-7 {
    width: 58.33333%; }
  .cl-xl-8 {
    width: 66.66667%; }
  .cl-xl-9 {
    width: 75%; }
  .cl-xl-10 {
    width: 83.33333%; }
  .cl-xl-11 {
    width: 91.66667%; }
  .cl-xl-12 {
    width: 100%; } }

img {
  width: 100%;
  vertical-align: middle; }

a {
  text-decoration: none;
  color: #5e4909; }

.common_btn {
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 14px;
  width: 160px;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: .1rem;
  text-align: center;
  text-decoration: none;
  border-radius: 11px;
  overflow: hidden; }
  .common_btn .common_btn_blobs {
    height: 100%;
    -webkit-filter: url(#goo);
    filter: url(#goo);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -3px;
    right: -1px;
    border-radius: 11px;
    width: 110%; }
    .common_btn .common_btn_blobs div {
      width: 34%;
      height: 100%;
      border-radius: 100%;
      position: absolute;
      -webkit-transform: scale(1.4) translateY(125%) translateZ(0);
      transform: scale(1.4) translateY(125%) translateZ(0);
      -webkit-transition: all 700ms ease;
      transition: all 700ms ease; }
    .common_btn .common_btn_blobs div:nth-child(1) {
      left: -5%; }
    .common_btn .common_btn_blobs div:nth-child(2) {
      left: 30%;
      -webkit-transition-delay: 60ms;
      transition-delay: 60ms; }
    .common_btn .common_btn_blobs div:nth-child(3) {
      left: 66%;
      -webkit-transition-delay: 25ms;
      transition-delay: 25ms; }
  .common_btn .common_btn_txt {
    position: relative;
    z-index: 1;
    -webkit-transition: color .3s;
    transition: color .3s;
    -webkit-transition-delay: .2s;
    transition-delay: .2s; }
  .common_btn:hover .common_btn_blobs div {
    -webkit-transform: scale(1.5) translateY(0) translateZ(0);
    transform: scale(1.5) translateY(0) translateZ(0); }

/* 一級按鈕背景文字 */
.common_btn_first {
  background-color: #ffd700;
  /* 一級按鈕hover過去的背景和文字顏色 */ }
  .common_btn_first .common_btn_txt {
    color: #603813; }
  .common_btn_first .common_btn_blobs div {
    background-color: #90A30B; }
  .common_btn_first:hover .common_btn_txt {
    color: #fff; }

/* 二級按鈕背景文字 */
.common_btn_second {
  background-color: #90A30B;
  /* 二級按鈕hover過去的背景和文字顏色 */ }
  .common_btn_second .common_btn_txt {
    color: #fff; }
  .common_btn_second .common_btn_blobs div {
    background-color: #ffd700; }
  .common_btn_second:hover .common_btn_txt {
    color: #603813; }

h1 {
  font-size: 0; }

#hb_control {
  display: none; }

header {
  overflow: hidden; }
  header nav {
    position: fixed;
    width: 100%;
    z-index: 100; }
    header nav li a {
      font-weight: 900;
      position: relative;
      letter-spacing: .1em; }
    header nav li > a:after {
      content: '';
      position: absolute;
      bottom: -0.6em;
      left: -2%;
      width: 104%;
      height: 5px;
      transform: scaleX(0);
      background-color: #603813;
      transition: all .2s ease;
      opacity: 0.6; }
    header nav li > a:hover::after {
      transform: scaleX(1); }
  header .nav_mem {
    display: flex;
    position: absolute;
    z-index: 3;
    right: 10px;
    top: 5px; }
    header .nav_mem p {
      vertical-align: middle;
      line-height: 25px;
      margin-right: 10px; }
    header .nav_mem .mem_pic {
      width: 25px;
      margin-right: 8px; }
  header .menu {
    font-size: 20px;
    position: absolute;
    width: 100%; }

#svg-2 {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  width: 200%;
  height: 130px;
  z-index: -2; }

#wave {
  position: fixed;
  display: block;
  vertical-align: middle;
  left: 0;
  top: 0;
  height: 140px;
  width: 300%;
  fill: white;
  -webkit-animation: move 5s 1s linear infinite alternate;
  animation: move 5s .5s linear infinite alternate; }

#wave2 {
  position: fixed;
  display: block;
  vertical-align: middle;
  left: 0;
  top: 0;
  height: 150px;
  width: 300%;
  fill: #f4d66d;
  -webkit-animation: move 10s linear infinite alternate;
  animation: move 10s linear infinite alternate; }

.robot {
  position: fixed;
  width: 110px;
  bottom: 0;
  right: 0;
  z-index: 50; }

.coupon {
  position: fixed;
  width: 100px;
  top: 110px;
  right: 2%;
  z-index: 100; }

@media only screen and (max-width: 767px) {
  .robot {
    width: 80px; }
  .coupon {
    top: 140px;
    width: 70px; }
  #svg-2 {
    transition: height 1.3s 0.5s ,width 2s; }
  #wave {
    height: 95px;
    transition: 1s; }
  #wave2 {
    height: 100px;
    transition: 1s; }
  .menu {
    text-align: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin-top: 40px;
    position: absolute;
    left: -1000px;
    opacity: 0;
    transition: left 0s 1s,opacity 1s 0s; }
    .menu .menu_item {
      margin: 40px; }
    .menu .menu_logo {
      display: none; }
  .ph_nav {
    display: relative;
    width: 100%;
    margin-top: 7px; }
    .ph_nav .phone_logo {
      width: 60px;
      margin: auto; }
    .ph_nav .hb {
      padding: 20px 15px;
      float: left;
      margin: 14px 0 0 5%; }
      .ph_nav .hb span {
        display: block;
        height: 2px;
        width: 25px;
        background-color: #5e4909;
        position: relative; }
        .ph_nav .hb span:after, .ph_nav .hb span:before {
          content: '';
          display: block;
          height: 2px;
          width: 25px;
          background-color: #5e4909;
          position: absolute; }
        .ph_nav .hb span:before {
          top: -6px; }
        .ph_nav .hb span:after {
          top: 6px; } }

#hb_control:checked ~ nav #svg-2 {
  transition: 2s;
  height: 110vh;
  width: 1000%; }

#hb_control:checked ~ nav #wave {
  transition: 2s;
  width: 900%;
  height: 107vh;
  animation: move2 3s 1s linear infinite alternate; }

#hb_control:checked ~ nav #wave2 {
  height: 108vh;
  transition: 2s;
  width: 1000%;
  animation: move2 5s linear infinite alternate; }

#hb_control:checked ~ nav .menu {
  transition: left 0s ,opacity 2s 1s;
  opacity: 1;
  left: 0; }

@media all and (min-width: 768px) {
  .ph_nav {
    display: none; }
  #svg-2 {
    height: 150px; }
  .menu {
    max-width: 1200px;
    left: 0;
    right: 0;
    margin: 10px auto; }
    .menu ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      margin: 0px 130px; }
    .menu li {
      display: inline-block; }
    .menu .menu_logo {
      width: 90px; } }

@keyframes move {
  0% {
    transform: translate(-30%, 0%); }
  100% {
    transform: translate(0%, 0%); } }

@keyframes move2 {
  0% {
    transform: translate(-20%, 0%); }
  100% {
    transform: translate(0%, 0%); } }

@-webkit-keyframes move {
  0% {
    transform: translate(-40%, 0%); }
  100% {
    transform: translate(0%, 0%); } }

@-webkit-keyframes move2 {
  0% {
    transform: translate(-20%, 0%); }
  100% {
    transform: translate(0%, 0%); } }

p {
  text-align: justify; }

.brick {
  width: 100%;
  height: 150px;
  background-color: #00B5BD; }

.about_start {
  width: 100%;
  height: 100vh;
  background-color: #00B5BD;
  overflow: hidden; }

.about_start_background_block {
  position: relative; }

.about_factory {
  width: 100%;
  height: 100vh;
  background-color: #00B5BD;
  overflow: hidden; }

.about_factory_background_block {
  position: relative; }

.about_factory_grass_background {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: #00B5BD; }

#app {
  position: relative;
  height: 100vh; }

.forcast h4 {
  padding: 5% 0; }

#section4 {
  background-color: #00B5BD;
  height: 100vh; }

path {
  stroke: white;
  fill: transparent;
  transition: 0.5s;
  cursor: pointer; }

path:hover {
  fill: #B99362;
  -webkit-transform: translate(-5px, -5px);
  transform: translate(-5px, -5px); }

.taiwan1 {
  width: 100%;
  height: 100vh;
  position: absolute; }

.forcast h2, .forcast h4, .forcast h5 {
  margin: 0; }

#e468a7aa-2bdf-4501-b48d-35483b7c8ccc,
#ae9239f1-7686-4c40-a5f8-f322391c7328 {
  fill: red; }

#f8107e5f-0c12-4631-aed9-d525f4e8558d,
#a66958373-17e2-4fab-8b83-b16e2d323782,
#a1e48e0bb-8964-4121-b347-b900162cf771,
#a21535635-db1e-4831-a63f-263ab3ed4b79,
#a65175d47-0a21-4bf1-abfb-b58e4d3069a0,
#ea41be52-3728-49f2-aa36-b90633ee55f6,
#a350fa9bc-d25e-4c61-ae4b-b5c60b1a74b6 {
  fill: orange; }

#a7ed22330-8901-4fc6-a351-206f6b2daf2b,
#ffd01e75-6ce2-4cfa-af98-bc61479c68ed,
#a30e45b59-571b-4340-a006-0ba62460619a,
#d5701392-fc06-4411-bf79-2703f225ab2e,
#a4eed8214-870d-46ff-b77b-49234479d430 {
  fill: green; }

#a2b6aac2d-ce2d-4c48-89d5-ff2a81000e07,
#ae28d47a-650c-43d9-aedc-c1d11a068993,
#a0ce2847a-4f9c-4ff7-8c51-6b0fa24ba8b7,
#e1806d87-d003-48dd-b8d3-3f99b3759340,
#a21c4ba33-d057-42c1-9c71-be6061fc73cf {
  fill: #36BF36; }

@keyframes shake {
  0% {
    transform: translate(0px, 0px); }
  100% {
    transform: translate(0px, -6px); } }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes flutter {
  0% {
    transition: transition(0px, 0px); }
  100% {
    transform: translate(-300px, 0px); } }

h3 {
  color: #009245;
  padding: 10px;
  font-weight: bold;
  text-align: center; }

@keyframes bounce {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-20px); } }

@-webkit-keyframes bounce {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-20px); } }

.bounce {
  animation: bounce .5s infinite alternate;
  -webkit-animation: bounce .8s infinite alternate; }

@media only screen and (max-width: 767px) {
  .about_start_background_block {
    position: relative;
    height: 100vh; }
  .about_start_background_clould01 {
    width: 50%;
    position: absolute;
    max-width: 245px;
    animation: flutter 5s linear infinite; }
  .about_start_background_clould02 {
    width: 54%;
    position: absolute;
    top: 8%;
    left: 40%;
    animation: flutter 5s linear infinite; }
  .about_start_background_clould03 {
    display: none; }
  .farmerLocationIcon img {
    width: 30%;
    margin: 1% 0;
    position: absolute;
    bottom: 0;
    top: 30%;
    left: 10%; }
  .about_start_content_orchard {
    width: 40%;
    max-width: 250px;
    position: absolute;
    bottom: 25%;
    left: 4%;
    z-index: 2; }
    .about_start_content_orchard img {
      width: 100%; }
  .about_start_content_mountain01 {
    width: 130%;
    position: absolute;
    left: 35%;
    bottom: 24%;
    z-index: 1; }
    .about_start_content_mountain01 img {
      width: 100%; }
  .about_start_content_mountain02 {
    width: 150%;
    position: absolute;
    bottom: 24%;
    z-index: 1; }
    .about_start_content_mountain02 img {
      width: 100%; }
  .about_start_content_mountain03 {
    width: 136%;
    position: absolute;
    bottom: 33%;
    right: -17%; }
    .about_start_content_mountain03 img {
      width: 100%; }
  .about_start_grass {
    width: 100%;
    height: 50px;
    background-color: #D9E021;
    z-index: 1;
    position: absolute;
    bottom: 22%; }
    .about_start_grass .about_start_grass_soilroad {
      width: 100%;
      height: 30px;
      background-color: #8c6239;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto; }
  .about_start_content_car01 {
    width: 36%;
    position: absolute;
    bottom: 25%;
    right: 19%;
    z-index: 3; }
    .about_start_content_car01 img {
      width: 100%;
      animation: shake .3s  alternate  infinite; }
  .about_start_content_car01_tire1 {
    width: 8%;
    position: absolute;
    right: 36%;
    bottom: 24%;
    z-index: 4; }
    .about_start_content_car01_tire1 img {
      width: 100%;
      animation: rotate 5s linear infinite; }
  .about_start_content_car01_tire2 {
    width: 8%;
    position: absolute;
    right: 21%;
    bottom: 24%;
    z-index: 4; }
    .about_start_content_car01_tire2 img {
      width: 100%;
      animation: rotate 5s linear infinite; }
  .about_start_content_grass01, .about_start_content_grass02 {
    display: none; }
  .about_factory_background_block {
    position: relative;
    height: 100vh; }
  .about_factory_background_clould01 {
    width: 50%;
    position: absolute;
    max-width: 80px;
    top: 8%;
    z-index: 1; }
  .about_factory_background_clould03 {
    display: none; }
  .farmerLocationIcon img {
    width: 30%;
    margin: 1% 0;
    position: absolute;
    bottom: 0;
    top: 30%;
    left: 10%; }
  .about_factory_content_factoryTitle {
    width: 18%;
    max-width: 100px;
    position: absolute;
    bottom: 48%;
    left: 17%;
    z-index: 2; }
    .about_factory_content_factoryTitle img {
      width: 100%; }
  .factoryTitle {
    width: 22%;
    max-width: 155px;
    position: absolute;
    left: 14%;
    bottom: 47%;
    z-index: 2; }
    .factoryTitle img {
      width: 100%; }
  .about_factory_content_factory {
    width: 40%;
    max-width: 250px;
    position: absolute;
    bottom: 28%;
    left: 1%;
    z-index: 2; }
    .about_factory_content_factory img {
      width: 100%; }
  .about_factory_content_orange {
    width: 27%;
    position: absolute;
    right: 1%;
    bottom: 26%;
    z-index: 1; }
    .about_factory_content_orange img {
      width: 100%; }
    .about_factory_content_orange .fruit1 {
      width: 21%;
      position: absolute;
      bottom: 65%;
      right: 13%; }
      .about_factory_content_orange .fruit1 img {
        width: 100%; }
    .about_factory_content_orange .fruit2 {
      width: 21%;
      position: absolute;
      bottom: 52%;
      right: 60%; }
      .about_factory_content_orange .fruit2 img {
        width: 100%; }
    .about_factory_content_orange .fruit3 {
      width: 21%;
      position: absolute;
      bottom: 73%;
      right: 55%; }
      .about_factory_content_orange .fruit3 img {
        width: 100%; }
    .about_factory_content_orange .fruit4 {
      width: 21%;
      position: absolute;
      bottom: 43%;
      right: 22%; }
      .about_factory_content_orange .fruit4 img {
        width: 100%; }
  .about_factory_content_mountain02 {
    width: 150%;
    position: absolute;
    bottom: 24%;
    z-index: 1; }
    .about_factory_content_mountain02 img {
      width: 100%; }
  .about_factory_grass {
    width: 100%;
    height: 50px;
    background-color: #D9E021;
    z-index: 1;
    position: absolute;
    bottom: 20%; }
    .about_factory_grass .about_factory_grass_soilroad {
      width: 100%;
      height: 30px;
      background-color: #8c6239;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto; }
  .about_factory_content_car01 {
    width: 35%;
    position: absolute;
    bottom: 26%;
    left: 46%;
    z-index: 3; }
    .about_factory_content_car01 img {
      width: 100%; }
  .about_factory_content_grass02 {
    display: none; }
  .about_factory_info_blcok {
    width: 40%;
    background-color: #00ac6f;
    position: absolute;
    top: 1%;
    left: 0%;
    right: 0;
    margin: 0% auto;
    border: 5px solid #fff;
    box-shadow: 0 0 0 5px #00ac6f; }
  .about_factory_bird {
    width: 40%;
    left: -18%;
    top: -5%;
    position: absolute; }
  .about_factory_info_blcok_border {
    width: 70%;
    margin: auto; }
  .about_factory_info_item_title {
    width: 80%;
    margin: 10% auto 0; }
    .about_factory_info_item_title img {
      width: 100%; }
  .about_factory_info_item_farmer {
    width: 50%;
    margin: 10% auto; }
    .about_factory_info_item_farmer img {
      width: 100%; }
  .about_factory_info_item_cart_straight {
    width: 35%;
    margin-left: 6%;
    display: inline-block; }
    .about_factory_info_item_cart_straight img {
      width: 100%; }
  .about_factory_info_item_truck_straight {
    width: 35%;
    margin-left: 18%;
    display: inline-block; }
    .about_factory_info_item_truck_straight img {
      width: 100%; }
  .about_factory_info_item_logo {
    width: 40%;
    margin: 10% auto; }
    .about_factory_info_item_logo img {
      width: 100%; }
  .about_factory_info_item_truck_horizontal,
  .about_factory_info_item_cart_horizontal {
    display: none; }
  #section3 {
    background-color: #00B5BD;
    height: 100vh; }
  .about_end_background {
    position: absolute;
    width: 100%;
    height: 100vh;
    bottom: 140px; }
  .about_end_background_shadow {
    width: 100%;
    position: absolute;
    bottom: 0; }
    .about_end_background_shadow img {
      width: 100%; }
  .about_end_background_house {
    width: 100%;
    position: absolute;
    bottom: 6%; }
    .about_end_background_house img {
      width: 100%; }
  .about_end_background_house2 {
    display: none; }
  .about_end_background_road {
    width: 100%;
    position: absolute;
    bottom: 1%; }
    .about_end_background_road img {
      width: 100%;
      font-size: 0; }
  .about_end_background_road2 {
    display: none; }
  .about_end_background_bounce {
    width: 15%;
    position: absolute;
    bottom: 22%;
    left: 17%; }
    .about_end_background_bounce img {
      width: 100%;
      margin: 10% 0 0;
      animation: bounce .5s infinite alternate; }
  .about_end_background_truck {
    width: 25%;
    position: absolute;
    bottom: 6%;
    left: 14%; }
    .about_end_background_truck img {
      width: 100%;
      animation: shake .3s  alternate  infinite; }
  .about_end_background_truckTire1 {
    width: 6%;
    position: absolute;
    bottom: 6%;
    left: 21%; }
    .about_end_background_truckTire1 img {
      width: 100%;
      animation: rotate 5s linear infinite; }
  .about_end_background_truckTire2 {
    width: 6%;
    position: absolute;
    bottom: 6%;
    left: 32%; }
    .about_end_background_truckTire2 img {
      width: 100%;
      animation: rotate 5s linear infinite; }
  #cf503461-00bd-459a-aeb5-062ebc913211 {
    width: 80%;
    height: 100vh;
    position: absolute;
    bottom: 12%;
    left: -14%; }
  .title_area {
    width: 45%;
    height: 30%;
    position: absolute;
    left: 49%;
    top: 40%;
    color: white;
    font-size: 30px;
    padding: 2%; }
  .forcast {
    width: 90%;
    height: 77%; }
    .forcast h5 {
      font-size: 18px; }
  .about_taiwan_background_mountain {
    width: 79%;
    position: absolute;
    bottom: 21%;
    left: 7%; }
    .about_taiwan_background_mountain img {
      width: 100%; }
  .about_taiwan_background_cloud {
    width: 20%;
    position: absolute;
    left: 4%; }
    .about_taiwan_background_cloud img {
      width: 100%;
      animation: flutter 5s linear infinite; }
  .about_taiwan_background_cloud2 {
    width: 30%;
    position: absolute;
    left: 61%;
    top: 5%;
    z-index: -2; }
    .about_taiwan_background_cloud2 img {
      width: 100%;
      animation: flutter 5s linear infinite; }
  .about_taiwan_background_mountain2,
  .about_taiwan_background_grass {
    display: none; }
  .about_cooperation_info_blcok {
    width: 65%;
    background-color: #00ac6f;
    position: absolute;
    top: 7%;
    left: -15%;
    right: 0;
    margin: 1% auto;
    padding: 5% 0;
    border: 5px solid #fff;
    box-shadow: 0 0 0 20px #00ac6f;
    z-index: 6;
    line-height: 1.2; }
  .about_cooperation_info_blcok_border {
    width: 80%;
    margin: auto; }
  .about_cooperation_info_item_title {
    width: 80%;
    margin: auto; }
    .about_cooperation_info_item_title img {
      width: 100%; } }

@media all and (min-width: 768px) {
  .about_start_background_block {
    position: relative;
    height: 100vh; }
  .about_start_background_clould01 {
    position: absolute;
    width: 20%; }
  .about_start_background_clould03 {
    width: 20%;
    position: absolute;
    right: 1%;
    top: 10%; }
  .about_start_content_orchard {
    width: 30%;
    position: absolute;
    bottom: 20%;
    z-index: 3; }
    .about_start_content_orchard img {
      width: 100%; }
  .about_start_content_mountain01 {
    position: absolute;
    width: 90%;
    right: -5%;
    bottom: 22%;
    z-index: 1; }
    .about_start_content_mountain01 img {
      width: 100%; }
  .about_start_content_mountain02 {
    width: 80%;
    position: absolute;
    bottom: 25%;
    z-index: 1; }
    .about_start_content_mountain02 img {
      width: 100%; }
  .about_start_content_mountain03 {
    width: 100%;
    position: absolute;
    bottom: 33%;
    right: -17%; }
    .about_start_content_mountain03 img {
      width: 100%; }
  .about_start_grass {
    width: 100%;
    height: 110px;
    background-color: #D9E021;
    position: absolute;
    bottom: 12%;
    z-index: 2; }
    .about_start_grass .about_start_grass_soilroad {
      width: 100%;
      height: 74px;
      background-color: #8c6239;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto; }
  .about_start_content_grass01 {
    width: 20%;
    position: absolute;
    bottom: 23%;
    left: 40%;
    z-index: 2; }
    .about_start_content_grass01 img {
      width: 100%; }
  .about_start_content_grass02 {
    width: 35%;
    position: absolute;
    right: 0;
    bottom: 25%;
    z-index: 3; }
    .about_start_content_grass02 img {
      width: 100%; }
  .about_start_content_car01 {
    width: 25%;
    height: 100%;
    position: absolute;
    top: 58%;
    right: 5%;
    z-index: 4; }
    .about_start_content_car01 img {
      width: 100%;
      animation: shake .3s  alternate  infinite; }
  .about_start_content_car01_tire1 {
    width: 5%;
    position: absolute;
    right: 17%;
    bottom: 19%;
    z-index: 6; }
    .about_start_content_car01_tire1 img {
      width: 100%;
      animation: rotate 5s linear infinite; }
  .about_start_content_car01_tire2 {
    width: 5%;
    position: absolute;
    right: 7%;
    bottom: 19%;
    z-index: 6; }
    .about_start_content_car01_tire2 img {
      width: 100%;
      animation: rotate 5s linear infinite; }
  .about_factory_background_block {
    position: relative;
    height: 100vh; }
  .about_factory_background_clould01 {
    position: absolute;
    width: 15%;
    left: 5%;
    z-index: 3; }
  .about_factory_background_clould03 {
    width: 20%;
    position: absolute;
    right: 1%;
    top: 10%; }
  .about_factory_content_factoryTitle {
    position: absolute;
    z-index: 2;
    width: 10%;
    max-width: 120px;
    left: 11%;
    top: 24%; }
    .about_factory_content_factoryTitle img {
      margin: 10% 0 0;
      width: 100%; }
  .factoryTitle {
    width: 15%;
    max-width: 170px;
    position: absolute;
    left: 10%;
    top: 38%;
    z-index: 4; }
    .factoryTitle img {
      width: 100%; }
  .about_factory_content_factory {
    width: 18%;
    position: absolute;
    bottom: 22%;
    left: 3%;
    z-index: 3; }
    .about_factory_content_factory img {
      width: 100%; }
  .about_factory_content_orange {
    position: absolute;
    width: 18%;
    right: 2%;
    bottom: 22%;
    z-index: 1; }
    .about_factory_content_orange img {
      width: 100%; }
    .about_factory_content_orange .fruit1 {
      width: 21%;
      position: absolute;
      bottom: 65%;
      right: 13%; }
      .about_factory_content_orange .fruit1 img {
        width: 100%; }
    .about_factory_content_orange .fruit2 {
      width: 21%;
      position: absolute;
      bottom: 52%;
      right: 60%; }
      .about_factory_content_orange .fruit2 img {
        width: 100%; }
    .about_factory_content_orange .fruit3 {
      width: 21%;
      position: absolute;
      bottom: 73%;
      right: 55%; }
      .about_factory_content_orange .fruit3 img {
        width: 100%; }
    .about_factory_content_orange .fruit4 {
      width: 21%;
      position: absolute;
      bottom: 43%;
      right: 22%; }
      .about_factory_content_orange .fruit4 img {
        width: 100%; }
  .about_factory_content_mountain02 {
    width: 80%;
    position: absolute;
    bottom: 13%;
    z-index: 0; }
    .about_factory_content_mountain02 img {
      width: 100%; }
  .about_factory_grass {
    width: 100%;
    height: 110px;
    background-color: #D9E021;
    position: absolute;
    bottom: 13%;
    z-index: 2; }
    .about_factory_grass .about_factory_grass_soilroad {
      width: 100%;
      height: 74px;
      background-color: #8c6239;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto; }
  .about_factory_content_grass02 {
    width: 32%;
    position: absolute;
    right: 0;
    bottom: 21%;
    z-index: 1; }
    .about_factory_content_grass02 img {
      width: 100%; }
  .about_factory_content_car01 {
    width: 25%;
    position: absolute;
    bottom: 20%;
    left: 28%;
    z-index: 4; }
    .about_factory_content_car01 img {
      width: 100%; }
  .about_factory_info_blcok {
    width: 35%;
    background-color: #00ac6f;
    position: absolute;
    top: 0;
    left: 5%;
    right: 0;
    margin: 3% auto;
    padding: 1% 0;
    z-index: 1;
    border: 10px solid #fff;
    border-radius: 10px;
    box-shadow: 0 0 0 20px #00ac6f;
    position: relative; }
  .about_factory_bird {
    width: 18%;
    top: -6%;
    left: -8%;
    position: absolute; }
  .about_factory_info_blcok_border {
    width: 65%;
    margin: auto; }
  .about_factory_info_item_title {
    width: 70%;
    margin: 5% auto 0; }
    .about_factory_info_item_title img {
      width: 100%; }
  .about_factory_info_item_farmer {
    width: 20%;
    margin: 2% 10%;
    display: inline-block; }
    .about_factory_info_item_farmer img {
      width: 130%; }
  .about_factory_info_item_truck_horizontal {
    width: 35%;
    margin: auto; }
    .about_factory_info_item_truck_horizontal img {
      width: 100%; }
  .about_factory_info_item_logo {
    width: 20%;
    display: inline-block;
    margin-left: 35%; }
    .about_factory_info_item_logo img {
      width: 130%; }
  .about_factory_info_item_cart_horizontal {
    width: 35%;
    margin: 3% auto; }
    .about_factory_info_item_cart_horizontal img {
      width: 100%; }
  .about_factory_info_item_cart_straight, .about_factory_info_item_truck_straight {
    display: none; }
  #section3 {
    background-color: #00B5BD;
    height: 100vh; }
  .about_end_background {
    position: relative;
    width: 100%;
    height: 100vh;
    bottom: 140px; }
  .about_end_background_shadow {
    width: 75%;
    position: absolute;
    bottom: 0;
    right: 0; }
    .about_end_background_shadow img {
      width: 100%; }
  .about_end_background_house {
    width: 70%;
    position: absolute;
    bottom: 8%;
    left: 0; }
    .about_end_background_house img {
      width: 100%; }
  .about_end_background_house2 {
    width: 70%;
    position: absolute;
    bottom: 8%;
    right: 0; }
    .about_end_background_house2 img {
      width: 100%; }
  .about_end_background_road {
    width: 50%;
    position: absolute;
    bottom: 0; }
    .about_end_background_road img {
      width: 100%;
      font-size: 0; }
  .about_end_background_road2 {
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 50%; }
    .about_end_background_road2 img {
      width: 100%;
      font-size: 0; }
  .about_end_background_bounce {
    width: 5%;
    position: absolute;
    bottom: 45%;
    left: 15%; }
    .about_end_background_bounce img {
      width: 100%;
      margin: 10% 0 0;
      animation: bounce .5s infinite alternate; }
  .about_end_background_truck {
    width: 25%;
    position: absolute;
    bottom: 8%;
    left: 10%; }
    .about_end_background_truck img {
      width: 100%;
      animation: shake .3s  alternate  infinite; }
  .about_end_background_truckTire1 {
    width: 5%;
    position: absolute;
    bottom: 8%;
    left: 18%; }
    .about_end_background_truckTire1 img {
      width: 100%;
      animation: rotate 5s linear infinite; }
  .about_end_background_truckTire2 {
    width: 5%;
    position: absolute;
    bottom: 8%;
    left: 28%; }
    .about_end_background_truckTire2 img {
      width: 100%;
      animation: rotate 5s linear infinite; }
  .about_end_formInfo {
    margin: 2% auto 0;
    width: 100%;
    height: 100%;
    border-radius: 10px; }
    .about_end_formInfo .about_end_formInfo_content {
      line-height: 1.6;
      margin: auto;
      color: #fff;
      padding: 5%;
      border: 1px solid #fff;
      border-radius: 10px; }
  svg {
    width: 25%;
    height: 100vh;
    position: absolute;
    bottom: 15%;
    left: 22%; }
  .title_area {
    width: 25%;
    position: absolute;
    left: 43%;
    top: 32%;
    color: white;
    font-size: 30px;
    padding: 2%; }
  .about_taiwan_background_mountain {
    width: 70%;
    position: absolute;
    bottom: 14%;
    left: 22%; }
    .about_taiwan_background_mountain img {
      width: 100%; }
  .about_taiwan_background_mountain2 {
    width: 70%;
    position: absolute;
    bottom: 14%;
    left: -22%; }
    .about_taiwan_background_mountain2 img {
      width: 100%; }
  .about_taiwan_background_grass {
    width: 100%;
    height: 10%;
    background-color: #D9E021;
    position: absolute;
    bottom: 130px;
    z-index: 1;
    display: inline-block;
    font-size: 0; }
    .about_taiwan_background_grass::before {
      content: '';
      display: inline-block;
      width: 0;
      height: 100%;
      vertical-align: middle; }
  .about_taiwan_background_road {
    width: 30%;
    display: inline-block;
    vertical-align: middle; }
    .about_taiwan_background_road img {
      width: 100%; }
  .about_taiwan_background_sheep {
    width: 60%;
    position: absolute;
    bottom: 100%;
    left: 30%; }
    .about_taiwan_background_sheep img {
      width: 100%; }
  .about_taiwan_background_tree {
    width: 10%;
    position: absolute;
    right: 5%;
    bottom: 100%; }
    .about_taiwan_background_tree img {
      width: 100%; }
  .about_taiwan_background_cloud {
    width: 20%;
    position: absolute;
    left: 4%; }
    .about_taiwan_background_cloud img {
      width: 100%;
      animation: flutter 5s linear infinite; }
  .about_taiwan_background_cloud2 {
    width: 20%;
    position: absolute;
    left: 61%;
    top: 5%;
    z-index: -2; }
    .about_taiwan_background_cloud2 img {
      width: 100%;
      animation: flutter 5s linear infinite; }
  .about_taiwan_background_truck {
    position: absolute;
    bottom: 100%;
    width: 25%;
    left: 5%; }
    .about_taiwan_background_truck img {
      width: 100%;
      animation: shake .3s  alternate  infinite; }
  .about_taiwan_background_truckTire1 {
    width: 5%;
    position: absolute;
    bottom: 83%;
    left: 13%; }
    .about_taiwan_background_truckTire1 img {
      width: 100%;
      animation: rotate 5s linear infinite; }
  .about_taiwan_background_truckTire2 {
    width: 5%;
    position: absolute;
    bottom: 83%;
    left: 23.5%; }
    .about_taiwan_background_truckTire2 img {
      width: 100%;
      animation: rotate 5s linear infinite; }
  .about_cooperation_info_blcok {
    width: 40%;
    background-color: #00ac6f;
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
    margin: 3% auto;
    padding: 4% 0;
    border-radius: 10px;
    border: 10px solid #fff;
    box-shadow: 0 0 0 20px #00ac6f;
    z-index: 6; }
  .about_cooperation_info_blcok_border {
    width: 85%;
    margin: auto;
    text-align: center; }
  .about_cooperation_info_item_title {
    width: 70%;
    margin: auto; }
    .about_cooperation_info_item_title img {
      width: 100%;
      margin-bottom: 10%; } }
