@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  display: block;
  content: '';
  clear: both; }

body {
  font-family: "Microsoft JhengHei"; }

.wrapper {
  margin: 0 auto; }

.wrapper {
  max-width: 1200px;
  width: 100%; }

@media only screen and (max-width: 767px) {
  .cl-s-1, .cl-s-2, .cl-s-3, .cl-s-4, .cl-s-5, .cl-s-6,
  .cl-s-7, .cl-s-8, .cl-s-9, .cl-s-10, .cl-s-11, .cl-s-12 {
    float: left;
    box-sizing: border-box; }
  .cl-s-1 {
    width: 8.33333%; }
  .cl-s-2 {
    width: 16.66667%; }
  .cl-s-3 {
    width: 25%; }
  .cl-s-4 {
    width: 33.33333%; }
  .cl-s-5 {
    width: 41.66667%; }
  .cl-s-6 {
    width: 50%; }
  .cl-s-7 {
    width: 58.33333%; }
  .cl-s-8 {
    width: 66.66667%; }
  .cl-s-9 {
    width: 75%; }
  .cl-s-10 {
    width: 83.33333%; }
  .cl-s-11 {
    width: 91.66667%; }
  .cl-s-12 {
    width: 100%; }
  h2 {
    font-size: 26px; }
  h3 {
    font-size: 20px; }
  h4 {
    font-size: 18px; }
  p {
    font-size: 16px; } }

@media all and (min-width: 768px) {
  .cl-md-1, .cl-md-2, .cl-md-3, .cl-md-4, .cl-md-5, .cl-md-6,
  .cl-md-7, .cl-md-8, .cl-md-9, .cl-md-10, .cl-md-11, .cl-md-12 {
    float: left;
    box-sizing: border-box; }
  .cl-md-1 {
    width: 8.33333%; }
  .cl-md-2 {
    width: 16.66667%; }
  .cl-md-3 {
    width: 25%; }
  .cl-md-4 {
    width: 33.33333%; }
  .cl-md-5 {
    width: 41.66667%; }
  .cl-md-6 {
    width: 50%; }
  .cl-md-7 {
    width: 58.33333%; }
  .cl-md-8 {
    width: 66.66667%; }
  .cl-md-9 {
    width: 75%; }
  .cl-md-10 {
    width: 83.33333%; }
  .cl-md-11 {
    width: 91.66667%; }
  .cl-md-12 {
    width: 100%; }
  h2 {
    font-size: 32px; }
  h3 {
    font-size: 24px; }
  h4 {
    font-size: 18px; }
  p {
    font-size: 16px; } }

@media all and (min-width: 1024px) {
  .cl-xl-1, .cl-xl-2, .cl-xl-3, .cl-xl-4, .cl-xl-5, .cl-xl-6,
  .cl-xl-7, .cl-xl-8, .cl-xl-9, .cl-xl-10, .cl-xl-11, .cl-xl-12 {
    float: left;
    box-sizing: border-box; }
  .cl-xl-1 {
    width: 8.33333%; }
  .cl-xl-2 {
    width: 16.66667%; }
  .cl-xl-3 {
    width: 25%; }
  .cl-xl-4 {
    width: 33.33333%; }
  .cl-xl-5 {
    width: 41.66667%; }
  .cl-xl-6 {
    width: 50%; }
  .cl-xl-7 {
    width: 58.33333%; }
  .cl-xl-8 {
    width: 66.66667%; }
  .cl-xl-9 {
    width: 75%; }
  .cl-xl-10 {
    width: 83.33333%; }
  .cl-xl-11 {
    width: 91.66667%; }
  .cl-xl-12 {
    width: 100%; } }

img {
  width: 100%;
  vertical-align: middle; }

a {
  text-decoration: none;
  color: #5e4909; }

.common_btn {
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 14px;
  width: 160px;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: .1rem;
  text-align: center;
  text-decoration: none;
  border-radius: 11px;
  overflow: hidden; }
  .common_btn .common_btn_blobs {
    height: 100%;
    -webkit-filter: url(#goo);
    filter: url(#goo);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -3px;
    right: -1px;
    border-radius: 11px;
    width: 110%; }
    .common_btn .common_btn_blobs div {
      width: 34%;
      height: 100%;
      border-radius: 100%;
      position: absolute;
      -webkit-transform: scale(1.4) translateY(125%) translateZ(0);
      transform: scale(1.4) translateY(125%) translateZ(0);
      -webkit-transition: all 700ms ease;
      transition: all 700ms ease; }
    .common_btn .common_btn_blobs div:nth-child(1) {
      left: -5%; }
    .common_btn .common_btn_blobs div:nth-child(2) {
      left: 30%;
      -webkit-transition-delay: 60ms;
      transition-delay: 60ms; }
    .common_btn .common_btn_blobs div:nth-child(3) {
      left: 66%;
      -webkit-transition-delay: 25ms;
      transition-delay: 25ms; }
  .common_btn .common_btn_txt {
    position: relative;
    z-index: 1;
    -webkit-transition: color .3s;
    transition: color .3s;
    -webkit-transition-delay: .2s;
    transition-delay: .2s; }
  .common_btn:hover .common_btn_blobs div {
    -webkit-transform: scale(1.5) translateY(0) translateZ(0);
    transform: scale(1.5) translateY(0) translateZ(0); }

/* 一級按鈕背景文字 */
.common_btn_first {
  background-color: #ffd700;
  /* 一級按鈕hover過去的背景和文字顏色 */ }
  .common_btn_first .common_btn_txt {
    color: #603813; }
  .common_btn_first .common_btn_blobs div {
    background-color: #90A30B; }
  .common_btn_first:hover .common_btn_txt {
    color: #fff; }

/* 二級按鈕背景文字 */
.common_btn_second {
  background-color: #90A30B;
  /* 二級按鈕hover過去的背景和文字顏色 */ }
  .common_btn_second .common_btn_txt {
    color: #fff; }
  .common_btn_second .common_btn_blobs div {
    background-color: #ffd700; }
  .common_btn_second:hover .common_btn_txt {
    color: #603813; }

h1 {
  font-size: 0; }

#hb_control {
  display: none; }

header {
  overflow: hidden; }
  header nav {
    position: fixed;
    width: 100%;
    z-index: 100; }
    header nav li a {
      font-weight: 900;
      position: relative;
      letter-spacing: .1em; }
    header nav li > a:after {
      content: '';
      position: absolute;
      bottom: -0.6em;
      left: -2%;
      width: 104%;
      height: 5px;
      transform: scaleX(0);
      background-color: #603813;
      transition: all .2s ease;
      opacity: 0.6; }
    header nav li > a:hover::after {
      transform: scaleX(1); }
  header .nav_mem {
    display: flex;
    position: absolute;
    z-index: 3;
    right: 10px;
    top: 5px; }
    header .nav_mem p {
      vertical-align: middle;
      line-height: 25px;
      margin-right: 10px; }
    header .nav_mem .mem_pic {
      width: 25px;
      margin-right: 8px; }
  header .menu {
    font-size: 20px;
    position: absolute;
    width: 100%; }

#svg-2 {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  width: 200%;
  height: 130px;
  z-index: -2; }

#wave {
  position: fixed;
  display: block;
  vertical-align: middle;
  left: 0;
  top: 0;
  height: 140px;
  width: 300%;
  fill: white;
  -webkit-animation: move 5s 1s linear infinite alternate;
  animation: move 5s .5s linear infinite alternate; }

#wave2 {
  position: fixed;
  display: block;
  vertical-align: middle;
  left: 0;
  top: 0;
  height: 150px;
  width: 300%;
  fill: #f4d66d;
  -webkit-animation: move 10s linear infinite alternate;
  animation: move 10s linear infinite alternate; }

.robot {
  position: fixed;
  width: 110px;
  bottom: 0;
  right: 0;
  z-index: 50; }

.coupon {
  position: fixed;
  width: 100px;
  top: 110px;
  right: 2%;
  z-index: 100; }

@media only screen and (max-width: 767px) {
  .robot {
    width: 80px; }
  .coupon {
    top: 140px;
    width: 70px; }
  #svg-2 {
    transition: height 1.3s 0.5s ,width 2s; }
  #wave {
    height: 95px;
    transition: 1s; }
  #wave2 {
    height: 100px;
    transition: 1s; }
  .menu {
    text-align: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin-top: 40px;
    position: absolute;
    left: -1000px;
    opacity: 0;
    transition: left 0s 1s,opacity 1s 0s; }
    .menu .menu_item {
      margin: 40px; }
    .menu .menu_logo {
      display: none; }
  .ph_nav {
    display: relative;
    width: 100%;
    margin-top: 7px; }
    .ph_nav .phone_logo {
      width: 60px;
      margin: auto; }
    .ph_nav .hb {
      padding: 20px 15px;
      float: left;
      margin: 14px 0 0 5%; }
      .ph_nav .hb span {
        display: block;
        height: 2px;
        width: 25px;
        background-color: #5e4909;
        position: relative; }
        .ph_nav .hb span:after, .ph_nav .hb span:before {
          content: '';
          display: block;
          height: 2px;
          width: 25px;
          background-color: #5e4909;
          position: absolute; }
        .ph_nav .hb span:before {
          top: -6px; }
        .ph_nav .hb span:after {
          top: 6px; } }

#hb_control:checked ~ nav #svg-2 {
  transition: 2s;
  height: 110vh;
  width: 1000%; }

#hb_control:checked ~ nav #wave {
  transition: 2s;
  width: 900%;
  height: 107vh;
  animation: move2 3s 1s linear infinite alternate; }

#hb_control:checked ~ nav #wave2 {
  height: 108vh;
  transition: 2s;
  width: 1000%;
  animation: move2 5s linear infinite alternate; }

#hb_control:checked ~ nav .menu {
  transition: left 0s ,opacity 2s 1s;
  opacity: 1;
  left: 0; }

@media all and (min-width: 768px) {
  .ph_nav {
    display: none; }
  #svg-2 {
    height: 150px; }
  .menu {
    max-width: 1200px;
    left: 0;
    right: 0;
    margin: 10px auto; }
    .menu ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      margin: 0px 130px; }
    .menu li {
      display: inline-block; }
    .menu .menu_logo {
      width: 90px; } }

@keyframes move {
  0% {
    transform: translate(-30%, 0%); }
  100% {
    transform: translate(0%, 0%); } }

@keyframes move2 {
  0% {
    transform: translate(-20%, 0%); }
  100% {
    transform: translate(0%, 0%); } }

@-webkit-keyframes move {
  0% {
    transform: translate(-40%, 0%); }
  100% {
    transform: translate(0%, 0%); } }

@-webkit-keyframes move2 {
  0% {
    transform: translate(-20%, 0%); }
  100% {
    transform: translate(0%, 0%); } }

<<<<<<< HEAD
=======
/*分頁做法
header nav  li:nth-child(2) > a:after {
    transform: scaleX(1);
}
*/
>>>>>>> diy
footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0; }

@media only screen and (max-width: 767px) {
  .footer_wrapper {
    text-align: center; }
    .footer_wrapper .footer_block {
      margin: 0 auto; }
      .footer_wrapper .footer_block .footer_rightBox .footer_rightContent {
        padding: 8px 0; }
        .footer_wrapper .footer_block .footer_rightBox .footer_rightContent .desc {
          display: inline-block;
          padding: 5px;
          font-size: 2vw; }
        .footer_wrapper .footer_block .footer_rightBox .footer_rightContent .copyright {
          font-size: 1vw; } }

@media all and (min-width: 768px) {
  .footer_wrapper {
    position: relative;
    text-align: center;
    margin: 0 auto; }
    .footer_wrapper .footer_block {
      margin: 0 auto; }
      .footer_wrapper .footer_block .footer_rightBox .footer_rightContent {
        padding: 8px 0; }
        .footer_wrapper .footer_block .footer_rightBox .footer_rightContent .desc {
          display: inline-block;
          padding: 5px; }
        .footer_wrapper .footer_block .footer_rightBox .footer_rightContent .copyright {
          font-size: 12px; } }

footer {
  position: fixed; }

.footer_block {
  background-color: #dde4b7; }

@media only screen and (max-width: 767px) {
  .space {
    height: 130px;
    width: 100%; }
  .cart_shoppingProcess_control {
    width: 100%;
    text-align: center; }
    .cart_shoppingProcess_control img {
      width: 5%; }
  .cart_shoppingProcess_step {
    width: 80px;
    height: 80px;
    display: inline-block;
    border: 3px solid #7f4f21;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle; }
    .cart_shoppingProcess_step:before {
      content: '';
      display: inline-block;
      height: 100%;
      width: 0;
      vertical-align: middle; }
    .cart_shoppingProcess_step img {
      width: 40%;
      display: inline-block;
      position: relative;
      top: -40px; }
    .cart_shoppingProcess_step span {
      margin-top: -30px;
      text-align: center;
      display: inline-block;
      font-weight: bold;
      font-size: 18px;
      color: #6a3906;
      position: relative;
      top: -20px; }
    .cart_shoppingProcess_step p {
      font-weight: bold;
      color: #6a3906;
      margin-bottom: 5px; }
  .cart_shoppingProcess_step2 {
    width: 80px;
    height: 80px;
    display: inline-block;
    border: 3px solid #7f4f21;
    background-color: #7f4f21;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle; }
    .cart_shoppingProcess_step2:before {
      content: '';
      display: inline-block;
      height: 100%;
      width: 0;
      vertical-align: middle; }
    .cart_shoppingProcess_step2 img {
      width: 40%;
      display: inline-block;
      position: relative;
      top: -40px; }
    .cart_shoppingProcess_step2 span {
      margin-top: -30px;
      text-align: center;
      display: inline-block;
      font-weight: bold;
      font-size: 18px;
      color: #FFF;
      position: relative;
      top: -20px; }
    .cart_shoppingProcess_step2 p {
      width: 100px;
      font-weight: bold;
      font-size: 16px;
      color: #6a3906;
      text-align: center;
      vertical-align: middle; }
  .space2 {
    height: 50px;
    width: 100%; }
  .cart_fillInData_title_control {
    width: 81.5%;
    margin: 0 auto; }
  .cart_fillInData_title {
    margin: 10px auto 0 auto; }
    .cart_fillInData_title h2 {
      font-weight: bold;
      color: #FFF;
      text-align: center;
      margin: 0 auto;
      background-color: #8ecf57;
      border: 3px solid #6a3906;
      border-bottom: 0;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      padding: 10px; }
  .cart_fillInData_control {
    width: 80%;
    height: 60vh;
    margin: 0 auto;
    border: 3px solid #6a3906;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #ecd06d; }
    .cart_fillInData_control .cart_fillInData_content {
      width: 80%;
      margin: 15px auto; }
      .cart_fillInData_control .cart_fillInData_content p {
        color: #6a3906; }
      .cart_fillInData_control .cart_fillInData_content h4 {
        width: 40%;
        float: left;
        color: #6a3906;
        font-weight: bold;
        text-align: left;
        padding: 5px 10px; }
      .cart_fillInData_control .cart_fillInData_content input {
        width: 61%;
        border-radius: 5px; }
      .cart_fillInData_control .cart_fillInData_content textarea {
        border-radius: 5px; }
      .cart_fillInData_control .cart_fillInData_content #paymentMethod {
        width: 20%;
        vertical-align: middle;
        position: relative;
        left: 3vh;
        top: -2.5vh; }
      .cart_fillInData_control .cart_fillInData_content .cart_fillInData_paymentMethod_comtrol {
        width: 70%;
        height: 2vh;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        line-height: 2vh;
        margin: 0.5vh 1.5vh 0.5vh 1.5vh; }
      .cart_fillInData_control .cart_fillInData_content .cart_fillInData_paymentMethod {
        width: 100%;
        float: left;
        text-align: left;
        margin-left: 0%;
        vertical-align: middle; }
      .cart_fillInData_control .cart_fillInData_content #cart_address {
        width: 90%; }
      .cart_fillInData_control .cart_fillInData_content #cart_remarks {
        width: 98%;
        height: 8vh;
        text-align: left;
        margin: 0 auto; }
      .cart_fillInData_control .cart_fillInData_content img {
        display: none; }
  .cart_shoppingProcess_box {
    margin: 0 auto;
    width: 60%;
    display: flex;
    justify-content: center;
    justify-content: space-around; }
    .cart_shoppingProcess_box p {
      padding: 7%;
      white-space: nowrap;
      color: #6a3906;
      font-weight: bold; }
  .cart_nextstepBox {
    width: 100%;
    text-align: center; }
    .cart_nextstepBox .cart_nextstep2 {
      width: 25%;
      line-height: 50px;
      text-align: center; }
      .cart_nextstepBox .cart_nextstep2 button {
        width: 100px;
        height: 4vh;
        border-radius: 10px;
        background-color: #fff100;
        color: #5e4909;
        font-weight: bold;
        font-size: 18px;
        margin: 0 5px; }
  .cart_cart2Background {
    position: relative; }
    .cart_cart2Background img {
      position: absolute;
      bottom: -20vh;
      z-index: -1; } }

@media all and (min-width: 768px) {
  .space {
    height: 180px;
    width: 100%; }
  .cart_shoppingProcess_control {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    text-align: center; }
    .cart_shoppingProcess_control img {
      width: 3%; }
  .cart_shoppingProcess_step {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    display: inline-block;
    border: 3px solid #7f4f21;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle; }
    .cart_shoppingProcess_step:before {
      content: '';
      display: inline-block;
      height: 100%;
      width: 0;
      vertical-align: middle; }
    .cart_shoppingProcess_step img {
      width: 40%;
      display: inline-block;
      position: relative;
      top: -80px; }
    .cart_shoppingProcess_step span {
      width: 100px;
      text-align: center;
      display: inline-block;
      font-weight: bold;
      font-size: 24px;
      color: #6a3906;
      position: relative;
      top: -25px; }
    .cart_shoppingProcess_step p {
      width: 100px;
      font-weight: bold;
      font-size: 16px;
      color: #6a3906;
      text-align: center;
      vertical-align: middle; }
  .cart_shoppingProcess_step2 {
    width: 150px;
    height: 150px;
    display: inline-block;
    border: 3px solid #7f4f21;
    background-color: #7f4f21;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle; }
    .cart_shoppingProcess_step2:before {
      content: '';
      display: inline-block;
      height: 100%;
      width: 0;
      vertical-align: middle; }
    .cart_shoppingProcess_step2 img {
      width: 40%;
      display: inline-block;
      position: relative;
      top: -80px; }
    .cart_shoppingProcess_step2 span {
      width: 100px;
      margin-top: -30px;
      text-align: center;
      display: inline-block;
      font-weight: bold;
      font-size: 24px;
      color: #FFF;
      position: relative;
      top: -25px; }
    .cart_shoppingProcess_step2 p {
      width: 100px;
      font-weight: bold;
      font-size: 16px;
      color: #6a3906;
      text-align: center;
      vertical-align: middle; }
  .cart_shoppingProcess_box {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    text-align: center; }
    .cart_shoppingProcess_box p {
      font-size: 20px;
      font-weight: bold;
      display: inline-block;
      color: #6a3906;
      padding: 10px 0; }
  .space2 {
    height: 50px;
    width: 100%; }
  .cart_fillInData_title_control {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto; }
    .cart_fillInData_title_control .cart_fillInData_title {
      width: 706px;
      margin: 30px auto 0 auto; }
      .cart_fillInData_title_control .cart_fillInData_title h2 {
        font-weight: bold;
        color: #FFF;
        text-align: center;
        margin: 0 auto;
        background-color: #8ecf57;
        border: 3px solid #6a3906;
        border-bottom: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 10px; }
  .cart_fillInData {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto; }
  .cart_fillInData_control {
    width: 700px;
    height: 530px;
    margin: 0 auto 20px auto;
    border: 3px solid #6a3906;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #ecd06d; }
    .cart_fillInData_control .cart_fillInData_content {
      width: 500px;
      margin: 15px auto; }
      .cart_fillInData_control .cart_fillInData_content h4 {
        font-size: 24px;
        width: 100px;
        float: left;
        color: #6a3906;
        font-weight: bold;
        text-align: left;
        padding: 5px 0; }
      .cart_fillInData_control .cart_fillInData_content input {
        height: 20px;
        border-radius: 5px;
        margin-top: 5px; }
      .cart_fillInData_control .cart_fillInData_content textarea {
        border-radius: 5px; }
      .cart_fillInData_control .cart_fillInData_content #paymentMethod {
        width: 15px;
        vertical-align: middle;
        position: relative;
        top: -62px;
        left: -110px; }
      .cart_fillInData_control .cart_fillInData_content .cart_fillInData_paymentMethod_comtrol {
        width: 500px;
        height: 60px;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        line-height: 60px; }
      .cart_fillInData_control .cart_fillInData_content .cart_fillInData_paymentMethod {
        font-size: 16px;
        color: #6a3906;
        width: 100px;
        font-weight: bold;
        vertical-align: middle;
        text-align: left; }
      .cart_fillInData_control .cart_fillInData_content #cart_address {
        width: 400px; }
      .cart_fillInData_control .cart_fillInData_content #cart_remarks {
        width: 480px;
        height: 100px;
        text-align: left;
        margin: 0 auto; }
      .cart_fillInData_control .cart_fillInData_content img {
        width: 50px;
        position: relative;
        top: -62px;
        left: -110px; }
  .cart_shoppingProcess_box {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    text-align: center; }
    .cart_shoppingProcess_box p {
      font-size: 20px;
      font-weight: bold;
      display: inline-block;
      width: 200px;
      color: #6a3906;
      padding: 10px 0; }
  .cart_nextstepBox {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center; }
    .cart_nextstepBox .cart_nextstep2 {
      width: 120px;
      line-height: 50px;
      text-align: center; }
      .cart_nextstepBox .cart_nextstep2 button {
        width: 100px;
        height: 4vh;
        border-radius: 10px;
        background-color: #fff100;
        color: #5e4909;
        font-weight: bold;
        font-size: 18px;
        margin: 0 5px; }
  .cart_cart2Background {
    position: relative; }
    .cart_cart2Background img {
      position: absolute;
      bottom: -20vh;
      z-index: -1; } }
