@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  display: block;
  content: '';
  clear: both; }

body {
  font-family: "Microsoft JhengHei"; }

.wrapper {
  margin: 0 auto; }

.wrapper {
  max-width: 1200px;
  width: 100%; }

@media only screen and (max-width: 767px) {
  .cl-s-1, .cl-s-2, .cl-s-3, .cl-s-4, .cl-s-5, .cl-s-6,
  .cl-s-7, .cl-s-8, .cl-s-9, .cl-s-10, .cl-s-11, .cl-s-12 {
    float: left;
    box-sizing: border-box; }
  .cl-s-1 {
    width: 8.33333%; }
  .cl-s-2 {
    width: 16.66667%; }
  .cl-s-3 {
    width: 25%; }
  .cl-s-4 {
    width: 33.33333%; }
  .cl-s-5 {
    width: 41.66667%; }
  .cl-s-6 {
    width: 50%; }
  .cl-s-7 {
    width: 58.33333%; }
  .cl-s-8 {
    width: 66.66667%; }
  .cl-s-9 {
    width: 75%; }
  .cl-s-10 {
    width: 83.33333%; }
  .cl-s-11 {
    width: 91.66667%; }
  .cl-s-12 {
    width: 100%; }
  h2 {
    font-size: 26px; }
  h3 {
    font-size: 20px; }
  h4 {
    font-size: 18px; }
  p {
    font-size: 16px; } }

@media all and (min-width: 768px) {
  .cl-md-1, .cl-md-2, .cl-md-3, .cl-md-4, .cl-md-5, .cl-md-6,
  .cl-md-7, .cl-md-8, .cl-md-9, .cl-md-10, .cl-md-11, .cl-md-12 {
    float: left;
    box-sizing: border-box; }
  .cl-md-1 {
    width: 8.33333%; }
  .cl-md-2 {
    width: 16.66667%; }
  .cl-md-3 {
    width: 25%; }
  .cl-md-4 {
    width: 33.33333%; }
  .cl-md-5 {
    width: 41.66667%; }
  .cl-md-6 {
    width: 50%; }
  .cl-md-7 {
    width: 58.33333%; }
  .cl-md-8 {
    width: 66.66667%; }
  .cl-md-9 {
    width: 75%; }
  .cl-md-10 {
    width: 83.33333%; }
  .cl-md-11 {
    width: 91.66667%; }
  .cl-md-12 {
    width: 100%; }
  h2 {
    font-size: 32px; }
  h3 {
    font-size: 24px; }
  h4 {
    font-size: 18px; }
  p {
    font-size: 16px; } }

@media all and (min-width: 1024px) {
  .cl-xl-1, .cl-xl-2, .cl-xl-3, .cl-xl-4, .cl-xl-5, .cl-xl-6,
  .cl-xl-7, .cl-xl-8, .cl-xl-9, .cl-xl-10, .cl-xl-11, .cl-xl-12 {
    float: left;
    box-sizing: border-box; }
  .cl-xl-1 {
    width: 8.33333%; }
  .cl-xl-2 {
    width: 16.66667%; }
  .cl-xl-3 {
    width: 25%; }
  .cl-xl-4 {
    width: 33.33333%; }
  .cl-xl-5 {
    width: 41.66667%; }
  .cl-xl-6 {
    width: 50%; }
  .cl-xl-7 {
    width: 58.33333%; }
  .cl-xl-8 {
    width: 66.66667%; }
  .cl-xl-9 {
    width: 75%; }
  .cl-xl-10 {
    width: 83.33333%; }
  .cl-xl-11 {
    width: 91.66667%; }
  .cl-xl-12 {
    width: 100%; } }

img {
  width: 100%;
  vertical-align: middle; }

a {
  text-decoration: none;
  color: #5e4909; }

.common_btn {
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 14px;
  width: 160px;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: .1rem;
  text-align: center;
  text-decoration: none;
  border-radius: 11px;
  overflow: hidden; }
  .common_btn .common_btn_blobs {
    height: 100%;
    -webkit-filter: url(#goo);
    filter: url(#goo);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -3px;
    right: -1px;
    border-radius: 11px;
    width: 110%; }
    .common_btn .common_btn_blobs div {
      width: 34%;
      height: 100%;
      border-radius: 100%;
      position: absolute;
      -webkit-transform: scale(1.4) translateY(125%) translateZ(0);
      transform: scale(1.4) translateY(125%) translateZ(0);
      -webkit-transition: all 700ms ease;
      transition: all 700ms ease; }
    .common_btn .common_btn_blobs div:nth-child(1) {
      left: -5%; }
    .common_btn .common_btn_blobs div:nth-child(2) {
      left: 30%;
      -webkit-transition-delay: 60ms;
      transition-delay: 60ms; }
    .common_btn .common_btn_blobs div:nth-child(3) {
      left: 66%;
      -webkit-transition-delay: 25ms;
      transition-delay: 25ms; }
  .common_btn .common_btn_txt {
    position: relative;
    z-index: 1;
    -webkit-transition: color .3s;
    transition: color .3s;
    -webkit-transition-delay: .2s;
    transition-delay: .2s; }
  .common_btn:hover .common_btn_blobs div {
    -webkit-transform: scale(1.5) translateY(0) translateZ(0);
    transform: scale(1.5) translateY(0) translateZ(0); }

/* 一級按鈕背景文字 */
.common_btn_first {
  background-color: #ffd700;
  /* 一級按鈕hover過去的背景和文字顏色 */ }
  .common_btn_first .common_btn_txt {
    color: #603813; }
  .common_btn_first .common_btn_blobs div {
    background-color: #90A30B; }
  .common_btn_first:hover .common_btn_txt {
    color: #fff; }

/* 二級按鈕背景文字 */
.common_btn_second {
  background-color: #90A30B;
  /* 二級按鈕hover過去的背景和文字顏色 */ }
  .common_btn_second .common_btn_txt {
    color: #fff; }
  .common_btn_second .common_btn_blobs div {
    background-color: #ffd700; }
  .common_btn_second:hover .common_btn_txt {
    color: #603813; }

.menu h1.menu_logo, .ph_nav h1.phone_logo {
  font-size: 0; }

#hb_control {
  display: none; }

header {
  overflow: hidden; }
  header nav {
    position: fixed;
    width: 100%;
    z-index: 100; }
    header nav li a {
      font-weight: 900;
      position: relative;
      letter-spacing: .1em; }
    header nav li > a:after {
      content: '';
      position: absolute;
      bottom: -0.6em;
      left: -2%;
      width: 104%;
      height: 5px;
      transform: scaleX(0);
      background-color: #603813;
      transition: all .2s ease;
      opacity: 0.6; }
    header nav li > a:hover::after {
      transform: scaleX(1); }
    header nav li > a:hover {
      color: #603813; }
  header .nav_mem {
    display: flex;
    position: absolute;
    z-index: 3;
    right: 10px;
    top: 5px; }
    header .nav_mem p {
      vertical-align: middle;
      line-height: 25px;
      margin-right: 10px; }
    header .nav_mem .mem_pic {
      width: 25px;
      margin-right: 8px; }
  header .menu {
    font-size: 20px;
    position: absolute;
    width: 100%; }

#svg-2 {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  width: 200%;
  height: 130px;
  z-index: -2; }

#wave {
  position: fixed;
  display: block;
  vertical-align: middle;
  left: 0;
  top: 0;
  height: 140px;
  width: 300%;
  fill: white;
  -webkit-animation: move 5s 1s linear infinite alternate;
  animation: move 5s .5s linear infinite alternate; }

#wave2 {
  position: fixed;
  display: block;
  vertical-align: middle;
  left: 0;
  top: 0;
  height: 150px;
  width: 300%;
  fill: #f4d66d;
  -webkit-animation: move 10s linear infinite alternate;
  animation: move 10s linear infinite alternate; }

#robotControl:checked ~ .robot_container .robot_toggle {
  transform: rotate(180deg);
  transition: .5s; }

#robotControl:checked ~ .robot_container {
  bottom: 0;
  transition: 1s; }

.robot_container {
  display: flex;
  flex-direction: column;
  position: fixed;
  transition: 1s;
  bottom: -450px;
  right: 0;
  z-index: 50;
  width: 350px;
  height: 500px; }
  .robot_container div {
    width: 100%; }
  .robot_container .robot_titleBlock {
    display: flex;
    height: 10%;
    position: relative;
    line-height: 50px;
    background-color: #f4d66d;
    border-radius: 10px 10px 0 0; }
    .robot_container .robot_titleBlock .robot_toggle {
      width: 10%;
      padding: 0 20px;
      transition: .5s; }
    .robot_container .robot_titleBlock .robot_pic {
      position: absolute;
      bottom: 0;
      right: 1%;
      width: 110px; }
  .robot_container .robot_conversationBlock {
    height: 82%;
    background-color: #fff;
    overflow: auto;
    border: 6px solid #f4d66d;
    border-bottom: 2px solid #f4d66d;
    border-top: 0px; }
    .robot_container .robot_conversationBlock .robot_text {
      margin: 4% 2%;
      display: inline-block;
      padding: 8px 12px;
      border-radius: 10px;
      background-color: rgba(244, 214, 109, 0.8); }
    .robot_container .robot_conversationBlock .robot_textTime {
      color: #ddd;
      position: relative;
      bottom: -7px; }
    .robot_container .robot_conversationBlock .user_conversation {
      text-align: right; }
      .robot_container .robot_conversationBlock .user_conversation .user_text {
        display: inline-block;
        background-color: rgba(244, 214, 109, 0.6);
        padding: 8px 12px;
        border-radius: 10px;
        margin: 2% 2%; }
  .robot_container .robot_inputBlock {
    height: 8%;
    display: flex; }
    .robot_container .robot_inputBlock textarea {
      width: 80%;
      border: 1px solid #fff;
      border-left: 6px solid #f4d66d;
      border-top: 3px solid #f4d66d;
      margin: 0; }
    .robot_container .robot_inputBlock button {
      display: inline-block;
      height: 100%;
      width: 20%;
      line-height: 40px;
      background-color: #ffd700;
      margin: 0;
      padding: 0.3rem 0; }

#robotControl, #hb_control {
  display: none; }

.coupon {
  position: fixed;
  width: 100px;
  top: 110px;
  right: 2%;
  z-index: 100; }

#loginName, #spanLogin {
  margin-top: 5px;
  margin-right: 5px; }

#spanLogin {
  cursor: pointer; }

@media only screen and (max-width: 767px) {
  .robot_container {
    display: none; }
  .coupon {
    top: 75px;
    width: 70px; }
  #svg-2 {
    transition: height 1.3s 0.5s ,width 2s; }
  #wave {
    height: 95px;
    transition: 1s; }
  #wave2 {
    height: 100px;
    transition: width 0s 0s ,height 2s; }
  .menu {
    text-align: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin-top: 40px;
    position: absolute;
    left: -1000px;
    opacity: 0;
    transition: left 0s 1s,opacity 1s 0s; }
    .menu .menu_item {
      margin: 40px; }
    .menu .menu_logo {
      display: none; }
  .ph_nav {
    display: relative;
    width: 100%;
    margin-top: 7px; }
    .ph_nav a {
      display: inline-block; }
    .ph_nav .ph_logoBox {
      width: 60px;
      margin: auto; }
    .ph_nav .hb {
      padding: 20px 15px;
      float: left;
      margin: 14px 0 0 5%; }
      .ph_nav .hb span {
        display: block;
        height: 2px;
        width: 25px;
        background-color: #5e4909;
        position: relative; }
        .ph_nav .hb span:after, .ph_nav .hb span:before {
          content: '';
          display: block;
          height: 2px;
          width: 25px;
          background-color: #5e4909;
          position: absolute; }
        .ph_nav .hb span:before {
          top: -6px; }
        .ph_nav .hb span:after {
          top: 6px; } }

#hb_control:checked ~ nav #svg-2 {
  transition: 2s;
  height: 110vh;
  width: 900%; }

#hb_control:checked ~ nav #wave {
  transition: width 0s 2s ,height 2s;
  animation: move2 3s 1s linear infinite alternate; }

#hb_control:checked ~ nav #wave2 {
  height: 108vh;
  transition: 2s;
  width: 1000%;
  animation: move2 5s linear infinite alternate; }

#hb_control:checked ~ nav .menu {
  transition: left 0s ,opacity 2s 1s;
  opacity: 1;
  left: 0; }

@media all and (min-width: 768px) {
  .ph_nav {
    display: none; }
  #svg-2 {
    height: 150px; }
  .menu {
    max-width: 1200px;
    left: 0;
    right: 0;
    margin: 10px auto; }
    .menu ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      margin: 0px 130px; }
    .menu li {
      display: inline-block; }
    .menu .menu_logo {
      width: 90px; } }

@keyframes move {
  0% {
    transform: translate(-30%, 0%); }
  100% {
    transform: translate(0%, 0%); } }

@keyframes move2 {
  0% { }
  100% {
    transform: translate(0%, 0%); } }

@-webkit-keyframes move {
  0% {
    transform: translate(-40%, 0%); }
  100% {
    transform: translate(0%, 0%); } }

@-webkit-keyframes move2 {
  0% { }
  100% {
    transform: translate(0%, 0%); } }

footer {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0; }

.footer_wrapper::before {
  position: absolute;
  top: -40px;
  content: '';
  display: block;
  width: 100%;
  height: 40px;
  background-image: url("../images/footershadow.png");
  background-size: contain;
  background-position: bottom center;
  background-repeat: repeat-x; }

@media only screen and (max-width: 767px) {
  .footer_wrapper {
    text-align: center; }
    .footer_wrapper .footer_block {
      margin: 0 auto;
      background-color: #f4d66d; }
      .footer_wrapper .footer_block .footer_rightBox .footer_rightContent {
        padding: 8px 0; }
        .footer_wrapper .footer_block .footer_rightBox .footer_rightContent .desc {
          display: inline-block;
          padding: 5px;
          font-size: 2vw; }
        .footer_wrapper .footer_block .footer_rightBox .footer_rightContent .copyright {
          font-size: 1vw; } }

@media all and (min-width: 768px) {
  .footer_wrapper {
    position: relative;
    text-align: center;
    margin: 0 auto; }
    .footer_wrapper .footer_block {
      margin: 0 auto;
      background-color: #f4d66d; }
      .footer_wrapper .footer_block .footer_rightBox .footer_rightContent {
        padding: 8px 0; }
        .footer_wrapper .footer_block .footer_rightBox .footer_rightContent .desc {
          display: inline-block;
          padding: 5px; }
        .footer_wrapper .footer_block .footer_rightBox .footer_rightContent .copyright {
          font-size: 12px; } }

footer {
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  line-height: 18px;
  background-color: #f4d66d;
  text-align: center; }
  footer img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 120px; }

body {
  background-color: #a4ddfa;
  overflow-x: hidden;
  -moz-user-select: none;
  font-family: "微軟正黑體"; }

@keyframes mobBottleMove {
  0% {
    left: 0; }
  100% {
    left: 75%; } }

@keyframes bottleMove {
  0% {
    left: 5%; }
  100% {
    left: 90%; } }

@keyframes lightRatation {
  0% {
    opacity: 0; }
  30% {
    z-index: 20;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg); }
  95% {
    -webkit-transform: none;
    transform: none;
    z-index: -1; }
  100% {
    opacity: 1; } }

@keyframes lightOpcity {
  0% {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    opacity: 0; }
  100% {
    opacity: 1; } }

.displayBlock {
  display: block; }

.diy_designBottle_stepFirstTitle, .diy_designBottle_stepSecondTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left; }

.navSpace {
  height: 130px; }

.diy_designBottle_title h4 {
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
  color: #5e4909; }

.diy_designBottle_uploadBtn input {
  display: none; }

.diy_designBottle_logoPic img {
  width: 60px; }

.diy_designBottle_stepBlock {
  text-align: center;
  margin: 0 auto; }

.diy_designBottle_stepFirstBox {
  display: inline-block;
  position: relative; }

.diy_designBottle_stepFirstTitle {
  color: #978656; }
  .diy_designBottle_stepFirstTitle p,
  .diy_designBottle_stepFirstTitle h3 {
    font-size: 15px;
    padding-top: 1px; }

.diy_designBottle_stepSecondBox {
  display: inline-block;
  position: relative; }

.diy_designBottle_stepSecondTitle {
  color: #fefefe; }
  .diy_designBottle_stepSecondTitle p,
  .diy_designBottle_stepSecondTitle h3 {
    padding-top: 1px;
    font-size: 15px; }

.diy_designBottle_changePic {
  position: absolute;
  width: 140px;
  cursor: pointer; }

.diy_designBottle_createBlock {
  cursor: pointer; }

.diy_designBottle_controlBlock {
  position: relative;
  margin-top: 15px; }
  .diy_designBottle_controlBlock i {
    margin-top: 20px;
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    color: #5e4909; }

.diy_designBottle_uploadItem {
  margin: 5px 5px 15px; }
  .diy_designBottle_uploadItem p {
    width: 100px;
    height: 30px;
    line-height: 30px;
    outline: 1px solid #f09824;
    padding: 0 0 0 12px;
    color: #f09824;
    cursor: pointer; }
    .diy_designBottle_uploadItem p:hover {
      color: #fefefe;
      background: #f09824;
      border-color: #fff4c1;
      transition: all 0.4s ease 0s; }

.diy_designBottle_picBlock {
  position: relative;
  margin: 10px; }

.diy_designBottle_pics:after {
  content: "";
  display: block;
  border: 1px solid #aeaeae;
  width: 100%;
  position: absolute;
  bottom: 116px;
  left: 0; }

.diy_designBottle_officalPicBlock {
  margin: 10px auto;
  border: 1px solid brown;
  border-radius: 5px; }

.diy_designBottle_officalPic {
  border: none;
  cursor: pointer; }
  .diy_designBottle_officalPic img {
    width: 100%; }

.diy_designBottle_textLength {
  margin: 5px 0 15px; }

.diy_designBottle_btnBlock {
  position: absolute;
  text-align: center; }
  .diy_designBottle_btnBlock a {
    margin-right: 10px; }

.diy_designBottle_createTextBlock {
  margin-left: 5px; }
  .diy_designBottle_createTextBlock p {
    margin-top: 10px; }
  .diy_designBottle_createTextBlock input:nth-child(3) {
    width: 100px;
    display: block;
    background: none;
    border: none;
    outline: 1px solid #f09824;
    padding: 5px 15px;
    color: #f09824;
    font-size: 16px;
    margin: 10px 0 0;
    cursor: pointer; }
    .diy_designBottle_createTextBlock input:nth-child(3):hover {
      color: #fefefe;
      background: #f09824;
      transition: all 0.4s ease 0s; }

.diy_designBottle_officalPic {
  padding: 10px; }

.diy_designBottle_bgcBox {
  width: 95%;
  height: 510px;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 40px auto 200px;
  position: relative;
  background-color: #fff; }

.diy_designBottle_conveyorMoveContainer {
  position: relative;
  margin-top: 80px; }
  .diy_designBottle_conveyorMoveContainer .diy_designBottle_conveyorPic {
    position: absolute;
    bottom: 0;
    z-index: 0; }

.diy_designBottle_bottlesBlock {
  width: 100%;
  position: absolute;
  left: -70px;
  bottom: 0;
  z-index: 0; }
  .diy_designBottle_bottlesBlock li {
    position: absolute;
    bottom: 0;
    left: -50px;
    display: inline-block;
    margin-right: 20px;
    z-index: -1; }
    .diy_designBottle_bottlesBlock li img {
      width: 15px; }
  .diy_designBottle_bottlesBlock .item2 {
    animation: mobBottleMove 6s linear 1s infinite; }
  .diy_designBottle_bottlesBlock .item3 {
    animation: mobBottleMove 6s linear 2s infinite; }
  .diy_designBottle_bottlesBlock .item4 {
    animation: mobBottleMove 6s linear 3s infinite; }
  .diy_designBottle_bottlesBlock .item5 {
    animation: mobBottleMove 6s linear 4s infinite; }
  .diy_designBottle_bottlesBlock .item6 {
    animation: mobBottleMove 6s linear 5s infinite; }
  .diy_designBottle_bottlesBlock .item1 {
    animation: mobBottleMove 6s linear 6s infinite; }
  .diy_designBottle_bottlesBlock .item7 {
    display: none; }

.diy_designBottle_conveyorPic {
  position: absolute;
  bottom: 20px;
  padding-top: 180px;
  z-index: -1; }

.diy_designBottle_factoryPic img {
  width: 140px;
  position: absolute;
  bottom: 0;
  left: -20px; }

.diy_designBottle_carPic img {
  position: absolute;
  bottom: 0;
  width: 150px;
  margin-left: calc(100vw - 150px); }

.diy_customizePopUp {
  width: 95%;
  position: absolute;
  display: none; }

.diy_customizeBox_item {
  position: relative; }
  .diy_customizeBox_item i {
    position: absolute;
    width: 20px;
    height: 20px;
    color: #fa0;
    font-size: 55px;
    top: -25px;
    right: 10px;
    text-align: center;
    cursor: pointer; }

.diy_customizeBox_content {
  width: 350px;
  height: 400px;
  background-color: #fff;
  position: absolute;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.diy_customizeBox_finishTextPic {
  width: 220px;
  box-sizing: border-box;
  padding: 10px 0 0;
  margin: 0 auto; }
  .diy_customizeBox_finishTextPic img {
    width: 100%; }

.diy_customizeBox_finishPic {
  width: 100px;
  height: 250px;
  margin: 0 auto;
  position: relative;
  z-index: 10; }

.diy_customizeFinishBox {
  position: fixed;
  width: 100%;
  top: 0px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  overflow: hidden;
  z-index: 5; }
  .diy_customizeFinishBox_customizeBtns {
    position: absolute;
    box-sizing: border-box;
    padding: 0 4px;
    bottom: 20px;
    opacity: 0;
    z-index: 19; }
    .diy_customizeFinishBox_customizeBtns .common_btn {
      width: 140px;
      display: inline-block;
      border-radius: 10px; }
      .diy_customizeFinishBox_customizeBtns .common_btn a {
        width: 140px; }
      .diy_customizeFinishBox_customizeBtns .common_btn .btnPic {
        position: relative; }
        .diy_customizeFinishBox_customizeBtns .common_btn .btnPic img {
          position: absolute;
          right: 0;
          transform: rotate(45deg); }

.diy_proToCartBtns {
  margin: 20px auto;
  position: relative;
  z-index: 20; }
  .diy_proToCartBtns a {
    width: 125px;
    margin: 0 5px;
    display: inline-block; }

.robot {
  z-index: 4; }

.btnBounceOutUp {
  animation: bounceOutUp linear 2s 0s; }

@keyframes mobBottleMove {
  0% {
    left: 0; }
  100% {
    left: 70%; } }

@keyframes bottleMove {
  0% {
    left: 5%; }
  100% {
    left: 90%; } }

.diy_customizeBox_lightBottle {
  width: 98px;
  position: absolute;
  top: 104px;
  left: 252px; }
  .diy_customizeBox_lightBottle img {
    width: 100%; }

#diy_designBottle_diyImg {
  background: transparent; }

.diy_designBottle_officalPicBlock {
  max-height: 255px;
  overflow-y: auto; }

.diy_designBottle_pic {
  position: relative;
  z-index: 0;
  padding: 10% 20%; }
  .diy_designBottle_pic .diy_pickFruit_wrapperBottleBox {
    position: relative; }
    .diy_designBottle_pic .diy_pickFruit_wrapperBottleBox .diy_pickFruit_bottleBox {
      width: 95%;
      height: 85%;
      position: absolute;
      left: 2%;
      bottom: 1%;
      z-index: -5;
      border: 1px solid grey;
      border-radius: 10px;
      border: 1px solid transparent;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      transition: 1s; }
      .diy_designBottle_pic .diy_pickFruit_wrapperBottleBox .diy_pickFruit_bottleBox .diy_pickFruit_bottle1 {
        border-radius: 0px 0px 10px 10px;
        flex-grow: 0;
        transition: 1s; }
      .diy_designBottle_pic .diy_pickFruit_wrapperBottleBox .diy_pickFruit_bottleBox .diy_pickFruit_bottle2 {
        background-color: transparent;
        flex-grow: 0;
        transition: 1s; }
      .diy_designBottle_pic .diy_pickFruit_wrapperBottleBox .diy_pickFruit_bottleBox .diy_pickFruit_bottle3 {
        background-color: transparent;
        flex-grow: 0;
        transition: 1s; }
    .diy_designBottle_pic .diy_pickFruit_wrapperBottleBox img {
      position: relative;
      width: 100%; }

#diy_designBottle_dragText {
  position: absolute;
  left: 10px;
  bottom: 0; }

.diy_designBottle_pic {
  position: relative;
  z-index: 0;
  padding: 10% 20%; }
  .diy_designBottle_pic .diy_pickFruit_wrapperBottleBox {
    position: relative; }
    .diy_designBottle_pic .diy_pickFruit_wrapperBottleBox .diy_pickFruit_bottleBox {
      width: 95%;
      height: 85%;
      position: absolute;
      left: 2%;
      bottom: 1%;
      z-index: -5;
      border: 1px solid grey;
      border-radius: 10px;
      border: 1px solid transparent;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      transition: 1s; }
      .diy_designBottle_pic .diy_pickFruit_wrapperBottleBox .diy_pickFruit_bottleBox .diy_pickFruit_bottle1 {
        border-radius: 0px 0px 10px 10px;
        flex-grow: 0;
        transition: 1s; }
      .diy_designBottle_pic .diy_pickFruit_wrapperBottleBox .diy_pickFruit_bottleBox .diy_pickFruit_bottle2 {
        background-color: transparent;
        flex-grow: 0;
        transition: 1s; }
      .diy_designBottle_pic .diy_pickFruit_wrapperBottleBox .diy_pickFruit_bottleBox .diy_pickFruit_bottle3 {
        background-color: transparent;
        flex-grow: 0;
        transition: 1s; }
    .diy_designBottle_pic .diy_pickFruit_wrapperBottleBox img {
      position: relative;
      width: 100%; }

#diy_designBottle_dragText {
  position: absolute;
  left: 10px;
  bottom: 0; }

@media only screen and (max-width: 767px) {
  .diy_customizeBox_finishPic {
    width: 100px; }
  .diy_customizeBox_finishTextPic {
    width: 150px;
    margin: 10px auto 15px; }
    .diy_customizeBox_finishTextPic img {
      width: 100%; }
  .diy_customizeBox-lightActive {
    width: 300px;
    position: absolute;
    top: 52px;
    left: 25px;
    -webkit-animation-name: lightRatation;
    animation-name: lightRatation;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s; }
    .diy_customizeBox-lightActive img {
      width: 100%; }
  .diy_customizeBox-lightActive2 {
    position: absolute;
    z-index: 50;
    width: 300px;
    top: 61px;
    left: 15px;
    opacity: 0;
    transition: opacity 0.9s; }
    .diy_customizeBox-lightActive2 img {
      width: 100%; }
  .diy_designBottle_stepFirstBox img {
    width: 120px; }
  .diy_designBottle_stepSecondBox img {
    width: 120px; }
  .diy_designBottle_bottleItem img {
    width: 100px;
    margin: 30px 40px 0; }
  .diy_designBottle_bgCloud img {
    width: 80px;
    position: absolute;
    z-index: -1; }
    .diy_designBottle_bgCloud img:nth-child(1) {
      display: none; }
    .diy_designBottle_bgCloud img:nth-child(2) {
      left: -20px;
      top: 95px; }
    .diy_designBottle_bgCloud img:nth-child(3) {
      top: 90px;
      right: 0; }
    .diy_designBottle_bgCloud img:nth-child(4) {
      display: none; }
  .diy_designBottle_disNone {
    display: none; }
  .diy_designBottle_btnBlock {
    position: absolute;
    bottom: -15%; }
    .diy_designBottle_btnBlock a {
      width: 110px;
      display: inline-block;
      margin: 40px 0 0; }
  .diy_designBottle_conveyorMoveContainer {
    position: relative; }
    .diy_designBottle_conveyorMoveContainer .diy_designBottle_conveyorPic {
      position: absolute;
      bottom: 0; }
  .diy_designBottle_createTextBlock input:nth-child(2) {
    width: 200%; }
  #diy_designBottle_wrapper {
    width: 100%; }
  .colpick.colpick_rgbhex {
    position: absolute;
    top: 500px;
    left: 45px; }
  #diy_designBottle_botSvg {
    width: 69px; }
  svg {
    display: none; }
  #diy_designBottle_diyImg {
    position: absolute;
    top: 0; } }

@media all and (min-width: 768px) {
  header nav li:nth-child(1) > a:after {
    transform: scaleX(1); }
  .diy_customizeBox_finishPic {
    width: 230px;
    margin: 0 auto;
    position: relative;
    z-index: 5; }
  .diy_proToCartBtns {
    position: relative;
    z-index: 20;
    margin: 175px auto; }
    .diy_proToCartBtns a {
      margin: 0 30px; }
  .diy_designBottle_bottleItem img {
    width: 140px;
    margin: 40px 90px; }
  .diy_designBottle_title {
    margin-top: 25px; }
    .diy_designBottle_title h4 {
      margin: -15px auto; }
  .diy_designBottle_stepFirstBox img {
    width: 180px; }
  .diy_designBottle_stepSecondBox img {
    width: 180px; }
  .diy_designBottle_logoPic {
    display: inline-block; }
    .diy_designBottle_logoPic img {
      width: 90px;
      margin: 5px; }
  .diy_designBottle_bgCloud {
    position: relative; }
    .diy_designBottle_bgCloud img {
      position: absolute;
      z-index: -1; }
      .diy_designBottle_bgCloud img:nth-child(1) {
        top: -10px;
        left: -150px;
        width: 200px; }
      .diy_designBottle_bgCloud img:nth-child(2) {
        left: 150px;
        top: -50px;
        width: 100px; }
      .diy_designBottle_bgCloud img:nth-child(3) {
        top: -500px;
        right: -50px;
        width: 100px; }
      .diy_designBottle_bgCloud img:nth-child(4) {
        top: -80px;
        right: 100px;
        width: 150px; }
  .diy_designBottle_bottleItem {
    position: relative; }
  .diy_designBottle_bottlesBlock li {
    position: absolute;
    bottom: 60px;
    left: 30px;
    z-index: -1;
    margin-right: 150px; }
    .diy_designBottle_bottlesBlock li img {
      width: 30px; }
  .diy_designBottle_bottlesBlock .item1 {
    animation: bottleMove 6s linear 0s infinite; }
  .diy_designBottle_bottlesBlock .item2 {
    animation: bottleMove 6s linear 1s infinite; }
  .diy_designBottle_bottlesBlock .item3 {
    animation: bottleMove 6s linear 2s infinite; }
  .diy_designBottle_bottlesBlock .item4 {
    animation: bottleMove 6s linear 3s infinite; }
  .diy_designBottle_bottlesBlock .item5 {
    animation: bottleMove 6s linear 4s infinite; }
  .diy_designBottle_bottlesBlock .item6 {
    animation: bottleMove 6s linear 5s infinite; }
  .diy_designBottle_bottlesBlock .item7 {
    animation: bottleMove 6s linear 6s infinite; }
  .diy_designBottle_stepFirstTitle p,
  .diy_designBottle_stepFirstTitle h3 {
    font-size: 18px;
    margin: 8px 0; }
  .diy_designBottle_stepSecondTitle p,
  .diy_designBottle_stepSecondTitle h3 {
    font-size: 18px;
    margin: 8px 0; }
  .diy_designBottle_controlBlock i {
    font-size: 20px;
    display: inline-block;
    margin: 20px 30px; }
  .diy_designBottle_textBlock {
    margin-top: 20px;
    position: relative; }
  .diy_designBottle_officalPic {
    border: none; }
    .diy_designBottle_officalPic img {
      width: 90px; }
  .diy_designBottle_textForm :nth-child(2) {
    width: 200px; }
  .diy_designBottle_bgcBox {
    position: relative;
    margin: 50px auto 550px;
    box-sizing: border-box;
    padding: 30px;
    width: 700px;
    height: 550px; }
  .diy_designBottle_textLength {
    margin: 15px 0;
    width: 315px;
    height: 20px; }
  .diy_designBottle_pics:after {
    bottom: 120px; }
  .diy_designBottle_factoryPic img {
    width: 550px;
    margin-left: -100px; }
  .diy_designBottle_carPic img {
    width: 400px;
    margin-left: calc(100vw - 400px); }
  .diy_designBottle_btnBlock {
    position: absolute;
    left: 0;
    bottom: -15%; }
  .diy_customizeBox_content {
    width: 600px;
    height: 600px;
    background-color: #fff;
    position: absolute;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto; }
  .diy_customizeBox_finishPic {
    position: relative;
    margin: 10px auto 150px; }
  .diy_customizeBox-lightActive {
    position: absolute;
    width: 500px;
    top: 84px;
    left: 49px;
    -webkit-animation-name: lightRatation;
    animation-name: lightRatation;
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s; }
    .diy_customizeBox-lightActive img {
      width: 100%; }
  .diy_customizeBox-lightActive2 {
    position: absolute;
    width: 500px;
    top: 95px;
    left: 37px;
    z-index: 7;
    -webkit-animation-name: lightOpcity;
    animation-name: lightOpcity;
    -webkit-animation-duration: 0.79s;
    animation-duration: 0.79s; }
    .diy_customizeBox-lightActive2 img {
      width: 100%; }
  .diy_textLength {
    width: 415px; }
  .diy_pics:after {
    bottom: 120px; }
  .diy_designBottle_officalPicBlock {
    max-height: 255px;
    overflow-y: auto; }
  #diy_designBottle_diyImg {
    position: absolute;
    top: 0; }
  #diy_designBottle_dragText {
    position: absolute;
    left: 10px;
    bottom: 50px; } }

@media all and (min-width: 1024px) {
  .diy_designBottle_controlBlock i {
    font-size: 30px;
    display: inline-block;
    margin: 20px 30px; }
  .diy_designBottle_officalPic {
    border: none; }
    .diy_designBottle_officalPic img {
      width: 90px; }
  .diy_designBottle_btnBlock {
    margin: 0 0 10px; }
    .diy_designBottle_btnBlock a {
      margin: 5px 20px; }
  .diy_designBottle_bgcBox {
    width: 900px; }
  .diy_designBottle_bgCloud img:nth-child(3) {
    top: 10px;
    right: -50px;
    width: 100px; }
  .diy_designBottle_itemBottleBlock {
    position: absolute;
    top: -50px; }
    .diy_designBottle_itemBottleBlock .item1 {
      animation: bottleMove 7s linear 0s infinite; }
    .diy_designBottle_itemBottleBlock .item2 {
      animation: bottleMove 7s linear 1s infinite; }
    .diy_designBottle_itemBottleBlock .item3 {
      animation: bottleMove 7s linear 2s infinite; }
    .diy_designBottle_itemBottleBlock .item4 {
      animation: bottleMove 7s linear 3s infinite; }
    .diy_designBottle_itemBottleBlock .item5 {
      animation: bottleMove 7s linear 4s infinite; }
    .diy_designBottle_itemBottleBlock .item6 {
      animation: bottleMove 7s linear 5s infinite; }
    .diy_designBottle_itemBottleBlock .item7 {
      animation: bottleMove 7s linear 6s infinite; }
  .diy_designBottle_pic {
    padding: 10% 20%; } }
