@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  display: block;
  content: '';
  clear: both; }

body {
  font-family: "Microsoft JhengHei"; }

.wrapper {
  margin: 0 auto; }

.wrapper {
  max-width: 1200px;
  width: 100%; }

@media only screen and (max-width: 767px) {
  .cl-s-1, .cl-s-2, .cl-s-3, .cl-s-4, .cl-s-5, .cl-s-6,
  .cl-s-7, .cl-s-8, .cl-s-9, .cl-s-10, .cl-s-11, .cl-s-12 {
    float: left;
    box-sizing: border-box; }
  .cl-s-1 {
    width: 8.33333%; }
  .cl-s-2 {
    width: 16.66667%; }
  .cl-s-3 {
    width: 25%; }
  .cl-s-4 {
    width: 33.33333%; }
  .cl-s-5 {
    width: 41.66667%; }
  .cl-s-6 {
    width: 50%; }
  .cl-s-7 {
    width: 58.33333%; }
  .cl-s-8 {
    width: 66.66667%; }
  .cl-s-9 {
    width: 75%; }
  .cl-s-10 {
    width: 83.33333%; }
  .cl-s-11 {
    width: 91.66667%; }
  .cl-s-12 {
    width: 100%; }
  h2 {
    font-size: 26px; }
  h3 {
    font-size: 20px; }
  h4 {
    font-size: 18px; }
  p {
    font-size: 16px; } }

@media all and (min-width: 768px) {
  .cl-md-1, .cl-md-2, .cl-md-3, .cl-md-4, .cl-md-5, .cl-md-6,
  .cl-md-7, .cl-md-8, .cl-md-9, .cl-md-10, .cl-md-11, .cl-md-12 {
    float: left;
    box-sizing: border-box; }
  .cl-md-1 {
    width: 8.33333%; }
  .cl-md-2 {
    width: 16.66667%; }
  .cl-md-3 {
    width: 25%; }
  .cl-md-4 {
    width: 33.33333%; }
  .cl-md-5 {
    width: 41.66667%; }
  .cl-md-6 {
    width: 50%; }
  .cl-md-7 {
    width: 58.33333%; }
  .cl-md-8 {
    width: 66.66667%; }
  .cl-md-9 {
    width: 75%; }
  .cl-md-10 {
    width: 83.33333%; }
  .cl-md-11 {
    width: 91.66667%; }
  .cl-md-12 {
    width: 100%; }
  h2 {
    font-size: 32px; }
  h3 {
    font-size: 24px; }
  h4 {
    font-size: 18px; }
  p {
    font-size: 16px; } }

@media all and (min-width: 1024px) {
  .cl-xl-1, .cl-xl-2, .cl-xl-3, .cl-xl-4, .cl-xl-5, .cl-xl-6,
  .cl-xl-7, .cl-xl-8, .cl-xl-9, .cl-xl-10, .cl-xl-11, .cl-xl-12 {
    float: left;
    box-sizing: border-box; }
  .cl-xl-1 {
    width: 8.33333%; }
  .cl-xl-2 {
    width: 16.66667%; }
  .cl-xl-3 {
    width: 25%; }
  .cl-xl-4 {
    width: 33.33333%; }
  .cl-xl-5 {
    width: 41.66667%; }
  .cl-xl-6 {
    width: 50%; }
  .cl-xl-7 {
    width: 58.33333%; }
  .cl-xl-8 {
    width: 66.66667%; }
  .cl-xl-9 {
    width: 75%; }
  .cl-xl-10 {
    width: 83.33333%; }
  .cl-xl-11 {
    width: 91.66667%; }
  .cl-xl-12 {
    width: 100%; } }

img {
  width: 100%;
  vertical-align: middle; }

a {
  text-decoration: none;
  color: #5e4909; }

.common_btn {
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 14px;
  width: 160px;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: .1rem;
  text-align: center;
  text-decoration: none;
  border-radius: 11px;
  overflow: hidden; }
  .common_btn .common_btn_blobs {
    height: 100%;
    -webkit-filter: url(#goo);
    filter: url(#goo);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -3px;
    right: -1px;
    border-radius: 11px;
    width: 110%; }
    .common_btn .common_btn_blobs div {
      width: 34%;
      height: 100%;
      border-radius: 100%;
      position: absolute;
      -webkit-transform: scale(1.4) translateY(125%) translateZ(0);
      transform: scale(1.4) translateY(125%) translateZ(0);
      -webkit-transition: all 700ms ease;
      transition: all 700ms ease; }
    .common_btn .common_btn_blobs div:nth-child(1) {
      left: -5%; }
    .common_btn .common_btn_blobs div:nth-child(2) {
      left: 30%;
      -webkit-transition-delay: 60ms;
      transition-delay: 60ms; }
    .common_btn .common_btn_blobs div:nth-child(3) {
      left: 66%;
      -webkit-transition-delay: 25ms;
      transition-delay: 25ms; }
  .common_btn .common_btn_txt {
    position: relative;
    z-index: 1;
    -webkit-transition: color .3s;
    transition: color .3s;
    -webkit-transition-delay: .2s;
    transition-delay: .2s; }
  .common_btn:hover .common_btn_blobs div {
    -webkit-transform: scale(1.5) translateY(0) translateZ(0);
    transform: scale(1.5) translateY(0) translateZ(0); }

/* 一級按鈕背景文字 */
.common_btn_first {
  background-color: #ffd700;
  /* 一級按鈕hover過去的背景和文字顏色 */ }
  .common_btn_first .common_btn_txt {
    color: #603813; }
  .common_btn_first .common_btn_blobs div {
    background-color: #90A30B; }
  .common_btn_first:hover .common_btn_txt {
    color: #fff; }

/* 二級按鈕背景文字 */
.common_btn_second {
  background-color: #90A30B;
  /* 二級按鈕hover過去的背景和文字顏色 */ }
  .common_btn_second .common_btn_txt {
    color: #fff; }
  .common_btn_second .common_btn_blobs div {
    background-color: #ffd700; }
  .common_btn_second:hover .common_btn_txt {
    color: #603813; }

h1 {
  font-size: 0; }

#hb_control {
  display: none; }

header {
  overflow: hidden; }
  header nav {
    position: fixed;
    width: 100%;
    z-index: 100; }
    header nav li a {
      font-weight: 900;
      position: relative;
      letter-spacing: .1em; }
    header nav li > a:after {
      content: '';
      position: absolute;
      bottom: -0.6em;
      left: -2%;
      width: 104%;
      height: 5px;
      transform: scaleX(0);
      background-color: #603813;
      transition: all .2s ease;
      opacity: 0.6; }
    header nav li > a:hover::after {
      transform: scaleX(1); }
  header .nav_mem {
    display: flex;
    position: absolute;
    z-index: 3;
    right: 10px;
    top: 5px; }
    header .nav_mem p {
      vertical-align: middle;
      line-height: 25px;
      margin-right: 10px; }
    header .nav_mem .mem_pic {
      width: 25px;
      margin-right: 8px; }
  header .menu {
    font-size: 20px;
    position: absolute;
    width: 100%; }

#svg-2 {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  width: 200%;
  height: 130px;
  z-index: -2; }

#wave {
  position: fixed;
  display: block;
  vertical-align: middle;
  left: 0;
  top: 0;
  height: 140px;
  width: 300%;
  fill: white;
  -webkit-animation: move 5s 1s linear infinite alternate;
  animation: move 5s .5s linear infinite alternate; }

#wave2 {
  position: fixed;
  display: block;
  vertical-align: middle;
  left: 0;
  top: 0;
  height: 150px;
  width: 300%;
  fill: #f4d66d;
  -webkit-animation: move 10s linear infinite alternate;
  animation: move 10s linear infinite alternate; }

.robot {
  position: fixed;
  width: 110px;
  bottom: 0;
  right: 0;
  z-index: 50; }

.coupon {
  position: fixed;
  width: 110px;
  top: 20%;
  right: 2%;
  z-index: 50; }

@media only screen and (max-width: 767px) {
  .robot {
    width: 80px; }
  .coupon {
    top: 140px;
    width: 70px; }
  #svg-2 {
    transition: height 1.3s 0.5s ,width 2s; }
  #wave {
    height: 95px;
    transition: 1s; }
  #wave2 {
    height: 100px;
    transition: 1s; }
  .menu {
    text-align: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin-top: 40px;
    position: absolute;
    left: -1000px;
    opacity: 0;
    transition: left 0s 1s,opacity 1s 0s; }
    .menu .menu_item {
      margin: 40px; }
    .menu .menu_logo {
      display: none; }
  .ph_nav {
    display: relative;
    width: 100%;
    margin-top: 7px; }
    .ph_nav .phone_logo {
      width: 60px;
      margin: auto; }
    .ph_nav .hb {
      padding: 20px 15px;
      float: left;
      margin: 14px 0 0 5%; }
      .ph_nav .hb span {
        display: block;
        height: 2px;
        width: 25px;
        background-color: #5e4909;
        position: relative; }
        .ph_nav .hb span:after, .ph_nav .hb span:before {
          content: '';
          display: block;
          height: 2px;
          width: 25px;
          background-color: #5e4909;
          position: absolute; }
        .ph_nav .hb span:before {
          top: -6px; }
        .ph_nav .hb span:after {
          top: 6px; } }

#hb_control:checked ~ nav #svg-2 {
  transition: 2s;
  height: 110vh;
  width: 1000%; }

#hb_control:checked ~ nav #wave {
  transition: 2s;
  width: 900%;
  height: 107vh;
  animation: move2 3s 1s linear infinite alternate; }

#hb_control:checked ~ nav #wave2 {
  height: 108vh;
  transition: 2s;
  width: 1000%;
  animation: move2 5s linear infinite alternate; }

#hb_control:checked ~ nav .menu {
  transition: left 0s ,opacity 2s 1s;
  opacity: 1;
  left: 0; }

@media all and (min-width: 768px) {
  .ph_nav {
    display: none; }
  #svg-2 {
    height: 150px; }
  .menu {
    max-width: 1200px;
    left: 0;
    right: 0;
    margin: 10px auto; }
    .menu ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      margin: 0px 130px; }
    .menu li {
      display: inline-block; }
    .menu .menu_logo {
      width: 90px; } }

@keyframes move {
  0% {
    transform: translate(-30%, 0%); }
  100% {
    transform: translate(0%, 0%); } }

@keyframes move2 {
  0% {
    transform: translate(-20%, 0%); }
  100% {
    transform: translate(0%, 0%); } }

@-webkit-keyframes move {
  0% {
    transform: translate(-40%, 0%); }
  100% {
    transform: translate(0%, 0%); } }

@-webkit-keyframes move2 {
  0% {
    transform: translate(-20%, 0%); }
  100% {
    transform: translate(0%, 0%); } }

/*分頁做法
header nav  li:nth-child(2) > a:after {
    transform: scaleX(1);
}
*/
section {
  position: relative;
  overflow: hidden;
  height: 100vh; }

.homepage_title {
  background-image: url("../images/homepage/title.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 106px;
  position: relative;
  top: 150px; }
  .homepage_title h2 {
    position: relative;
    top: 40px;
    left: 57px;
    color: #5e4909; }

.homepage_btn {
  display: inline-block;
  background-color: #fff100;
  border-radius: 7px; }

.homepage_header_bottleBlock {
  height: 20vh;
  width: 100%;
  position: absolute;
  bottom: -30px; }
  .homepage_header_bottleBlock .homepage_header_bottlePic {
    width: 20%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto; }

.homepage_header_waterPic {
  position: absolute;
  left: 50%;
  transform: translateX(-54%);
  opacity: 0; }

.homepage_header_waterPic-active {
  opacity: 1; }

.homepage_header_textBlock {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  line-height: 1.8;
  text-align: center; }

.homepage_header_textBox {
  position: relative;
  font-weight: 900;
  font-size: 3.3em; }
  .homepage_header_textBox span {
    color: #5e4909; }

.homepage_header_textBox .homepage_header_textWrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
  opacity: 0; }

.homepage_header_textBox .homepage_header_text {
  display: inline-block;
  line-height: 1em; }

.homepage_header_fruitBox {
  position: absolute; }
  .homepage_header_fruitBox .homepage_header_fruitContent {
    position: absolute;
    width: 130px;
    opacity: 0;
    display: none; }
    .homepage_header_fruitBox .homepage_header_fruitContent p {
      color: #5e4909;
      text-align: justify;
      line-height: 1.4; }
  .homepage_header_fruitBox.homepage_header_appleBox {
    transform: rotate(-20deg);
    animation: fruit_x 2s 0.2s linear backwards, fruit_y 1s 1.2s cubic-bezier(0.06, 1.27, 0.49, 1.24) backwards; }
  .homepage_header_fruitBox.homepage_header_pineappleBox {
    transform: rotate(20deg);
    animation: fruit_x 2s 1.2s linear backwards, fruit_y 1s 2.2s cubic-bezier(0.06, 1.27, 0.49, 1.24) backwards; }
  .homepage_header_fruitBox.homepage_header_watermalonBox {
    transform: rotate(20deg);
    animation: fruit_x 2s 1.8s linear backwards, fruit_y 1s 2.8s cubic-bezier(0.06, 1.27, 0.49, 1.24) backwards; }
  .homepage_header_fruitBox.homepage_header_grapeBox {
    animation: fruit_x 2s 1s linear backwards, fruit_y 1s 2s cubic-bezier(0.06, 1.27, 0.49, 1.24) backwards; }
  .homepage_header_fruitBox.homepage_header_cantaloupeBox {
    transform: rotate(-30deg);
    animation: fruit_x 2s 0.9s linear backwards, fruit_y 1s 1.9s cubic-bezier(0.06, 1.27, 0.49, 1.24) backwards; }
  .homepage_header_fruitBox.homepage_header_tomatoBox {
    transform: rotate(10deg);
    animation: fruit_x 2s 1.5s linear backwards, fruit_y 1s 2.5s cubic-bezier(0.06, 1.27, 0.49, 1.24) backwards; }

@keyframes fruit_x {
  0% { }
  50% {
    left: 50%;
    transform: translate(-50%, 0); }
  100% { } }

@keyframes fruit_y {
  0% {
    top: 100%; }
  100% { } }

@-webkit-keyframes fruit_x {
  0% { }
  50% {
    left: 50%;
    transform: translate(-50%, 0); }
  100% { } }

@keyframes fruit_y {
  0% {
    top: 100%; }
  100% { } }

.homepage_header_drop {
  display: none; }

.homepage_diy_arrowBox, .homepage_diy_fruitContent {
  display: none; }

.homepage_diy .homepage_title h2 {
  left: 63px; }

.homepage_diy_btn {
  position: absolute;
  right: 2%; }

.homepage_test {
  background-image: url("../images/homepage/test_background.png");
  background-repeat: no-repeat;
  background-size: cover; }

.homepage_test_boardContainer {
  background-color: #855a2f;
  position: relative;
  top: 135px;
  right: 0;
  left: 0;
  margin: auto; }
  .homepage_test_boardContainer .homepage_test_boardBlock {
    background-image: url("../images/homepage/board.png");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    line-height: 81vh;
    height: 100%; }
  .homepage_test_boardContainer .homepage_test_questionPic {
    margin-right: 4px; }
  .homepage_test_boardContainer .homepage_test_questionPic, .homepage_test_boardContainer .homepage_test_questionContent {
    display: inline-block; }

.homepage_test_questionContainer {
  display: inline-block;
  line-height: 13; }
  .homepage_test_questionContainer .homepage_test_questionBlock {
    line-height: 1.5; }
  .homepage_test_questionContainer .homepage_test_answerBlock {
    display: inline-block;
    text-align: left;
    color: #ebcf47;
    line-height: 1.3; }

@media only screen and (max-width: 767px) {
  .homepage_title {
    background-size: inherit; }
  .homepage_btn {
    padding: 10px 20px; }
  .homepage_header_bottleBlock .homepage_header_bottlePic {
    width: 30%; }
  .homepage_header_waterPic {
    width: 120%;
    top: 40%; }
  .homepage_header_textBlock {
    top: 160px;
    font-size: 7px; }
  .homepage_header_fruitBox.homepage_header_appleBox {
    width: 15%;
    top: 50%;
    left: 10%; }
  .homepage_header_fruitBox.homepage_header_cantaloupeBox {
    display: none; }
  .homepage_header_fruitBox.homepage_header_grapeBox {
    width: 15%;
    top: 67%;
    left: 30%;
    transform: rotate(-20deg); }
  .homepage_header_fruitBox.homepage_header_pineappleBox {
    width: 19%;
    top: 45%;
    left: 60%; }
  .homepage_header_fruitBox.homepage_header_tomatoBox {
    display: none; }
  .homepage_header_fruitBox.homepage_header_watermalonBox {
    width: 18%;
    top: 65%;
    left: 70%; }
  .homepage_title, .homepage_diy_container {
    top: 130px; }
  .homepage_title h2 {
    top: 40px;
    left: 65px; }
  .homepage_diy_container {
    height: 80vh;
    display: flex;
    flex-direction: column-reverse; }
  .homepage_diy_fruitBlock {
    position: relative; }
    .homepage_diy_fruitBlock .homepage_diy_arrowRight,
    .homepage_diy_fruitBlock .homepage_diy_arrowLeft {
      position: absolute;
      transform: scale(0.5);
      background-color: #fff;
      opacity: .5;
      top: 0;
      bottom: 0;
      margin: auto; }
      .homepage_diy_fruitBlock .homepage_diy_arrowRight img,
      .homepage_diy_fruitBlock .homepage_diy_arrowLeft img {
        transform: translateY(100%); }
    .homepage_diy_fruitBlock .homepage_diy_arrowRight {
      right: 0; }
    .homepage_diy_fruitBlock .homepage_diy_fruitPic {
      width: 80px;
      padding: 15px;
      line-height: 86px;
      vertical-align: middle; }
    .homepage_diy_fruitBlock .homepage_diy_Box {
      width: 300%; }
    .homepage_diy_fruitBlock .homepage_diy_fruitBox {
      float: left;
      margin-top: 10px; }
    .homepage_diy_fruitBlock .homepage_diy_labaPhone {
      float: left;
      width: 80px; }
  .homepage_diy_buttleBlock {
    width: 25%;
    margin: -15px auto; }
  .homepage_diy_labaBox {
    display: none; }
  .homepage_diy_btn {
    bottom: 23%; }
  .homepage_test_boardContainer {
    width: 90%;
    height: 55vh; }
    .homepage_test_boardContainer .homepage_test_boardBlock {
      width: 88%;
      vertical-align: middle;
      text-align: center; }
  .homepage_test_questionBlock {
    font-size: 20px; }
  .homepage_test_questionPic {
    width: 15%; } }

@media all and (min-width: 768px) {
  .homepage_btn {
    padding: 20px 50px; }
  .homepage_header_waterPic {
    width: 150%;
    top: 10%; }
  .homepage_header_textBlock {
    top: 190px;
    font-size: 14px;
    line-height: 1.6; }
  .homepage_header_fruitBox {
    width: 11%; }
    .homepage_header_fruitBox.homepage_header_appleBox {
      width: 9%;
      top: 50%;
      left: 8%; }
    .homepage_header_fruitBox.homepage_header_cantaloupeBox {
      width: 14%;
      left: 20%;
      top: 71%; }
    .homepage_header_fruitBox.homepage_header_grapeBox {
      top: 24%;
      left: 5%; }
    .homepage_header_fruitBox.homepage_header_pineappleBox {
      width: 13%;
      top: 45%;
      left: 40%; }
    .homepage_header_fruitBox.homepage_header_tomatoBox {
      left: 70%;
      top: 40%; }
    .homepage_header_fruitBox.homepage_header_watermalonBox {
      width: 16%;
      top: 65%;
      left: 80%; }
  .homepage_diy_container {
    position: relative;
    top: 150px;
    height: 80vh;
    display: flex;
    flex-direction: column-reverse; }
  .homepage_diy_arrowRight, .homepage_diy_arrowLeft {
    display: none; }
  .homepage_diy_Box {
    box-sizing: border-box;
    padding: 40px;
    margin-top: -54px;
    background-image: url("../images/homepage/hightlight.png");
    background-repeat: no-repeat;
    background-position: center; }
    .homepage_diy_Box .homepage_diy_fruitPic {
      height: 100px;
      width: 30%;
      margin: 20% auto; }
    .homepage_diy_Box .homepage_diy_labaPhone {
      display: none; }
    .homepage_diy_Box .homepage_diy_grapePic img, .homepage_diy_Box .homepage_diy_bananaPic img {
      position: relative;
      top: 30px;
      transform: scale(1.2); }
  .homepage_diy_labaBox {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end; }
    .homepage_diy_labaBox .homepage_diy_labaPic {
      width: 25%; }
    .homepage_diy_labaBox .homepage_diy_labaContent {
      margin-left: 10px;
      box-sizing: border-box;
      padding-bottom: 20px;
      white-space: nowrap; }
  .homepage_diy_buttleBlock {
    width: 15%;
    margin: auto; }
  .homepage_diy_btn {
    right: 7%;
    bottom: 47%; }
  .homepage_test_boardContainer {
    top: 170px;
    width: 90%;
    height: 69vh; }
    .homepage_test_boardContainer .homepage_test_boardBlock {
      width: 91%;
      line-height: 99vh; }
  .homepage_test_questionContainer {
    line-height: 13;
    font-size: 40px; }
    .homepage_test_questionContainer .homepage_test_questionBlock h3 {
      font-size: 40px; }
    .homepage_test_questionContainer .homepage_test_answerBlock {
      line-height: 3; }
      .homepage_test_questionContainer .homepage_test_answerBlock h4 {
        font-size: 30px;
        padding: 0 30px;
        display: inline-block; } }

@media all and (min-width: 1024px) {
  .homepage_header_bottleBlock {
    height: 22vh; }
    .homepage_header_bottleBlock .homepage_header_bottlePic {
      width: 14%; }
  .homepage_header_waterPic {
    width: 82%;
    top: 8%; }
  .homepage_header_textBlock {
    display: flex;
    justify-content: space-around;
    top: auto;
    bottom: 6%;
    font-size: 7vw;
    line-height: 1; }
    .homepage_header_textBlock .homepage_header_textWrapper {
      opacity: 0;
      font-size: 3vw;
      line-height: 1.8; }
    .homepage_header_textBlock .homepage_header_text1 {
      margin-left: -10px; }
    .homepage_header_textBlock .homepage_header_text2 {
      margin-left: 200px; }
  .homepage_header_fruitBox {
    width: 7%; }
    .homepage_header_fruitBox .homepage_header_fruitContent {
      display: block; }
    .homepage_header_fruitBox.homepage_header_appleBox {
      width: 8%; }
      .homepage_header_fruitBox.homepage_header_appleBox .homepage_header_fruitContent {
        top: 80%;
        transform: rotate(20deg);
        right: -160px; }
    .homepage_header_fruitBox.homepage_header_cantaloupeBox {
      width: 8%;
      left: 31%;
      top: 65%; }
      .homepage_header_fruitBox.homepage_header_cantaloupeBox .homepage_header_fruitContent {
        transform: rotate(30deg);
        top: 100%;
        right: -140px; }
    .homepage_header_fruitBox.homepage_header_grapeBox {
      top: 30%;
      left: 13%; }
      .homepage_header_fruitBox.homepage_header_grapeBox .homepage_header_fruitContent {
        right: -160px;
        top: 35%; }
    .homepage_header_fruitBox.homepage_header_pineappleBox {
      width: 9%;
      top: 29%;
      left: 43%; }
      .homepage_header_fruitBox.homepage_header_pineappleBox .homepage_header_fruitContent {
        top: 80%;
        left: -140px;
        transform: rotate(-20deg); }
    .homepage_header_fruitBox.homepage_header_tomatoBox {
      top: 24%;
      left: 65%; }
      .homepage_header_fruitBox.homepage_header_tomatoBox .homepage_header_fruitContent {
        top: 110%;
        left: 50%;
        transform: translateX(-50%); }
    .homepage_header_fruitBox.homepage_header_watermalonBox {
      width: 10%;
      top: 55%; }
      .homepage_header_fruitBox.homepage_header_watermalonBox .homepage_header_fruitContent {
        left: -160px;
        transform: rotate(-20deg);
        top: 70%; }
  .homepage_header_drop {
    display: block;
    position: absolute;
    opacity: 0; }
    .homepage_header_drop.homepage_header_drop1 {
      top: 28%;
      left: 5%;
      width: 80px; }
    .homepage_header_drop.homepage_header_drop2 {
      top: 29%;
      right: 5%;
      width: 97px; }
  .homepage_diy_container {
    flex-direction: row;
    position: relative;
    top: 10%; }
    .homepage_diy_container .homepage_diy_fruitContent {
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 0;
      margin: auto;
      line-height: 36px;
      text-align: center; }
  .homepage_diy_fruitBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 4%; }
    .homepage_diy_fruitBlock .homepage_diy_Box {
      position: relative;
      margin: 0px; }
      .homepage_diy_fruitBlock .homepage_diy_Box .homepage_diy_fruitPic {
        width: 30%;
        max-width: 80px; }
      .homepage_diy_fruitBlock .homepage_diy_Box .homepage_diy_grapePic {
        margin-top: 30%;
        margin-left: 74%; }
      .homepage_diy_fruitBlock .homepage_diy_Box .homepage_diy_cantaloupePic {
        margin-top: 10%;
        margin-left: 35%; }
      .homepage_diy_fruitBlock .homepage_diy_Box .homepage_diy_tomatoPic {
        margin-top: -4%;
        margin-left: 44%; }
      .homepage_diy_fruitBlock .homepage_diy_Box .homepage_diy_guavaPic {
        width: 28%;
        max-width: 75px;
        margin-top: 30%; }
      .homepage_diy_fruitBlock .homepage_diy_Box .homepage_diy_pineapplePic {
        position: absolute;
        top: 50%;
        width: 9%;
        left: 37%; }
      .homepage_diy_fruitBlock .homepage_diy_Box .homepage_diy_watermelonPic {
        margin-top: 140%;
        margin-left: 70%; }
      .homepage_diy_fruitBlock .homepage_diy_Box .homepage_diy_bananaPic {
        margin-top: 42%;
        margin-left: 10%; }
      .homepage_diy_fruitBlock .homepage_diy_Box .homepage_diy_applePic {
        margin-top: -4%;
        margin-left: 40%; }
      .homepage_diy_fruitBlock .homepage_diy_Box .homepage_diy_orangePic {
        margin-top: -10%;
        margin-left: 23%; }
  .homepage_diy_buttleBlock {
    width: 14%;
    margin-left: 5%; }
  .homepage_diy_arrowBox {
    position: absolute;
    display: block;
    left: 52%;
    padding-top: 60px; }
    .homepage_diy_arrowBox h4 {
      position: relative;
      left: 80px;
      transform: rotate(20deg); }
  .homepage_diy_labaBox .homepage_diy_labaPic {
    width: 90px; }
  .homepage_diy_btn {
    right: .5%;
    bottom: 23%; }
  .homepage_test_boardContainer {
    top: 161px;
    width: 90%;
    height: 55vh;
    max-width: 1400px; }
    .homepage_test_boardContainer .homepage_test_boardBlock {
      width: 99%;
      height: 51vh;
      transform: translate(-49.5%, -50%);
      line-height: 82vh; }
  .homepage_test_questionContainer {
    line-height: 10; } }

@media all and (min-width: 1440px) {
  .homepage_header_waterPic {
    width: 78%;
    top: auto;
    bottom: 9%; }
  .homepage_header_fruitBox {
    width: 7%; }
    .homepage_header_fruitBox.homepage_header_appleBox {
      width: 6%;
      width: 90px; }
    .homepage_header_fruitBox.homepage_header_cantaloupeBox {
      width: 6%;
      left: 31%;
      top: 61%; }
    .homepage_header_fruitBox.homepage_header_grapeBox {
      top: 20%; }
    .homepage_header_fruitBox.homepage_header_pineappleBox {
      width: 7%;
      top: 29%;
      left: 43%; }
    .homepage_header_fruitBox.homepage_header_tomatoBox {
      top: 24%; }
    .homepage_header_fruitBox.homepage_header_watermalonBox {
      width: 8%;
      top: 55%; }
  .homepage_diy_fruitBlock .homepage_diy_Box {
    background-size: 60%;
    padding: 40px; }
    .homepage_diy_fruitBlock .homepage_diy_Box .homepage_diy_fruitPic {
      width: 30%;
      max-width: 80px; }
    .homepage_diy_fruitBlock .homepage_diy_Box .homepage_diy_grapePic {
      margin-top: 34%;
      margin-left: 85%; }
    .homepage_diy_fruitBlock .homepage_diy_Box .homepage_diy_cantaloupePic {
      margin-top: -5%;
      margin-left: 56%; }
    .homepage_diy_fruitBlock .homepage_diy_Box .homepage_diy_tomatoPic {
      margin-top: 0%;
      margin-left: 65%; }
    .homepage_diy_fruitBlock .homepage_diy_Box .homepage_diy_guavaPic {
      margin-top: 12%; }
    .homepage_diy_fruitBlock .homepage_diy_Box .homepage_diy_pineapplePic {
      top: 44%; }
    .homepage_diy_fruitBlock .homepage_diy_Box .homepage_diy_watermelonPic {
      margin-top: 130%;
      margin-left: 70%; }
    .homepage_diy_fruitBlock .homepage_diy_Box .homepage_diy_bananaPic {
      margin-left: 0%; }
    .homepage_diy_fruitBlock .homepage_diy_Box .homepage_diy_applePic {
      margin-left: 18%; }
    .homepage_diy_fruitBlock .homepage_diy_Box .homepage_diy_orangePic {
      margin-top: -4%;
      margin-left: 10%; }
  .homepage_diy_buttleBlock {
    width: 12%; }
  .homepage_diy_btn {
    right: 4%; }
  .homepage_test_boardContainer .homepage_test_boardBlock {
    line-height: 80vh; } }

#homepage_blog_ribbon {
  width: 100%;
  height: 100%;
  top: 100px;
  overflow: hidden;
  position: absolute; }

#snowflake {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden; }

.snowRoll {
  position: absolute;
  opacity: 0;
  -webkit-animation-name: mysnow;
  -webkit-animation-duration: 10s;
  -moz-animation-name: mysnow;
  -moz-animation-duration: 10s;
  height: 80px; }

@-webkit-keyframes mysnow {
  0% {
    bottom: 100%; }
  50% {
    -webkit-transform: rotate(80deg); }
  100% { } }

@-moz-keyframes mysnow {
  0% {
    bottom: 100%; }
  50% {
    -moz-transform: rotate(80deg); }
  100% { } }

.homepage_blog {
  background-image: url("../images/homepage/blog_backgroung4.jpg");
  background-size: cover;
  background-position: bottom center;
  height: 100vh; }

.homepage_blog_spotlightBox {
  display: none; }

.homepage_blog_platBlock {
  position: absolute;
  bottom: 0px;
  box-sizing: border-box;
  width: 60%;
  margin-left: 3%;
  z-index: 4; }
  .homepage_blog_platBlock .homepage_blog_personsBox {
    position: absolute;
    width: 100%; }
    .homepage_blog_platBlock .homepage_blog_personsBox div {
      position: relative;
      transition: 2s; }
    .homepage_blog_platBlock .homepage_blog_personsBox .homepage_blog_person1 {
      margin-top: -15%; }
    .homepage_blog_platBlock .homepage_blog_personsBox .homepage_blog_person2 {
      left: 7%; }
    .homepage_blog_platBlock .homepage_blog_personsBox .homepage_blog_person3 {
      margin-top: 20%; }
  .homepage_blog_platBlock .homepage_blog_platBox {
    margin-top: 35%; }

.homepage_blog_btnBlock {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 15%;
  right: 3%; }
  .homepage_blog_btnBlock div {
    margin-bottom: 10px; }

.homepage_blog_contentAndMessage {
  display: none; }

.homepage_blog_papperBlock {
  box-sizing: border-box;
  position: relative; }
  .homepage_blog_papperBlock .homepage_blog_plate {
    position: absolute; }

.homepage_blog_papperBox {
  background-color: rgba(255, 255, 255, 0.8); }
  .homepage_blog_papperBox h3 {
    color: #ea8523; }

.homepage_blog_picBox {
  position: relative;
  box-sizing: border-box;
  padding: 6px 57px 35px; }
  .homepage_blog_picBox .homepage_blog_goodBox {
    position: absolute;
    display: inline;
    top: 5%;
    border-radius: 0  3px 3px 0;
    background-color: white; }
    .homepage_blog_picBox .homepage_blog_goodBox .homepage_blog_goodPic {
      display: inline-block;
      box-sizing: border-box;
      padding: 3px;
      width: 50%;
      vertical-align: middle; }
    .homepage_blog_picBox .homepage_blog_goodBox p {
      display: inline-block;
      color: #ea8523;
      height: 100%;
      vertical-align: middle; }

@media only screen and (max-width: 767px) {
  .homepage_blog_papperBlock {
    position: relative;
    top: 115px; }
  .homepage_blog_titleBox {
    padding: 7px 25px 1px; }
    .homepage_blog_titleBox h3 {
      margin: 7% 0; }
    .homepage_blog_titleBox .homepage_blog_fruit {
      padding-left: 5px; }
  .homepage_blog_picBox {
    padding: 0px 37px 23px; }
    .homepage_blog_picBox .homepage_blog_goodBox {
      width: 20%; }
      .homepage_blog_picBox .homepage_blog_goodBox p {
        line-height: 1.7; }
  .homepage_blog_papperBlock {
    padding: 10px 20px; }
    .homepage_blog_papperBlock .homepage_blog_plate {
      width: 15%;
      top: 21%;
      right: 10%; } }

@media all and (min-width: 768px) {
  .homepage_blog_papperBlock {
    top: 130px; }
  .homepage_blog_titleBox {
    padding: 12px 25px 2px; }
    .homepage_blog_titleBox h3 {
      margin: 7% 5%;
      font-size: 2.5em; }
    .homepage_blog_titleBox .homepage_blog_fruit {
      padding: 5px 10px; }
  .homepage_blog_picBox .homepage_blog_goodBox {
    width: 13%; }
    .homepage_blog_picBox .homepage_blog_goodBox p {
      font-size: 1.2em; }
  .homepage_blog_papperBlock {
    padding: 10px 20px; }
    .homepage_blog_papperBlock .homepage_blog_plate {
      width: 12%;
      top: 20%;
      right: 4%; } }

@media all and (min-width: 1024px) {
  .homepage_blog_container {
    max-width: 1200px; }
    .homepage_blog_container .cl-xl-4 {
      width: 33.33333%; }
    .homepage_blog_container .cl-xl-8 {
      width: 66.66667%; }
  .homepage_blog_papperBlock {
    background-image: url("../images/homepage/papper.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: auto;
    width: 72%;
    max-width: 1200px;
    position: absolute;
    bottom: 11%;
    right: 2%;
    padding: 2% 2% 5%; }
    .homepage_blog_papperBlock .homepage_blog_plate {
      top: auto;
      bottom: -9%; }
    .homepage_blog_papperBlock .homepage_blog_papperBox {
      background-color: transparent;
      box-sizing: border-box;
      margin: 6% 3% 1%; }
  .homepage_blog_platBlock .homepage_blog_personsBox .homepage_blog_person1 {
    margin-top: -15%; }
  .homepage_blog_platBlock .homepage_blog_personsBox .homepage_blog_person2 {
    left: 7%; }
  .homepage_blog_platBlock .homepage_blog_personsBox .homepage_blog_person3 {
    margin-top: 20%; }
  .homepage_blog_picBox .homepage_blog_goodBox {
    top: auto;
    bottom: 20%;
    width: 18%; }
  .homepage_blog_spotlightBox {
    position: absolute;
    display: block;
    left: 0;
    top: -100%;
    right: 0;
    margin: auto;
    z-index: -1; }
    .homepage_blog_spotlightBox .homepage_blog_spotlight1 {
      perspective-origin: top;
      transform: rotate(10deg);
      opacity: 1; }
    .homepage_blog_spotlightBox .homepage_blog_spotlight2 {
      position: absolute; }
    .homepage_blog_spotlightBox .homepage_blog_spotlight3 {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 1;
      top: -90%; }
    .homepage_blog_spotlightBox .homepage_blog_spotlight-active {
      opacity: 1; }
  .homepage_blog_titleAndPic {
    box-sizing: border-box;
    padding: 0 20px; }
    .homepage_blog_titleAndPic .homepage_blog_titleBox h3 {
      font-size: 26px;
      position: relative; }
    .homepage_blog_titleAndPic .homepage_blog_fruits {
      margin: 2% 0; }
    .homepage_blog_titleAndPic .homepage_blog_title h3 {
      margin: 10% 5%; }
    .homepage_blog_titleAndPic .homepage_blog_picBox {
      padding: 0;
      margin: 0 30px; }
  .homepage_blog_btnBlock {
    display: flex;
    flex-direction: row;
    bottom: 10px;
    right: 15%; }
    .homepage_blog_btnBlock div {
      margin-right: 20px; }
  .homepage_blog_contentAndMessage {
    display: block;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%); }
    .homepage_blog_contentAndMessage .homepage_blog_authorPic {
      display: inline-block;
      width: 24%; }
      .homepage_blog_contentAndMessage .homepage_blog_authorPic img {
        border-radius: 50%; }
    .homepage_blog_contentAndMessage p {
      display: inline-block;
      color: #888; }
    .homepage_blog_contentAndMessage h4 {
      color: #555;
      line-height: 1.4;
      padding: 10px 0; }
    .homepage_blog_contentAndMessage .homepage_blog_messageBox {
      margin: 15px 0;
      position: relative; }
      .homepage_blog_contentAndMessage .homepage_blog_messageBox .homepage_blog_messageAuthor {
        float: left; }
        .homepage_blog_contentAndMessage .homepage_blog_messageBox .homepage_blog_messageAuthor img {
          border-radius: 50%; }
      .homepage_blog_contentAndMessage .homepage_blog_messageBox .homepage_blog_messageText {
        height: 100%;
        position: absolute;
        right: 0; }
        .homepage_blog_contentAndMessage .homepage_blog_messageBox .homepage_blog_messageText:before {
          content: '';
          height: 100%;
          display: inline-block;
          vertical-align: middle; }
      .homepage_blog_contentAndMessage .homepage_blog_messageBox p {
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
        padding-left: 10px; } }

@media all and (min-width: 1440px) {
  .homepage_blog_container {
    max-width: 1400px; } }
