@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

#lightbox_section {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 4;
  display: none; }

.lightbox_logo img {
  width: 35%;
  margin-right: 14px; }

.lightbox {
  background-color: #d7eab2;
  width: 80%;
  max-width: 350px;
  text-align: center;
  box-sizing: border-box;
  padding: 5px 5px 0px 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 30px;
  transform: translate(-50%, -50%); }

#fruit,
#fruit2 {
  opacity: 0; }

.account {
  font-size: 0; }
  .account img {
    margin-left: 5px;
    width: 8%;
    display: inline-block;
    vertical-align: middle; }

.secret {
  font-size: 0; }
  .secret img {
    margin-left: 5px;
    width: 8%;
    display: inline-block;
    vertical-align: middle; }

#close {
  position: absolute;
  right: 19px;
  top: -32px;
  top: 7px;
  color: #000;
  font-size: 42px;
  font-weight: bold; }

.loginContainer {
  padding-top: 11%; }

.memeber {
  display: block;
  border-radius: 10px;
  width: 100%; }

input[type="text"],
input[type="password"] {
  width: 90%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  vertical-align: middle; }

.login_btn {
  display: inline-block;
  width: 90%;
  background-color: #fff100;
  padding: 12px 20px;
  border-radius: 10px;
  margin: 8px 0;
  position: relative;
  left: -5%; }

.lightbox_signUp,
.lightbox_forgrtPsw {
  color: black;
  text-decoration: none; }

.regPsw {
  padding: 3% 12% 5% 5%;
  text-align: right;
  font-size: 15px; }

.regPsw > a {
  padding: 0 2%; }

.orange img {
  width: 15%; }

*,
*:before,
*:after {
  box-sizing: inherit; }

/* 橘子 */
/* 冰塊 */
/* 果汁的顏色*/
.cocktail {
  padding: 7px 0 0; }
  @media all and (max-width: 600px) {
    .cocktail {
      width: 50%; } }
  @media all and (max-width: 400px) {
    .cocktail {
      width: 100%; } }
  .cocktail .cocktail__glass {
    margin: 0 auto; }
  .cocktail.negroni {
    padding-top: 113px; }
  .cocktail.martini {
    padding-top: 89px; }
    .cocktail.martini .description {
      padding-top: 42px; }
  .cocktail .ice .ice__cube {
    background: rgba(255, 255, 255, 0.5);
    width: 14px;
    height: 14px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    position: absolute;
    bottom: 0; }
    .cocktail .ice .ice__cube:nth-child(1) {
      left: 0px;
      transform: rotate(20deg) translate3d(0, 0, 0); }
    .cocktail .ice .ice__cube:nth-child(2) {
      left: 14px;
      transform: rotate(40deg) translate3d(0, 0, 0); }
    .cocktail .ice .ice__cube:nth-child(3) {
      left: 28px;
      transform: rotate(60deg) translate3d(0, 0, 0); }
    .cocktail .ice .ice__cube.cube-3 {
      transform: rotate(60deg) translate3d(-18px, 9px, 0); }
  .cocktail .orange {
    position: absolute;
    right: 8px;
    top: 2px;
    transform: rotate(250deg);
    overflow: hidden;
    width: 28px;
    height: 14px;
    animation: float 3s infinite alternate linear; }
    .cocktail .orange:before {
      content: "";
      position: absolute;
      background-color: orange;
      width: 100%;
      height: 200%;
      border-radius: 50%;
      box-shadow: inset 0 0 0 2px #ffc04d, inset 0 0 0 10px #ffdb99; }
  .cocktail .cherry {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #c40000;
    position: relative;
    left: 17px;
    top: 3px;
    animation: float-simple 5s infinite alternate linear; }
    .cocktail .cherry:before {
      content: "";
      background-color: transparent;
      width: 23px;
      height: 17px;
      border-radius: 50% / 100%;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border: 1px solid #c40000;
      border-right: none;
      border-top: none;
      border-bottom: none;
      display: block;
      position: absolute;
      top: -11px;
      left: 3px;
      transform: rotate(15deg); }
  .cocktail .cocktail__glass-long {
    position: relative;
    width: 32px;
    height: 65px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }
    .cocktail .cocktail__glass-long:after {
      content: "";
      background: rgba(255, 195, 0, 0.5);
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 0;
      animation: fill-long 0.6s forwards ease; }
  .cocktail .orange {
    position: absolute;
    right: 12px;
    top: -4px;
    transform: rotate(15deg);
    overflow: hidden;
    width: 28px;
    height: 14px;
    animation: float-simple 3s infinite alternate linear; }
    .cocktail .orange:before {
      content: "";
      position: absolute;
      background-color: orange;
      width: 100%;
      height: 200%;
      border-radius: 50%;
      box-shadow: inset 0 0 0 2px #ffc04d, inset 0 0 0 10px #ffdb99; }

.cocktail__glass-classic {
  position: relative;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid rgba(255, 255, 255, 0.3);
  /* 填滿果汁 */ }
  .cocktail__glass-classic:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 18px solid rgba(255, 255, 255, 0.3);
    position: absolute;
    top: -20px;
    left: -18px;
    animation: fill-classic 0.6s forwards ease;
    transform: translate3d(0, 0, 0) scale(0);
    transform-origin: 50% bottom; }

@keyframes float {
  50% {
    transform: rotate(260deg) translate3d(-2px, 1px, 0); } }

@keyframes float-simple {
  50% {
    transform: rotate(15deg) translate3d(0px, 2px, 0); } }

@keyframes fill-classic {
  100% {
    transform: translate3d(0, 0, 0) scale(1); } }

@keyframes fill-long {
  100% {
    height: 55px; } }

@keyframes fill-short {
  100% {
    height: 27px; } }
