@charset "UTF-8";
.clearfix:after {
  display: block;
  content: '';
  clear: both; }

body {
  font-family: "Microsoft JhengHei"; }

.wrapper {
  margin: 0 auto; }

.wrapper {
  max-width: 1200px;
  width: 100%; }

@media only screen and (max-width: 767px) {
  .cl-s-1, .cl-s-2, .cl-s-3, .cl-s-4, .cl-s-5, .cl-s-6,
  .cl-s-7, .cl-s-8, .cl-s-9, .cl-s-10, .cl-s-11, .cl-s-12 {
    float: left;
    box-sizing: border-box; }
  .cl-s-1 {
    width: 8.33333%; }
  .cl-s-2 {
    width: 16.66667%; }
  .cl-s-3 {
    width: 25%; }
  .cl-s-4 {
    width: 33.33333%; }
  .cl-s-5 {
    width: 41.66667%; }
  .cl-s-6 {
    width: 50%; }
  .cl-s-7 {
    width: 58.33333%; }
  .cl-s-8 {
    width: 66.66667%; }
  .cl-s-9 {
    width: 75%; }
  .cl-s-10 {
    width: 83.33333%; }
  .cl-s-11 {
    width: 91.66667%; }
  .cl-s-12 {
    width: 100%; }
  h2 {
    font-size: 26px; }
  h3 {
    font-size: 20px; }
  h4 {
    font-size: 18px; }
  p {
    font-size: 16px; } }

@media all and (min-width: 768px) {
  .cl-md-1, .cl-md-2, .cl-md-3, .cl-md-4, .cl-md-5, .cl-md-6,
  .cl-md-7, .cl-md-8, .cl-md-9, .cl-md-10, .cl-md-11, .cl-md-12 {
    float: left;
    box-sizing: border-box; }
  .cl-md-1 {
    width: 8.33333%; }
  .cl-md-2 {
    width: 16.66667%; }
  .cl-md-3 {
    width: 25%; }
  .cl-md-4 {
    width: 33.33333%; }
  .cl-md-5 {
    width: 41.66667%; }
  .cl-md-6 {
    width: 50%; }
  .cl-md-7 {
    width: 58.33333%; }
  .cl-md-8 {
    width: 66.66667%; }
  .cl-md-9 {
    width: 75%; }
  .cl-md-10 {
    width: 83.33333%; }
  .cl-md-11 {
    width: 91.66667%; }
  .cl-md-12 {
    width: 100%; }
  h2 {
    font-size: 32px; }
  h3 {
    font-size: 24px; }
  h4 {
    font-size: 18px; }
  p {
    font-size: 16px; } }

@media all and (min-width: 1024px) {
  .cl-xl-1, .cl-xl-2, .cl-xl-3, .cl-xl-4, .cl-xl-5, .cl-xl-6,
  .cl-xl-7, .cl-xl-8, .cl-xl-9, .cl-xl-10, .cl-xl-11, .cl-xl-12 {
    float: left;
    box-sizing: border-box; }
  .cl-xl-1 {
    width: 8.33333%; }
  .cl-xl-2 {
    width: 16.66667%; }
  .cl-xl-3 {
    width: 25%; }
  .cl-xl-4 {
    width: 33.33333%; }
  .cl-xl-5 {
    width: 41.66667%; }
  .cl-xl-6 {
    width: 50%; }
  .cl-xl-7 {
    width: 58.33333%; }
  .cl-xl-8 {
    width: 66.66667%; }
  .cl-xl-9 {
    width: 75%; }
  .cl-xl-10 {
    width: 83.33333%; }
  .cl-xl-11 {
    width: 91.66667%; }
  .cl-xl-12 {
    width: 100%; } }

img {
  width: 100%;
  vertical-align: middle; }

a {
  text-decoration: none;
  color: #5e4909; }

.common_btn {
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 14px;
  width: 160px;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: .1rem;
  text-align: center;
  text-decoration: none;
  border-radius: 11px;
  overflow: hidden; }
  .common_btn .common_btn_blobs {
    height: 100%;
    -webkit-filter: url(#goo);
    filter: url(#goo);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -3px;
    right: -1px;
    border-radius: 11px;
    width: 110%; }
    .common_btn .common_btn_blobs div {
      width: 34%;
      height: 100%;
      border-radius: 100%;
      position: absolute;
      -webkit-transform: scale(1.4) translateY(125%) translateZ(0);
      transform: scale(1.4) translateY(125%) translateZ(0);
      -webkit-transition: all 700ms ease;
      transition: all 700ms ease; }
    .common_btn .common_btn_blobs div:nth-child(1) {
      left: -5%; }
    .common_btn .common_btn_blobs div:nth-child(2) {
      left: 30%;
      -webkit-transition-delay: 60ms;
      transition-delay: 60ms; }
    .common_btn .common_btn_blobs div:nth-child(3) {
      left: 66%;
      -webkit-transition-delay: 25ms;
      transition-delay: 25ms; }
  .common_btn .common_btn_txt {
    position: relative;
    z-index: 1;
    -webkit-transition: color .3s;
    transition: color .3s;
    -webkit-transition-delay: .2s;
    transition-delay: .2s; }
  .common_btn:hover .common_btn_blobs div {
    -webkit-transform: scale(1.5) translateY(0) translateZ(0);
    transform: scale(1.5) translateY(0) translateZ(0); }

/* 一級按鈕背景文字 */
.common_btn_first {
  background-color: #ffd700;
  /* 一級按鈕hover過去的背景和文字顏色 */ }
  .common_btn_first .common_btn_txt {
    color: #603813; }
  .common_btn_first .common_btn_blobs div {
    background-color: #90A30B; }
  .common_btn_first:hover .common_btn_txt {
    color: #fff; }

/* 二級按鈕背景文字 */
.common_btn_second {
  background-color: #90A30B;
  /* 二級按鈕hover過去的背景和文字顏色 */ }
  .common_btn_second .common_btn_txt {
    color: #fff; }
  .common_btn_second .common_btn_blobs div {
    background-color: #ffd700; }
  .common_btn_second:hover .common_btn_txt {
    color: #603813; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  font-size: 0; }

#hb_control {
  display: none; }

header {
  overflow: hidden; }
  header nav {
    position: fixed;
    width: 100%;
    z-index: 100; }
    header nav li a {
      font-weight: 900;
      position: relative;
      letter-spacing: .1em; }
    header nav li > a:after {
      content: '';
      position: absolute;
      bottom: -0.6em;
      left: -2%;
      width: 104%;
      height: 5px;
      transform: scaleX(0);
      background-color: #603813;
      transition: all .2s ease;
      opacity: 0.6; }
    header nav li > a:hover::after {
      transform: scaleX(1); }
  header .nav_mem {
    display: flex;
    position: absolute;
    z-index: 3;
    right: 10px;
    top: 5px; }
    header .nav_mem p {
      vertical-align: middle;
      line-height: 25px;
      margin-right: 10px; }
    header .nav_mem .mem_pic {
      width: 25px;
      margin-right: 8px; }
  header .menu {
    font-size: 20px;
    position: absolute;
    width: 100%; }

#svg-2 {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  width: 200%;
  height: 130px;
  z-index: -2; }

#wave {
  position: fixed;
  display: block;
  vertical-align: middle;
  left: 0;
  top: 0;
  height: 140px;
  width: 300%;
  fill: white;
  -webkit-animation: move 5s 1s linear infinite alternate;
  animation: move 5s .5s linear infinite alternate; }

#wave2 {
  position: fixed;
  display: block;
  vertical-align: middle;
  left: 0;
  top: 0;
  height: 150px;
  width: 300%;
  fill: #f4d66d;
  -webkit-animation: move 10s linear infinite alternate;
  animation: move 10s linear infinite alternate; }

.robot {
  position: fixed;
  width: 110px;
  bottom: 0;
  right: 0;
  z-index: 50; }

.coupon {
  position: fixed;
  width: 100px;
  top: 110px;
  right: 2%;
  z-index: 100; }

@media only screen and (max-width: 767px) {
  .robot {
    width: 80px; }
  .coupon {
    top: 140px;
    width: 70px; }
  #svg-2 {
    transition: height 1.3s 0.5s ,width 2s; }
  #wave {
    height: 95px;
    transition: 1s; }
  #wave2 {
    height: 100px;
    transition: 1s; }
  .menu {
    text-align: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin-top: 40px;
    position: absolute;
    left: -1000px;
    opacity: 0;
    transition: left 0s 1s,opacity 1s 0s; }
    .menu .menu_item {
      margin: 40px; }
    .menu .menu_logo {
      display: none; }
  .ph_nav {
    display: relative;
    width: 100%;
    margin-top: 7px; }
    .ph_nav .phone_logo {
      width: 60px;
      margin: auto; }
    .ph_nav .hb {
      padding: 20px 15px;
      float: left;
      margin: 14px 0 0 5%; }
      .ph_nav .hb span {
        display: block;
        height: 2px;
        width: 25px;
        background-color: #5e4909;
        position: relative; }
        .ph_nav .hb span:after, .ph_nav .hb span:before {
          content: '';
          display: block;
          height: 2px;
          width: 25px;
          background-color: #5e4909;
          position: absolute; }
        .ph_nav .hb span:before {
          top: -6px; }
        .ph_nav .hb span:after {
          top: 6px; } }

#hb_control:checked ~ nav #svg-2 {
  transition: 2s;
  height: 110vh;
  width: 1000%; }

#hb_control:checked ~ nav #wave {
  transition: 2s;
  width: 900%;
  height: 107vh;
  animation: move2 3s 1s linear infinite alternate; }

#hb_control:checked ~ nav #wave2 {
  height: 108vh;
  transition: 2s;
  width: 1000%;
  animation: move2 5s linear infinite alternate; }

#hb_control:checked ~ nav .menu {
  transition: left 0s ,opacity 2s 1s;
  opacity: 1;
  left: 0; }

@media all and (min-width: 768px) {
  .ph_nav {
    display: none; }
  #svg-2 {
    height: 150px; }
  .menu {
    max-width: 1200px;
    left: 0;
    right: 0;
    margin: 10px auto; }
    .menu ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      margin: 0px 130px; }
    .menu li {
      display: inline-block; }
    .menu .menu_logo {
      width: 90px; } }

@keyframes move {
  0% {
    transform: translate(-30%, 0%); }
  100% {
    transform: translate(0%, 0%); } }

@keyframes move2 {
  0% {
    transform: translate(-20%, 0%); }
  100% {
    transform: translate(0%, 0%); } }

@-webkit-keyframes move {
  0% {
    transform: translate(-40%, 0%); }
  100% {
    transform: translate(0%, 0%); } }

@-webkit-keyframes move2 {
  0% {
    transform: translate(-20%, 0%); }
  100% {
    transform: translate(0%, 0%); } }

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
<<<<<<< HEAD
<<<<<<< HEAD
=======
/*分頁做法
header nav  li:nth-child(2) > a:after {
    transform: scaleX(1);
}
*/
<<<<<<< HEAD
>>>>>>> diy
=======
>>>>>>> 6a047bf83ca6a4f5d20759417a9bec51470ac612
>>>>>>> blog
=======
>>>>>>> 280a4a4c1247a2dea80405e899b323e7ca4b1a49
>>>>>>> member
=======
>>>>>>> cart
=======
>>>>>>> 1105homepage(having about)
footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0; }

@media only screen and (max-width: 767px) {
  .footer_wrapper {
    text-align: center; }
    .footer_wrapper .footer_block {
      margin: 0 auto; }
      .footer_wrapper .footer_block .footer_rightBox .footer_rightContent {
        padding: 8px 0; }
        .footer_wrapper .footer_block .footer_rightBox .footer_rightContent .desc {
          display: inline-block;
          padding: 5px;
          font-size: 2vw; }
        .footer_wrapper .footer_block .footer_rightBox .footer_rightContent .copyright {
          font-size: 1vw; } }

@media all and (min-width: 768px) {
  .footer_wrapper {
    position: relative;
    text-align: center;
    margin: 0 auto; }
    .footer_wrapper .footer_block {
      margin: 0 auto; }
      .footer_wrapper .footer_block .footer_rightBox .footer_rightContent {
        padding: 8px 0; }
        .footer_wrapper .footer_block .footer_rightBox .footer_rightContent .desc {
          display: inline-block;
          padding: 5px; }
        .footer_wrapper .footer_block .footer_rightBox .footer_rightContent .copyright {
          font-size: 12px; } }

.brick {
  width: 100%;
  height: 130px;
  background-color: #a4ddfa; }

footer {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0; }

.member_memberInfo {
  width: 100%;
  background-color: #a4ddfa; }

.member_memberInfo_Features_box_item {
  text-align: center; }
  .member_memberInfo_Features_box_item a {
    text-decoration: none; }
  .member_memberInfo_Features_box_item li {
    padding: 10px 0;
    color: #000; }

.member_memberInfo_box {
  width: 50%;
  border: 5px solid #aaa;
  border-radius: 50px;
  margin: auto;
  padding: 10px 0; }

.member_orderSearch_wrpaper {
  display: none; }

.member_coupon_wrpaper {
  display: none; }

.fa-photo {
  color: #fff; }

@media only screen and (max-width: 767px) {
  .modifyInfo_btn {
    padding: 12px;
    position: relative;
    top: 20px; }
  .modifyPsw_btn {
    padding: 12px;
    position: relative;
    top: 20px; }
  .member_memberInfo_wrapper {
    padding-top: 10px; }
  .member_memberInfo_profile_photo {
    width: 200px;
    padding-top: 20px;
    margin: auto; }
  .member_memberInfo_photo_box {
    width: 100px;
    height: 100px;
    background-color: orange;
    border-radius: 50%;
    margin: auto; }
    .member_memberInfo_photo_box img {
      width: 100%; }
  .uploadBtn {
    position: relative;
    top: 30px;
    left: 17px;
    padding: 14px 0px; }
  .member_memberInfo_photo_change {
    display: block;
    color: #000;
    background-color: yellow;
    border-radius: 5px;
    padding: 3%;
    margin: auto;
    margin-top: 15%;
    cursor: pointer; }
  #upload_img {
    display: none; }
  .member_memberInfo_Points_block {
    width: 200px;
    background-color: aaa;
    margin-top: 80px;
    text-align: center; }
    .member_memberInfo_Points_block p {
      display: inline-block;
      font-size: 18px;
      width: 90px; }
    .member_memberInfo_Points_block .member_memberInfo_Points {
      font-size: 18px;
      display: inline-block;
      width: 100px; }
  .member_memberInfo_Features_box {
    width: 200px;
    margin-top: 20px; }
  .member_personalInfo_basicInfo_block_item {
    margin-top: 20px; }
    .member_personalInfo_basicInfo_block_item span {
      line-height: 20px;
      margin-right: 10px;
      font-size: 16px; }
  .member_personalInfo {
    width: 300px;
    border-radius: 50px;
    margin: 20px auto 0;
    padding-bottom: 20px; }
  .member_personalInfo_basicInfo_block {
    width: 300px;
    margin: 20px auto 0;
    border: 1px solid #ccc;
    border-radius: 50px;
    text-align: center;
    padding: 40px 0;
    font-size: 18px; }
  .member_personalInfo_password_block {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 50px;
    text-align: center;
    margin: 20px auto;
    padding: 20px 0;
    font-size: 18px; }
  .member_personalInfo_password_block_item {
    margin-top: 20px;
    font-size: 16px;
    line-height: 20px; }
    .member_personalInfo_password_block_item span {
      margin-right: 10px; }
  .member_background_bottom_grass {
    width: 100%;
    height: 50px;
    margin-top: 200px;
    background-color: #D9E021;
    z-index: 0;
    position: relative; }
    .member_background_bottom_grass .member_background_bottom_car {
      width: 50%;
      position: absolute;
      bottom: 20px;
      left: 20px; }
    .member_background_bottom_grass .member_background_bottom_tree {
      width: 50%;
      position: absolute;
      bottom: 50px;
      right: 0px;
      z-index: -1; }
    .member_background_bottom_grass .member_background_bottom_cloud {
      width: 50%;
      position: absolute;
      bottom: 120px;
      right: 30px; }
    .member_background_bottom_grass .member_background_bottom_orchard {
      display: none; }
  .member_background_bottom_road {
    width: 100%;
    height: 30px;
    background-color: #8C6239;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1; }
  .member_orderSearch_title {
    width: 300px;
    margin: 0 auto 10px;
    text-align: center;
    font-size: 18px; }
  .member_orderSearch_block {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 50px;
    margin: 5% auto;
    padding: 20px 0;
    text-align: center;
    font-size: 18px; }
    .member_orderSearch_block .member_orderSearch_block_box {
      width: 200px;
      border: 1px solid #ccc;
      padding: 20px;
      margin: 30px auto; }
  .member_orderSearch_block_box_item span {
    font-size: 16px;
    line-height: 2; }
  .member_orderSearch_block_box_item #member_orderSearch_block_box_item_orderNo {
    display: inline-block; }
  .member_orderSearch_block_box_item #member_orderSearch_block_box_item_memName {
    display: inline-block; }
  .member_orderSearch_block_box_item #member_orderSearch_block_box_item_orderPrice {
    display: inline-block; }
  .member_orderSearch_block_box_item #member_orderSearch_block_box_item_orderDate {
    display: inline-block; }
  .member_orderSearch_block_lightbox {
    width: 100vw;
    height: 100vh;
    display: none;
    text-align: center;
    position: relative; }
    .member_orderSearch_block_lightbox .member_orderSearch_block_lightbox_box {
      width: 90%;
      background-color: rgba(0, 0, 0, 0.5);
      position: fixed;
      right: 0;
      left: 0;
      margin: 13% auto; }
  .member_orderSearch_block_lightbox_box table {
    margin: auto; }
  .member_orderSearch_block_lightbox_title th {
    border: 1px solid #ccc;
    color: #fff;
    width: 17%;
    line-height: 2; }
  .member_orderSearch_block_lightbox_content td {
    font-size: 16px;
    color: #fff;
    border: 1px solid #ccc; }
  .member_orderSearch_block_lightbox_picture img {
    width: 42%;
    vertical-align: middle;
    padding: 20%; }
  .member_coupon_title {
    width: 300px;
    margin: 50px auto 0;
    text-align: center;
    font-size: 18px; }
  .member_coupon_block {
    width: 80%;
    border-radius: 50px;
    margin: auto; }
  .member_coupon_block_box {
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 50px;
    margin: 20px auto;
    padding: 20px 0;
    text-align: center;
    font-size: 18px; }
    .member_coupon_block_box img {
      width: 50%;
      display: block;
      margin: auto; }
    .member_coupon_block_box span {
      display: inline-block;
      margin-top: 20px; }
    .member_coupon_block_box .member_coupon_block_box_quantity {
      display: inline-block;
      margin-top: 20px;
      width: 60px;
      height: 20px;
      background-color: #ccc; } }

@media all and (min-width: 768px) {
  .modifyInfo_btn {
    padding: 0;
    position: relative;
    top: 20px;
    left: 3%; }
  .modifyPsw_btn {
    padding: 0;
    position: relative;
    top: 20px;
    left: 3%; }
  .orderDetail_btn {
    padding: 10px;
    position: relative;
    top: 20px;
    left: 3%; }
  .member_memberInfo_box {
    width: 300px;
    margin: 50px auto 40px;
    float: right;
    padding-bottom: 50px; }
  .member_memberInfo_photo_box {
    width: 100px;
    margin: auto;
    border-radius: 100%;
    padding: 40px 0; }
    .member_memberInfo_photo_box img {
      border: 3px solid #aaa;
      border-radius: 50%;
      width: 100%; }
  .uploadBtn {
    position: relative;
    left: 55px;
    bottom: 20px; }
  x .member_memberInfo_profile_photo {
    width: 200px;
    margin: auto;
    padding: 50px 0; }
  .member_memberInfo_Features_box_item {
    text-align: center; }
    .member_memberInfo_Features_box_item a {
      text-decoration: none; }
    .member_memberInfo_Features_box_item li {
      padding: 5px 0;
      color: #000; }
  .member_memberInfo_Points_block {
    margin: 20px 0;
    text-align: center; }
    .member_memberInfo_Points_block p {
      display: inline-block;
      font-size: 18px;
      width: 90px; }
    .member_memberInfo_Points_block .member_memberInfo_Points {
      font-size: 18px;
      display: inline-block;
      width: 100px; }
  .member_personalInfo_basicInfo_block_item span {
    margin-right: 10px;
    font-size: 16px; }
  .member_personalInfo_basicInfo_block {
    width: 40%;
    border-radius: 50px;
    border: 5px solid #aaa;
    margin: 20px auto;
    text-align: center;
    padding: 20px;
    font-size: 18px;
    line-height: 3;
    position: relative;
    top: 50px; }
  .member_memberInfo_wrapper {
    padding: 20px 0;
    line-height: 20px; }
  .member_personalInfo_password_block {
    width: 40%;
    border-radius: 50px;
    border: 5px solid #aaa;
    margin: 20px auto;
    text-align: center;
    padding: 20px;
    font-size: 18px;
    line-height: 3;
    position: relative;
    top: 50px; }
  .member_personalInfo_password_block_item {
    margin-top: 20px;
    font-size: 16px;
    line-height: 20px; }
    .member_personalInfo_password_block_item span {
      margin-right: 10px; }
  .member_orderSearch_wrpaper {
    position: relative;
    top: 80px; }
  .member_orderSearch_block {
    width: 60%;
    border: 5px solid #aaa;
    border-radius: 50px;
    margin: auto;
    padding: 0px 10px 50px;
    text-align: center;
    font-size: 18px; }
    .member_orderSearch_block .member_orderSearch_block_box {
      width: 200px;
      border: 1px solid #aaa;
      border-radius: 50px;
      padding: 34px;
      margin: 2%;
      display: inline-block; }
  .member_orderSearch_block_box_item span {
    font-size: 16px;
    line-height: 2; }
  .member_orderSearch_block_box_item #member_orderSearch_block_box_item_orderNo {
    display: inline-block; }
  .member_orderSearch_block_box_item #member_orderSearch_block_box_item_memName {
    display: inline-block; }
  .member_orderSearch_block_box_item #member_orderSearch_block_box_item_orderPrice {
    display: inline-block; }
  .member_orderSearch_block_box_item #member_orderSearch_block_box_item_orderDate {
    display: inline-block; }
  .member_orderSearch_title {
    width: 300px;
    margin: 20px auto;
    padding-top: 10px;
    text-align: center;
    font-size: 18px; }
  .member_orderSearch_block_lightbox {
    width: 100vw;
    height: 100vh;
    display: none;
    text-align: center;
    position: relative; }
    .member_orderSearch_block_lightbox .member_orderSearch_block_lightbox_box {
      width: 55%;
      background-color: rgba(0, 0, 0, 0.5);
      position: fixed;
      right: 0;
      left: 0;
      margin: 15% auto; }
  .member_orderSearch_block_lightbox_box table {
    margin: auto; }
  .member_orderSearch_block_lightbox_title th {
    border: 1px solid #ccc;
    color: #fff;
    width: 17%;
    line-height: 2; }
  .member_orderSearch_block_lightbox_content td {
    font-size: 16px;
    color: #fff;
    border: 1px solid #ccc; }
  .member_orderSearch_block_lightbox_picture img {
    width: 20%;
    vertical-align: middle;
    padding: 8%; }
  .member_coupon_title {
    margin: 5% auto 0;
    text-align: center;
    font-size: 18px; }
  .member_coupon_block {
    width: 80%;
    border: 5px solid #aaa;
    border-radius: 50px;
    margin: auto;
    text-align: center;
    position: relative;
    top: 70px; }
  .member_coupon_block_box {
    width: 300px;
    border: 3px solid #aaa;
    border-radius: 50px;
    display: inline-block;
    margin: 20px 20px;
    padding: 20px 0;
    text-align: center;
    font-size: 18px; }
    .member_coupon_block_box img {
      width: 50%;
      display: block;
      margin: auto; }
    .member_coupon_block_box span {
      display: inline-block;
      margin-top: 20px; }
    .member_coupon_block_box .member_coupon_block_box_quantity {
      display: inline-block;
      margin-top: 20px;
      width: 60px;
      height: 20px;
      background-color: #ccc; }
  .member_background_bottomPart {
    margin-top: 5%; }
  .member_background_bottom_road {
    width: 100%;
    height: 30px;
    background-color: #8C6239;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1; }
  .member_background_bottom_grass {
    width: 100%;
    height: 50px;
    margin-top: 200px;
    background-color: #D9E021;
    z-index: 0;
    position: relative; }
    .member_background_bottom_grass .member_background_bottom_car {
      width: 30%;
      max-width: 576px;
      position: absolute;
      bottom: 20px;
      left: 650px; }
    .member_background_bottom_grass .member_background_bottom_tree {
      width: 25%;
      position: absolute;
      bottom: 40px;
      right: 0px;
      z-index: -1; }
    .member_background_bottom_grass .member_background_bottom_cloud {
      width: 20%;
      position: absolute;
      bottom: 500px;
      left: 10px; }
    .member_background_bottom_grass .member_background_bottom_orchard {
      width: 30%;
      position: absolute;
      bottom: 0;
      z-index: -1; } }
