* {
  margin: 0;
  padding: 0; }

#svg-2 {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 200%;
  height: 150px;
  z-index: -2; }

#svg-2 #wave {
  position: fixed;
  display: block;
  vertical-align: middle;
  left: 0;
  top: 0;
  height: 160px;
  width: 100%;
  fill: rgba(255, 255, 255, 0.5);
  -webkit-animation: move 5s 1s linear infinite;
  animation: move 5s 1s linear infinite; }

#svg-2 #wave2 {
  position: fixed;
  display: block;
  vertical-align: middle;
  left: 0;
  top: 0;
  height: 150px;
  width: 200%;
  fill: #f4d66d;
  -webkit-animation: move 10s linear infinite;
  animation: move 10s linear infinite; }

@keyframes move {
  0% {
    transform: translate(-50%, 0%); }
  100% {
    transform: translate(0%, 0%); } }

.menu {
  width: 1200px;
  margin: 10px auto;
  font-size: 20px; }
  .menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none; }
  .menu li {
    display: inline-block; }
  .menu .logo {
    width: 95px; }

img {
  width: 100%; }
