.box01 {
  width: 50px;
  height: 50px;
  background-color: yellow; }

.box02 {
  width: 50px;
  height: 50px;
  background-color: orange; }

.box03, .box09, .box10 {
  width: 50px;
  height: 50px;
  background-color: pink; }

.box04 {
  width: 50px;
  height: 200px;
  background-color: burlywood; }

#path {
  stroke-width: 20px;
  stroke: red; }

#nav {
  width: 40px;
  height: 60px;
  background-color: green; }

.box07 {
  display: inline-block;
  padding: 20px 23px;
  background-color: yellow; }

.btn {
  display: inline-block;
  padding: 20px 23px;
  margin-top: 130px;
  background-color: pink; }

.box08 {
  background-color: yellow;
  opacity: 0;
  width: 100px;
  height: 40px;
  margin: 10px; }

.box {
  width: 150px;
  height: 50px;
  margin: 5px;
  background-color: yellow;
  position: relative;
  top: 100px;
  left: 100px; }
