@import "reset";
@import "global";
@import "nav";

* {
  // outline: 1px solid red;
}


section {
  width: 100%;
  height: 100vh;
}


//把nav擋到的高度往下挪
.navSpace {
  margin-top: 140px;
}

body {

  background: rgb(164, 221, 250);
  background: linear-gradient(0deg, rgba(164, 221, 250, 1) 1%,
    rgba(115, 201, 245, 1) 36%,
    rgba(110, 201, 247, 1) 71%,
    rgba(69, 176, 230, 1) 100%);
}

//每屏高度
// .diy_picFruit_wrapper {
//   height: calc(100vh - 150px);
// }


//挑選水果
.diy_pickFruit {
  position: relative;
  width: 100%;
  // height: 100vh;
}

// .diy_pickBottle {
//   position: relative;
//   width: 100%;
//   height: calc(100vh - 150px);
//   // overflow: hidden;
//   background-color: rgb(0, 255, 170);
// }

.diy_pickFruit_rightItem {
  display: none;
}


//手機開始
@include rwd(mobile) {

  .diy_pickFruit_wrapper{
    position: relative;
    .cloud1{
      width: 25%;
      position: absolute;
      top: 0;
      right: 30px;
    }
    .cloud2{
      // width: 80px
      position: absolute;
      top: -10px;
      left: 20px;
      img{
        width: 20%;
      }
    }
  }

  //步驟
  .diy_pickFruit_stepBlock {
    text-align: center;
    margin: 0 auto;
    // padding: 15px;

    .diy_pickFruit_stepFirstBox {
      display: inline-block;
      position: relative;

      img {
        width: 120px;
      }

      .diy_pickFruit_stepFirstTitle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: left;

        p {
          padding-top: 1px;
          font-size: 15px;
          color: #fefefe;
        }

        h3 {
          padding-top: 1px;
          font-size: 15px;
          color: #fefefe;
        }
      }
    }

    .diy_pickFruit_stepSecondBox {
      display: inline-block;
      position: relative;

      img {
        width: 120px;
      }

      .diy_pickFruit_stepSecondTitle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: left;
        color: $mainfontcolor;

        p {
          padding-top: 1px;
          font-size: 15px;
        }

        h3 {
          padding-top: 1px;
          font-size: 15px;
        }
      }
    }
  }

  //標題
  .diy_pickFruit_title {
    margin-top: 25px;
    text-align: center;

    h4 {
      font-size: 15px;
      color: $mainfontcolor;
    }
  }




  //水果區 

  .diy_pickFruit_allWrapper {
    display: flex;
    flex-direction: column-reverse;
    border-radius: 20px;
    background-color: #fff;
    margin: 20px 10px;
  }

  .diy_pickFruit_leftBlock {
    position: relative;
    width: 90%;
    overflow: hidden;
    margin: 0 5%;
    margin-top: -15px;

    .diy_pickFruit_leftBox {
      width: 400%;

      .diy_pickFruit_picBox {
        // width: 100px;
        display: inline-block;

        // .fruitnameBox {
        //   // display: none;
        //   position: absolute;
        //   bottom: -20px;
        //   left: -25px;
        //   // z-index: -1;
        //   width: 75px;
        //   height: 30px;
        //   border-radius: 10px;
        //   background-color: rgb(227, 253, 112);

        // }
      }

      .fruitbgc {
        // background-color: rgb(119, 73, 21);
      }
    }
  }

  .diy_pickFruit_leftItem {
    // width: 33.33333%;

    max-width: 100px;
    // margin: 0 0px 1% 1%;
    border: 2px solid #593100;
    border-radius: 10px;
    background-color: rgb(233, 201, 165);
    box-sizing: border-box;

    // &:before{
    //   content:'';
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   right: 0;
    //   bottom: 0;
    //   margin: auto;
    //   display: inline-block;
    //   width: 60px;
    //   height: 60px;
    //   border-radius: 50%;
    //   background-color: #bd6308;
    // }
    .fruiticon {
      position: relative;
      width: 70%;
      max-width: 80px;
      margin-left: 10px;
      cursor: pointer;
    }

    #f1 {
      width: 80%;
      // max-width: 90px;
    }
  }

  //spotlight
  // %highlightphone {
  //   // display: none;
  //   position: absolute;
  //   z-index: -1;
  //   top: -20%;
  //   left: -20%;
  //   width: 80%;
  //   animation: scale .6s;
  // }

  // @keyframes scale {
  //   from {
  //     transform: scale(.6);
  //     // transform: rotate(0deg);
  //   }

  //   to {
  //     transform: scale(1);
  //     // transform: rotate(360deg);
  //   }
  // }

  @for $i from 1 through 9 {
    .diy_pickFruit_leftItem#{$i} {
      position: relative;
      // .fruiticon {
      //   width: 40%;
      //   position: relative;
      //   // z-index: -1;
      //   cursor: pointer;
      // }

      // img.highlight {
      //   @extend %highlightphone;
      // }

      // img.highlightClick {
      //   @extend %highlightphone;
      // }

      // img.highlightUnclick {
      //   @extend %highlightphone;
      // }
    }
  }

  @for $i from 1 through 9 {
    .fruitnamef#{$i} {
      display: none;
      position: absolute;
      left: 0px;
      bottom: -30px;
      z-index: 1;
    }
  }

  .diy_pickFruit_leftArrow {
    position: absolute;
    top: 20%;
    left: 0;
    width: 5%;

    img {
      width: 50%;
    }
  }

  .diy_pickFruit_rightArrow {
    position: absolute;
    top: 20%;
    right: -2%;
    width: 5%;

    img {
      width: 50%;
    }
  }

  .diy_pickFruit_resetButton {
    margin-top: 10px;
    text-align: center;
    color: $mainfontcolor;

    a {
      display: inline-block;
      margin: 5px;
      padding: 10px;
      border: 1px solid rgb(240, 152, 36);
      // border-radius: 10px;
      // background-color: rgb(240, 152, 36);
      font-size: 12px;
      color: rgb(240, 152, 36);

      &:hover {
        background-color: rgb(240, 152, 36);
        color: #fefefe;
      }
    }
  }


  // 動態呈現
  // 瓶子

  .diy_pickFruit_rightBlock {
    margin-top: -23px;
  }

  .diy_pickFruit_leftBox {
    padding: 0 13%;
    position: relative;
    z-index: 1;

    .diy_pickFruit_wrapperBottleBox {
      position: relative;

      .diy_pickFruit_bottleBox {
        width: 65%;
        height: 65%;
        position: absolute;
        left: 11%;
        bottom: 15%;
        z-index: -5;
        border: 1px solid grey;
        border-top: 1px solid transparent;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

      }

      img {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 200%;
      }
    }
  }

  .diy_pickFruit_bottleBox {
    diy_pickFruit_bottle {
      width: auto;
      max-width: 100%;
      height: 1px;
    }

    .diy_pickFruit_bottle1 {
      background-color: transparent;
      flex-grow: 0;
      transition: 1s;
      // border-radius: 0px 0px 10px 10px;
    }

    .diy_pickFruit_bottle2 {
      background-color: transparent;
      flex-grow: 0;
      transition: 1s;
    }

    .diy_pickFruit_bottle3 {
      background-color: transparent;
      flex-grow: 0;
      transition: 1s;
    }
  }



  //水果功效
  .diy_pickFruit_rightBox {
    // width: 0%;
    margin: 10px 0;
    padding: 3% 6%;
  }


  //下一步按鈕
  .diy_pickFruit_nextButton {
    margin: 20px 0;
    text-align: center;

    a {
      background-color: $buttoncolor;
      padding: 10px 30px;
      border-radius: 5px;
      color: $mainfontcolor;
      transition: 1s;

      &:hover {
        background-color: #f1900f;
        color: #fefefe;
      }
    }
  }

  .tree1 {
    width: 100px;
    position: absolute;
    bottom: 0;
    z-index: -1;
  }

  .tree2 {
    width: 30px;
    position: absolute;
    bottom: 0;
    right: 100px;
    z-index: -1;
  }

  .tree3 {
    width: 70px;
    position: absolute;
    bottom: 0px;
    right: 0;
    z-index: -2;
  }

  .house {
    width: 100px;
    position: absolute;
    bottom: 0;
    right: 30px;
    z-index: -2;
  }

  //footer
  .footer_wrapper {
    // position: relative;
    bottom: 0;
    text-align: center;

    .footer_block {
      margin: 0 auto;
      // padding: 10px 0;
      background-color: #f4d66d;

      .footer_rightBox {
        .footer_rightContent {
          padding: 8px 0;

          .desc {
            display: inline-block;
            // padding: 5px;
            font-size: 2vw;
          }

          .copyright {
            font-size: 1vw;
          }
        }

      }
    }
  }


}



//平板開始
@include rwd(medium) {

  .diy_pickFruit_wrapper{
    position: relative;
    .cloud1{
      width: 200px;
      position: absolute;
      top: 0;
      right: 30px;
    }
    .cloud2{
      // width: 80px
      position: absolute;
      top: -10px;
      left: 20px;
      img{
        width: 250px;
      }
    }
  }

  // 步驟
  .diy_pickFruit_stepBlock {
    text-align: center;
    margin: 0 auto;
    // padding: 15px;

    .diy_pickFruit_stepFirstBox {
      display: inline-block;
      position: relative;

      img {
        width: 180px;
      }

      .diy_pickFruit_stepFirstTitle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: left;

        p {
          font-size: 18px;
          color: #fefefe;
        }

        h3 {
          padding-top: 5px;
          font-size: 18px;
          color: #fefefe;
        }
      }
    }

    .diy_pickFruit_stepSecondBox {
      display: inline-block;
      position: relative;

      img {
        width: 180px;
      }

      .diy_pickFruit_stepSecondTitle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: left;
        color: $mainfontcolor;

        p {
          font-size: 18px;
        }

        h3 {
          padding-top: 5px;
          font-size: 18px;
        }
      }
    }
  }

  // 挑選水果標題

  .diy_pickFruit_title {
    margin-top: 25px;
    text-align: center;

    h4 {
      font-size: 16px;
      color: $mainfontcolor;
    }
  }


  //水果區 

  .diy_pickFruit_titleAllWrapper {
    margin-top: 10px;
    padding: 20px 0;
    // border: 1px solid $mainfontcolor;
    // border-radius: 100px;
    // background-color: rgb(231, 235, 202);
  }

  .diy_pickFruit_allWrapper {
    background-color: #fefefe;
    margin: 30px;
    border-radius: 20px;
  }

  .diy_pickFruit_leftBlock {
    margin: 2% 0;

    .diy_pickFruit_leftBox {
      // width: 400%;

      .diy_pickFruit_leftItem {
        text-align: center;

        // .fruitnameBox {
        //   // display: none;
        //   position: absolute;
        //   // top: -10px;
        //   left: -15px;
        //   // z-index: 1;
        //   width: 75px;
        //   height: 30px;
        //   border-radius: 10px;
        //   background-color: rgb(88, 107, 5);
        // }
      }

      .fruitbgc {
        background-color: rgb(199, 129, 50);
      }
    }
  }


  .diy_pickFruit_leftItem {
    // width: 33.33333%;

    max-width: 100px;
    // margin: 0 0px 1% 1%;
    border: 2px solid #593100;
    border-radius: 10px;
    background-color: rgb(233, 201, 165);
    box-sizing: border-box;


    .fruiticon {
      width: 80%;
      max-width: 80px;
      cursor: pointer;
    }

    #f1 {
      width: 91%;
      max-width: 90px;
    }
  }



  // //spotlight
  // %highlightmedium {
  //   // display: none;
  //   position: absolute;
  //   z-index: -1;
  //   top: 0%;
  //   left: 0%;
  //   width: 100%;
  //   animation: scale .6s;
  // }

  // @keyframes scale {
  //   from {
  //     transform: scale(.6);
  //     // transform: rotate(0deg);
  //   }

  //   to {
  //     transform: scale(1);
  //     // transform: rotate(360deg);
  //   }
  // }

  @for $i from 1 through 9 {
    .diy_pickFruit_leftItem#{$i} {
      position: relative;

      // .fruiticon {
      //   width: 80%;
      //   cursor: pointer;
      // }

      // img.highlight {
      //   @extend %highlightmedium;
      // }

      // img.highlightClick {
      //   @extend %highlightmedium;
      // }

      // img.highlightUnclick {
      //   @extend %highlightmedium;
      // }
    }
  }

  .diy_pickFruit_picBox {
    position: relative;
  }

  @for $i from 1 through 9 {
    .fruitnamef#{$i} {
      // display: none;
      position: absolute;
      left: -40px;
      top: -10px;
      z-index: 2;
      font-size: 1.6vw;
      color: #fefefe;

    }
  }

  %fruitname_medium {
    display: none;
    position: absolute;
    z-index: 2;
    color: #000;
  }

  .fruitnamef1 {
    left: -40px;
    top: -10px;
    @extend %fruitname_medium;
  }

  .fruitnamef2 {
    left: 50px;
    top: -10px;
    @extend %fruitname_medium;
  }

  .fruitnamef3 {
    left: 140px;
    top: -10px;
    @extend %fruitname_medium;
  }

  .fruitnamef4 {
    left: -40px;
    top: 80px;
    @extend %fruitname_medium;
  }

  .fruitnamef5 {
    left: 50px;
    top: 80px;
    @extend %fruitname_medium;
  }

  .fruitnamef6 {
    left: 140px;
    top: 80px;
    @extend %fruitname_medium;
  }

  .fruitnamef7 {
    left: -40px;
    top: 160px;
    @extend %fruitname_medium;
  }

  .fruitnamef8 {
    left: 50px;
    top: 160px;
    @extend %fruitname_medium;
  }

  .fruitnamef9 {
    left: 140px;
    top: 160px;
    @extend %fruitname_medium;
  }




  %fruitbox_medium {
    display: none;
    position: absolute;
    z-index: 1;
    width: 30%;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(137, 160, 36);
  }

  .fruitnameBoxf1 {
    top: -15px;
    left: -45px;
    @extend %fruitbox_medium;
  }

  .fruitnameBoxf2 {
    top: -15px;
    left: 50px;
    @extend %fruitbox_medium;
  }

  .fruitnameBoxf3 {
    top: -15px;
    left: 135px;
    @extend %fruitbox_medium;
  }

  .fruitnameBoxf4 {
    top: 75px;
    left: -45px;
    @extend %fruitbox_medium;
  }

  .fruitnameBoxf5 {
    top: 75px;
    left: 50px;
    @extend %fruitbox_medium;
  }

  .fruitnameBoxf6 {
    top: 75px;
    left: 135px;
    @extend %fruitbox_medium;
  }

  .fruitnameBoxf7 {
    top: 155px;
    left: -45px;
    @extend %fruitbox_medium;
  }

  .fruitnameBoxf8 {
    top: 155px;
    left: 50px;
    @extend %fruitbox_medium;
  }

  .fruitnameBoxf9 {
    top: 155px;
    left: 135px;
    @extend %fruitbox_medium;
  }


  .diy_pickFruit_leftArrow {
    display: none;
  }

  .diy_pickFruit_rightArrow {
    display: none;
  }

  .diy_pickFruit_resetButton {
    text-align: center;
    color: $mainfontcolor;

    a {
      display: inline-block;
      margin: 5px;
      padding: 10px;
      border: 1px solid rgb(240, 152, 36);
      font-size: 12px;
      color: rgb(240, 152, 36);


      &:hover {
        background-color: rgb(240, 152, 36);
        color: #fefefe;
      }
    }
  }

  // 動態呈現
  // 瓶子

  .diy_pickFruit_rightBlock {
    // display: flex;
    // width: 70%;
    // max-width: 600px;
    // margin-top: -23px;
  }

  .diy_pickFruit_leftBox {
    position: relative;
    z-index: 1;
    max-width: 500px;
    margin: 5% 0;
    padding: 0 9% 0 17%;

    .diy_pickFruit_wrapperBottleBox {
      position: relative;

      .diy_pickFruit_bottleBox {
        width: 95%;
        height: 85%;
        position: absolute;
        left: 2%;
        bottom: 1%;
        z-index: -5;
        border: 1px solid grey;
        border-radius: 10px;
        border: 1px solid transparent;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        transition: 1s;
      }

      img {
        position: relative;
        width: 100%;
        // height: 0;
        // padding-bottom: 200%;
      }
    }
  }

  .diy_pickFruit_bottleBox {

    // transition: 1s;
    diy_pickFruit_bottle {
      width: auto;
      max-width: 100%;
      height: 1px;
    }

    .diy_pickFruit_bottle1 {
      border-radius: 0px 0px 10px 10px;
      background-color: transparent;
      flex-grow: 0;
      transition: 1s;
    }

    .diy_pickFruit_bottle2 {
      background-color: transparent;
      flex-grow: 0;
      transition: 1s;
    }

    .diy_pickFruit_bottle3 {
      background-color: transparent;
      flex-grow: 0;
      transition: 1s;
    }
  }


  //水果功效
  .diy_pickFruit_rightBox {
    // width: 0%;
    padding: 4% 6%;
  }


  //下一步按鈕
  .diy_pickFruit_nextButton {
    margin: 10px 0;
    text-align: center;

    a {
      background-color: $buttoncolor;
      padding: 10px 30px;
      border-radius: 5px;
      color: $mainfontcolor;
      transition: 1s;

      &:hover {
        background-color: #f1900f;
        color: #fefefe;
      }
    }
  }

  .tree1 {
    width: 150px;
    position: absolute;
    bottom: 0;
    z-index: -1;
  }

  .tree2 {
    width: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

  .tree3 {
    width: 50px;
    position: absolute;
    bottom: 0;
    right: 180px;
    z-index: -1;
  }

  .house {
    width: 150px;
    position: absolute;
    bottom: 0;
    right: 50px;
    z-index: -2;
  }

  //footer
  .footer_wrapper {
    // width: 100%;
    // position: absolute;
    // bottom: 0;
    text-align: center;
    margin: 0 auto;

    .footer_block {
      margin: 0 auto;
      // padding: 20px 0;
      background-color: #f4d66d;

      .footer_rightBox {
        .footer_rightContent {
          padding: 8px 0;

          .desc {
            display: inline-block;
            padding: 5px;
          }

          .copyright {
            font-size: 12px;
          }
        }

      }
    }
  }
}

//桌機板

@include rwd(desktop) {

  // 步驟
  // 挑選水果標題

  .diy_pickFruit_title {
    h4 {
      font-size: 20px;
    }

  }


  //水果區 


  .diy_pickFruit_leftBlock {
    // width: 400px;
    max-width: 400px;
    // margin: 2% 0;
    padding: 3% 0 0 10%;
    box-sizing: border-box;

    .diy_pickFruit_leftBox {
      margin: 0;
      padding: 0;

      // .diy_pickFruit_leftItem{
      //   // width: 33.33333%;

      //   max-width: 100px;
      //   // margin: 0 0px 1% 1%;
      //   border: 2px solid #593100;
      //   border-radius: 10px;
      //   background-color: rgb(233, 201, 165); 
      //   box-sizing: border-box;
      //   .fruiticon {
      //     width: 80%;
      //     max-width: 80px;
      //     cursor: pointer;
      //   }
      // }
      .fruitbgc {
        background-color: rgb(199, 129, 50);
      }
    }
  }

  .diy_pickFruit_leftItem {
    // width: 33.33333%;

    max-width: 100px;
    // margin: 0 0px 1% 1%;
    border: 2px solid #593100;
    border-radius: 10px;
    background-color: rgb(233, 201, 165);
    box-sizing: border-box;

    .fruiticon {
      width: 80%;
      max-width: 80px;
      cursor: pointer;
    }

    #f1 {
      width: 91%;
      max-width: 90px;
    }
  }

  %fruitname {
    display: none;
    position: absolute;
    z-index: 2;
    font-size: 16px;
    color: #000;
  }

  .fruitnamef1 {
    left: -40px;
    top: -10px;
    @extend %fruitname;
  }

  .fruitnamef2 {
    left: 65px;
    top: -10px;
    @extend %fruitname;
  }

  .fruitnamef3 {
    left: 170px;
    top: -10px;
    @extend %fruitname;
  }

  .fruitnamef4 {
    left: -40px;
    top: 80px;
    @extend %fruitname;
  }

  .fruitnamef5 {
    left: 60px;
    top: 80px;
    @extend %fruitname;
  }

  .fruitnamef6 {
    left: 170px;
    top: 80px;
    @extend %fruitname;
  }

  .fruitnamef7 {
    left: -40px;
    top: 170px;
    @extend %fruitname;
  }

  .fruitnamef8 {
    left: 60px;
    top: 170px;
    @extend %fruitname;
  }

  .fruitnamef9 {
    left: 170px;
    top: 170px;
    @extend %fruitname;
  }




  %fruitbox {
    display: none;
    position: absolute;
    z-index: 1;
    width: 75px;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(137, 160, 36);
  }

  .fruitnameBoxf1 {
    top: -15px;
    left: -45px;
    @extend %fruitbox;
  }

  .fruitnameBoxf2 {
    top: -15px;
    left: 60px;
    @extend %fruitbox;
  }

  .fruitnameBoxf3 {
    top: -15px;
    left: 165px;
    @extend %fruitbox;
  }

  .fruitnameBoxf4 {
    top: 75px;
    left: -45px;
    @extend %fruitbox;
  }

  .fruitnameBoxf5 {
    top: 75px;
    left: 60px;
    @extend %fruitbox;
  }

  .fruitnameBoxf6 {
    top: 75px;
    left: 165px;
    @extend %fruitbox;
  }

  .fruitnameBoxf7 {
    top: 165px;
    left: -45px;
    @extend %fruitbox;
  }

  .fruitnameBoxf8 {
    top: 165px;
    left: 60px;
    @extend %fruitbox;
  }

  .fruitnameBoxf9 {
    top: 165px;
    left: 165px;
    @extend %fruitbox;
  }

  // //spotlight
  // %highlightdesktop {
  //   // display: none;
  //   position: absolute;
  //   z-index: -1;
  //   top: -10%;
  //   left: 0%;
  //   width: 100%;
  //   animation: scale .6s;
  // }

  // @keyframes scale {
  //   from {
  //     transform: scale(.6);
  //     // transform: rotate(0deg);
  //   }

  //   to {
  //     transform: scale(1);
  //     // transform: rotate(360deg);
  //   }
  // }

  @for $i from 1 through 9 {
    .diy_pickFruit_leftItem#{$i} {
      position: relative;
      // background-color: rgb(199, 129, 50);

      // .fruiticon {
      //   // width: 80%;
      //   max-width: 80px;
      //   cursor: pointer;
      // }

      // img.highlight {
      //   @extend %highlightdesktop;
      //   transition: 5s;
      // }

      // img.highlightClick {
      //   @extend %highlightdesktop;
      // }

      // img.highlightUnclick {
      //   @extend %highlightdesktop;
      // }
    }
  }

  // 動態呈現
  // 瓶子

  .diy_pickFruit_rightBlock {
    max-width: 800px;
    margin: 17px 0;
    padding-left: 73px;
    box-sizing: border-box;
  }

  .diy_pickFruit_leftBox {
    // width: 400px;
    max-width: 400px;
    margin: 20px 0;
    padding: 0 17% 0 10%;
  }


  //水果功效
  .diy_pickFruit_rightBox {
    max-width: 400px;
    padding: 5px 60px;
  }

  .diy_pickFruit_rightItem {
    display: block;
    margin-top: 10px;

    .diy_pickFruit_rightItemTitle {
      margin-bottom: 10px;
    }

    .diy_pickFruit_righItemContent {
      margin-bottom: 6px;
    }

  }

  //下一步按鈕
}