@import "reset";
@import "global";
@import "nav";
@import "footer";

// * {
//   outline: 1px solid red;
// }

footer {
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  line-height: 18px;
  background-color: #f4d66d;
  text-align: center;
  img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 120px;
  }
}
body {
  background-color: $sky;
  overflow-x: hidden;
  -moz-user-select:none; 
}
@keyframes bounceOutUp {
  20% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  40%,45% {
    opacity: 1;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
}

@keyframes mobBottleMove {
  0% {
    left: 0;
  }
  100% {
    left: 75%;
  }
}
@keyframes bottleMove {
  0% {
    left: 5%;
  }
  100% {
    left: 90%;
  }
}
//把nav擋到的高度往下挪

.displayBlock{
  display: block;
}
%displayNon {
  display: none;
}
%btnStyle {
  border-radius: 5px;
  width: 180px;
  height: 30px;
  background-color: $buttoncolor;
}
%center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}

//共用區域
.navSpace {
  height: 130px;
}
.diy_designBottle {
  &_title {
    h4 {
      text-align: center;
      margin: 0 auto;
      font-size: 20px;
      color: $mainfontcolor;
    }
  }
  &_uploadBtn {
    input {
      display: none;
    }
  }
  &_logoPic {
    img {
      width: 60px;
    }
  }
  &_stepBlock {
    text-align: center;
    margin: 0 auto;
  }
  &_stepFirstBox {
    display: inline-block;
    position: relative;
  }
  &_stepFirstTitle {
    color: #978656;
    p,
    h3 {
      font-size: 15px;
      padding-top: 1px;
    }
  }
  &_stepSecondBox {
    display: inline-block;
    position: relative;
  }
  &_stepSecondTitle {
    color: #fefefe;
    p,
    h3 {
      padding-top: 1px;
      font-size: 15px;
    }
  }
  &_stepFirstTitle,
  &_stepSecondTitle {
    @extend %center;
  }
  &_changePic {
    position: absolute;
    width: 140px;
    cursor: pointer;
  }
  &_createBlock {
    width: 60px;
    cursor: pointer;
  }
  &_controlBlock {
    position: relative;
    margin-top: 15px;
    i {
      margin-top: 20px;
      display: inline-block;
      font-size: 30px;
      cursor: pointer;
      color: $mainfontcolor;
    }
  }
  &_uploadItem {
    margin: 5px 5px 15px;
    p {
      width: 80px;
      height: 20px;
      line-height: 20px;
      outline: 1px solid #f09824;
      padding:7px 7px 7px 10px;
      color: #f09824;
      cursor: pointer;
      &:hover {
        color: #fefefe;
        background: #f09824;
        border-color: #fff4c1;
        transition: all 0.4s ease 0s;
      }
    }
  }
  &_picBlock {
    position: relative;
    margin: 10px;
  }
  &_pics {
    &:after {
      content: "";
      display: block;
      border: 1px solid #aeaeae;
      width: 100%;
      position: absolute;
      bottom: 105px;
      left: 0;
    }
  }
  &_officalPicBlock {
    margin: 10px auto;
    border: 1px solid brown;
    border-radius: 5px;
  }
  &_officalPic {
    border: none;
    cursor: pointer;
    img {
      width: 100%;
    }
  }
  &_textLength {
    margin: 5px 0 15px;
    width: 130px;
  }
  &_btnBlock {
    text-align: center;
    margin-top: -30px;
  }
  &_createTextBlock {
    margin-left: 5px;
    p {
      margin-top: 10px;
    }
    & input:nth-child(3) {
      width: 100px;
      display: block;
      background: none;
      border: none;
      outline: 1px solid #f09824;
      padding: 5px 15px;
      color: #f09824;
      font-size: 16px;
      cursor: pointer;
      &:hover {
        color: #fefefe;
        background: #f09824;
        transition: all 0.4s ease 0s;
      }
    }
  }
  &_officalPic {
    padding: 10px;
  }
  &_bgcBox {
    width: 360px;
    height: 510px;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 40px auto 120px;
    background-color: #fff;
  }
  &_conveyorMoveContainer {
    position: relative;
    .diy_designBottle_conveyorPic {
      position: absolute;
      bottom: 0;
      z-index: 0;
    }
  }
  //傳輸帶果汁瓶區塊
  &_bottlesBlock {
    width: 100%;
    position: absolute;
    left: -70px;
    bottom: 0;
    z-index: 0;
    li {
      position: absolute;
      bottom: 0;
      left: -50px;
      display: inline-block;
      margin-right: 20px;
      z-index: -1;
      img {
        width: 15px;
      }
    }
    .item2 {
      animation: mobBottleMove 6s linear 1s infinite;
    }
    .item3 {
      animation: mobBottleMove 6s linear 2s infinite;
    }
    .item4 {
      animation: mobBottleMove 6s linear 3s infinite;
    }
    .item5 {
      animation: mobBottleMove 6s linear 4s infinite;
    }
    .item6 {
      animation: mobBottleMove 6s linear 5s infinite;
    }
    .item1 {
      animation: mobBottleMove 6s linear 6s infinite;
    }
    .item7 {
      display: none;
    }
  }
  &_conveyorPic {
    position: absolute;
    bottom: 20px;
    padding-top: 180px;
    z-index: -1;
  }
  &_factoryPic {
    img {
      width: 140px;
      position: absolute;
      bottom: 0;
      left: -20px;
    }
  }
  &_carPic {
    img {
      position: absolute;
      bottom:0;
      width: 150px;
      margin-left: calc(100vw - 150px);
    }
  }
}

//客製完成燈箱
.diy {
  &_customizePopUp {
    width: 100%;
    position: absolute;
    display: none;
  }
  &_customizeBox {
    &_item {
      position: relative;
      i {
        position: absolute;
        width: 20px;
        height: 20px;
        color: #fa0;
        font-size: 55px;
        top: -25px;
        right: 10px;
        text-align: center;
        cursor: pointer;
      }
    }
    &_content {
      width: 350px;
      height: 350px;
      background-color: #fff;
      position: absolute;
      border-radius: 10px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      h3 {
        color: $mainfontcolor;
      }
    }
    &_finishPic {
      width: 100px;
      height: 250px;
      margin: 0 auto;
    }
  }
  &_customizeFinishBox {
    position: fixed;
    width: 100%;
    top: 0px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    overflow: hidden;
    z-index: 5;
    &_customizeBtns {
      // display: none;
      .common_btn {
        width: 150px;
        display: inline-block;
        border-radius: 10px;
        a{
          width: 150px;
        }
        .btnPic {
          position: relative;
          img {
            position: absolute;
            right: 0;
            transform: rotate(45deg);
          }
        }
      }
    }
  }
  &_proToCartBtns {
    text-align: center;
    margin: -10px auto;
    a {
      width: 100px;
      margin: 0 5px;
      display: inline-block;
    }
  }
}

.robot {
  z-index: 4;
}
.btnBounceOutUp{
  animation: bounceOutUp linear 2s  0s;
}
.btnbounceInUp{
    -webkit-transition:  height 3s cubic-bezier(0.19, 1, 0.22, 1);
    transition: height 3s cubic-bezier(0.19, 1, 0.22, 1); }

@keyframes mobBottleMove {
  0% {
    left: 0;
  }
  100% {
    left: 70%;
  }
}
@keyframes bottleMove {
  0% {
    left: 5%;
  }
  100% {
    left: 90%;
  }
}

//行動版----------------------------------------------------------------------------
@include rwd(mobile) {
  .diy_customizeBox_finishPic {
    width: 100px;
  }
  .diy_customizeBox_content h3 {
    margin: 10px 0;
  }
  .diy_designBottle_bottleItem img {
    width: 100px;
    margin: 30px 40px 0;
  }
  .diy_designBottle {
    &_stepFirstBox {
      img {
        width: 120px;
      }
    }
    &_stepSecondBox {
      img {
        width: 120px;
      }
    }
    &_bgCloud {
      img {
        width: 80px;
        position: absolute;
        z-index: -1;
        &:nth-child(1) {
          display: none;
        }
        &:nth-child(2) {
          left: -20px;
          top: 95px;
        }
        &:nth-child(3) {
          top: 90px;
          right: 0;
        }
        &:nth-child(4) {
          display: none;
        }
      }
    }
    &_disNone {
      display: none;
    }

    &_btnBlock {
      a {
        width: 75px;
        display: inline-block;
        margin: 40px 5px 0;
      }
    }
    &_conveyorMoveContainer {
      position: relative;
      .diy_designBottle_conveyorPic {
        position: absolute;
        bottom: 0;
      }
    }
  }

  #diy_designBottle_wrapper {
    width: 100%;
  }
}

//平板--------------------------------------------------------------------------------------------
@include rwd(medium) {
  header nav li:nth-child(1) > a:after {
    transform: scaleX(1);
  }
  .diy_customizeBox_finishPic {
    width: 230px;
    margin: 0 auto;
    
  }
  .diy_proToCartBtns {
    margin: 100px auto;
    a {
      margin: 0 30px;
    }
  }
  .diy_designBottle_bottleItem img {
    width: 140px;
    margin: 25px 90px;
  }
  .diy_designBottle {
    &_title {
      margin-top: 25px;
      h4 {
        margin: -15px auto;
      }
    }
    &_stepFirstBox {
      img {
        width: 180px;
      }
    }
    &_stepSecondBox {
      img {
        width: 180px;
      }
    }
    &_logoPic {
      display: inline-block;
      img {
        width: 90px;
        margin: 5px;
      }
    }
    &_bgCloud {
      position: relative;
      img {
        position: absolute;
        z-index: -1;
        &:nth-child(1) {
          top: -10px;
          left: -150px;
          width: 200px;
        }
        &:nth-child(2) {
          left: 150px;
          top: -50px;
          width: 100px;
        }
        &:nth-child(3) {
          top: -500px;
          right: -50px;
          width: 100px;
        }
        &:nth-child(4) {
          top: -80px;
          right: 100px;
          width: 150px;
        }
      }
    }
    &_bottleItem {
      position: relative;
    }
    &_bottlesBlock {
      li {
        position: absolute;
        bottom: 60px;
        left: 30px;
        z-index: -1;
        margin-right: 150px;
        img {
          width: 30px;
        }
      }
      .item1 {
        animation: bottleMove 6s linear 0s infinite;
      }
      .item2 {
        animation: bottleMove 6s linear 1s infinite;
      }
      .item3 {
        animation: bottleMove 6s linear 2s infinite;
      }
      .item4 {
        animation: bottleMove 6s linear 3s infinite;
      }
      .item5 {
        animation: bottleMove 6s linear 4s infinite;
      }
      .item6 {
        animation: bottleMove 6s linear 5s infinite;
      }
      .item7 {
        animation: bottleMove 6s linear 6s infinite;
      }
    }
    &_stepFirstTitle {
      p,
      h3 {
        font-size: 18px;
        margin: 8px 0;
      }
    }
    &_stepSecondTitle {
      p,
      h3 {
        font-size: 18px;
        margin: 8px 0;
      }
    }
    &_controlBlock {
      i {
        font-size: 20px;
        display: inline-block;
        margin: 20px 30px;
      }
    }
    &_textBlock {
      margin-top: 20px;
      position: relative;
    }

    &_officalPic {
      border: none;
      img {
        width: 90px;
      }
    }
    &_textForm {
      & :nth-child(2) {
        width: 200px;
      }
    }
    &_bgcBox {
      margin: 50px auto 550px;
      box-sizing: border-box;
      padding: 30px;
      width: 700px;
      height: 620px;
    }
    &_textLength {
      margin: 15px 0;
      width: 415px;
      height: 20px;
    }
    &_pics {
      &:after {
        bottom: 120px;
      }
    }
    &_factoryPic {
      img {
        width: 550px;
        margin-left: -100px;
      }
    }
    &_carPic {
      img {
        width: 400px;
        margin-left: calc(100vw - 400px);
      }
    }
  }

  //客製完成跳窗尺寸
  .diy {
    &_customizeBox {
      &_content {
        width: 600px;
        height: 500px;
        background-color: #fff;
        position: absolute;
        border-radius: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        margin: auto;
        h3 {
          margin: 10px 0;
        }
      }
      &_finishPic {
        margin: 0 auto;
        img {
          width: 250px;
        }
      }
    }
    &_customizeFinishBox {
      margin: 0 auto;
      &_customizeBtns {
        position: relative;
        bottom:-195px;
        
        .common_btn {
          width: 200px;
          height: 40px;
          display: inline-block;
          border-radius: 10px;
          position: relative;
          padding: 0;
          margin: 0 30px;
          line-height: 40px;
          // border: 3px solid #F4D66D;
          overflow:visible;
          a{width: 200px;}
          .common_btn_blobs{
            width: 101%;
          }
          .common_btn_txt{
            position: relative;
            i{
              position: absolute;
              top:-5px;
              font-size: 30px;
              margin-left: 5px;
            }
            .bottleIcon{
              transform: rotate(5deg);
              position: relative;
              img{width: 15px;}
              position: absolute;
              right:-30px;
              top:-25px;
            }
          }
          .diy_toBlogBtn {
            .btnPic {
              transform: rotate(45deg);
              img {
                position: absolute;
                right: 0;
                top: 0;
                width: 20px;
              }
            }
          }
        }
      }
    }
    &_textLength {
      margin: 15px 0 ;
      width: 415px;
      height: 20px; 
    }
    &_pics {
      &:after {
        bottom: 120px;
      }
    }
  }
}
//桌機---------------------------------------------------------------------------------------------
@include rwd(desktop) {
  .diy_designBottle {
    &_controlBlock {
      i {
        font-size: 30px;
        display: inline-block;
        margin: 20px 30px;
      }
    }
    &_officalPic {
      border: none;
      img {
        width: 90px;
      }
    }
    &_btnBlock {
      margin: 0 0 10px;
      a {
        margin: 5px 20px;
      }
    }
    &_bgcBox {
      width: 900px;
    } 
    &_bgCloud {
      img {
        &:nth-child(3) {
          top: 10px;
          right:-50px;
          width: 100px;
        }
      }
    }
    &_itemBottleBlock {
      position: absolute;
      top: -50px;
      .item1 {
        animation: bottleMove 7s linear 0s infinite;
      }
      .item2 {
        animation: bottleMove 7s linear 1s infinite;
      }
      .item3 {
        animation: bottleMove 7s linear 2s infinite;
      }
      .item4 {
        animation: bottleMove 7s linear 3s infinite;
      }
      .item5 {
        animation: bottleMove 7s linear 4s infinite;
      }
      .item6 {
        animation: bottleMove 7s linear 5s infinite;
      }
      .item7 {
        animation: bottleMove 7s linear 6s infinite;
      }
    }
  }
}
