@import "reset";
@import "global";
@import "nav";

// * {
//   outline: 1px solid red;
// }
footer {
  position: relative;
  bottom: -200px;
  left:0;
  width: 100%;
  line-height: 25px;
  background-color: #f4d66d;
  text-align: center;
  img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 120px;
  }
}
body {
  background-color: $sky;
  overflow-x: hidden;
}
.displayBlock {
  display: block;
}
//把nav擋到的高度往下挪

%displayNon {
  display: none;
}
%btnStyle {
  border-radius: 5px;
  width: 180px;
  height: 30px;
  background-color: $buttoncolor;
}
%center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}

//共用區域
.navSpace {
  margin-top: 140px;
}
.diy_designBottle {
  &_title h4 {
    text-align: center;
    margin: 15px auto;
    font-size: 20px;
    color: $mainfontcolor;
  }

  &_uploadBtn {
    input {
      display: none;
    }
  }
  &_logoPic {
    img {
      width: 60px;
    }
  }
  &_stepBlock {
    text-align: center;
    margin: 0 auto;
  }
  &_stepFirstBox {
    display: inline-block;
    position: relative;
  }
  &_stepFirstTitle {
    color: #978656;
    p,
    h3 {
      font-size: 15px;
      padding-top: 1px;
    }
  }
  &_stepSecondBox {
    display: inline-block;
    position: relative;
  }
  &_stepSecondTitle {
    color: #fefefe;
    p,
    h3 {
      padding-top: 1px;
      font-size: 15px;
    }
  }
  &_stepFirstTitle,
  &_stepSecondTitle {
    @extend %center;
  }
  &_changePic {
    position: absolute;
    width: 140px;
  }
  &_createBlock {
    width: 100px;
  }
  &_controlBlock {
    margin-top: 15px;
    i {
      margin-top: 20px;
      display: inline-block;
      font-size: 30px;
      cursor: pointer;
      color: $mainfontcolor;
    }
  }
  &_uploadBtn {
    margin: 5px 5px 15px;
    p {
      width: 80px;
      height: 20px;
      line-height: 20px;
      outline: 1px solid #f09824;
      padding: 8px;
      color: #f09824;
      cursor: pointer;
      &:hover {
        color: #fefefe;
        background: #f09824;
        border-color: #fff4c1;
        transition: all 0.4s ease 0s;
      }
    }
  }
  &_picBlock {
    position: relative;
    margin: 10px;
  }
  &_pics {
    &:after {
      content: "";
      display: block;
      border: 1px solid #aeaeae;
      width: 100%;
      position: absolute;
      bottom: 95px;
      left: 0;
    }
  }
  &_officalPicBlock {
    margin: 10px 5px;
    border: 1px solid brown;
    border-radius: 5px;
  }
  &_officalPic {
    border: none;
    cursor: pointer;
    img {
      width: 100%;
    }
  }
  &_textLength {
    margin: 5px 0 15px;
    width: 130px;
  }
  &_btnBlock {
    text-align: center;
    margin-top: -30px;
    button {
      width: 120px;
      background-color: $buttoncolor;
      margin: 0 10px;
      padding: 10px 30px;
      border: 1px solid transparent;
      border-radius: 5px;
      color: $mainfontcolor;
      transition: 1s;

      &:hover {
        background-color: #f1900f;
        color: #fefefe;
      }
    }
  }
  &_createTextBlock {
    margin-left: 5px;
    p {
      margin-top: 10px;
    }
    & input:nth-child(3) {
      width: 100px;
      display: block;
      background: none;
      border: none;
      outline: 1px solid #f09824;
      padding: 5px 15px;
      color: #f09824;
      font-size: 16px;
      cursor: pointer;
      &:hover {
        color: #fefefe;
        background: #f09824;
        transition: all 0.4s ease 0s;
      }
    }
  }
  &_officalPic {
    padding: 10px;
  }
  &_bgcBox {
    width: 360px;
    height: 510px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
    top: 50px;
    margin: auto;
    background-color: #fff;
  }
}

//客製完成燈箱
.diy {
  &_customizePopUp {
    width: 100%;
    position: absolute;
    display: none;
  }
  &_customizeBox {
    &_item {
      position: relative;
      i {
        position: absolute;
        width: 20px;
        height: 20px;
        color: #fa0;
        font-size: 55px;
        top: -25px;
        right: 10px;
        text-align: center;
        cursor: pointer;
      }
    }
    &_content {
      width: 300px;
      height: 350px;
      background-color: #fff;
      position: absolute;
      top: 50% ;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      h3{
        color:$mainfontcolor;
      }
    }
    &_finishPic {
      width: 100px;
      height: 250px;
      margin: 0 auto;
    }
  }
  &_customizeFinishBox {
    position: fixed;
    width: 100%;
    top: 0px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    overflow: hidden;
    z-index: 5;
    &_btns {
      display: none;
      position: relative;
      top: 73%;
      right: 0;
    }
    button {
      width: 150px;
      background-color: $buttoncolor;
      margin: 0 10px;
      padding: 10px 10px;
      border: 1px solid transparent;
      border-radius: 5px;
      color: $mainfontcolor;
      transition: 1s;

      &:hover {
        background-color: #f1900f;
        color: #fefefe;
      }
    }
  }
  &_proToCartBtns {
    text-align: center;
    a{
      width: 100px;
      margin: 0 5px;
      display: inline-block;
    }
  }
}
.robot {
  z-index: 4;
}

@keyframes mobBottleMove {
  0% {
    left: 0;
  }
  100% {
    left: 70%;
  }
}
@keyframes bottleMove {
  0% {
    left: 5%;
  }
  100% {
    left: 90%;
  }
}

//行動版----------------------------------------------------------------------------
@include rwd(mobile) {
  .diy_customizeBox_finishPic {
    width: 100px;
  }
  .diy_customizeBox_content h3 {
    margin: 10px 0;
  }
  .diy_designBottle_bottleItem img {
    width: 100px;
    margin: 30px 40px 0;
  }
  .diy_designBottle {
    &_stepFirstBox {
      img {
        width: 120px;
      }
    }
    &_stepSecondBox {
      img {
        width: 120px;
      }
    }
    &_bgCloud {
      display: none;
    }
    &_disNone {
      display: none;
    }
    &_mobMoveBlock {
      width: 100%;
      // overflow-x: hidden;
      ul {
        width: 90%;
        position: relative;
      }
      li {
        position: absolute;
        bottom: -190px;
        img {
          position: relative;
          width: 15px;
          left: 0;
        }
      }
    }
    &_btnBlock {
      a {
        width: 75px;
        display: inline-block;
        margin: 40px 5px 0;
      }
    }
    &_itemBottleBlock {
      position: absolute;
      top: 0;
      left: 0;

      .item2 {
        animation: mobBottleMove 6s linear 1s infinite;
      }
      .item3 {
        animation: mobBottleMove 6s linear 2s infinite;
      }
      .item4 {
        animation: mobBottleMove 6s linear 3s infinite;
      }
      .item5 {
        animation: mobBottleMove 6s linear 4s infinite;
      }
      .item6 {
        animation: mobBottleMove 6s linear 5s infinite;
      }
      .item1 {
        animation: mobBottleMove 6s linear 6s infinite;
      }
      .item7{
        display: none;
      }
    }
  }

  #diy_designBottle_wrapper {
    width: 100%;
  }
  .diy_designBottle_bottleMoveBlock {
    position: relative;
    .diy_factory {
      .factory {
        width: 150px;
        position: absolute;
        bottom:-200px;
        left: -15px;
        z-index: 2;
      }
    }
    .diy_conveyor {
      img {
        width: 100%;
        position: absolute;
        bottom: -200px;
        left:0;
      }
    }
    .diy_car {
      img {
        position: absolute;
        right: 0;
        bottom:-200px;
        width: 145px;
        z-index: 2;
      }
    }
  }
}

//平板--------------------------------------------------------------------------------------------
@include rwd(medium) {
  footer{
    position: absolute;
    transform: translate(0%,0%);
  }
  .diy_customizeBox_finishPic {
    width: 230px;
    margin: 0 auto;
  }
  .diy_proToCartBtns {
    margin-top: 130px;
    a {
      margin: 0 30px;
    }
  }
  .diy_designBottle_bottleItem img {
    width: 140px;
    margin: 25px 90px;
  }
  .diy_designBottle {
    &_title {
      h4 {
        margin: 25px auto 5px;
      }
    }
    &_stepFirstBox {
      img {
        width: 180px;
      }
    }
    &_stepSecondBox {
      img {
        width: 180px;
      }
    }
    &_bgCloud {
      position: absolute;
      img {
        position: relative;
        width: 200px;
        &:nth-child(1) {
          top: -40px;
          left: -300px;
          width: 150px;
        }
        &:nth-child(2) {
          left: -150px;
        }
      }
    }
    &_logoPic {
      display: inline-block;
      img {
        width: 90px;
        margin: 5px;
      }
    }
    &_bottleItem {
      position: relative;
    }
    &_itemBottleBlock {
      top: -50px;
      .item1 {
        animation: bottleMove 7s linear 0s infinite;
      }
      .item2 {
        animation: bottleMove 7s linear 1s infinite;
      }
      .item3 {
        animation: bottleMove 7s linear 2s infinite;
      }
      .item4 {
        animation: bottleMove 7s linear 3s infinite;
      }
      .item5 {
        animation: bottleMove 7s linear 4s infinite;
      }
      .item6 {
        animation: bottleMove 7s linear 5s infinite;
      }
      .item7 {
        animation: bottleMove 7s linear 6s infinite;
      }
    }
    &_stepFirstTitle {
      p,
      h3 {
        font-size: 18px;
        margin: 8px 0;
      }
    }
    &_stepSecondTitle {
      p,
      h3 {
        font-size: 18px;
        margin: 8px 0;
      }
    }
    &_controlBlock {
      i {
        font-size: 30px;
        display: inline-block;
        margin: 20px 30px;
      }
    }
    &_textBlock {
      margin-top: 20px;
      position: relative;
    }

    &_officalPic {
      border: none;
      img {
        width: 90px;
      }
    }
    &_textForm {
      & :nth-child(2) {
        width: 200px;
      }
    }
    &_bgcBox {
      margin: 0 auto;
      top: 80px;
      box-sizing: border-box;
      padding: 30px;
      width: 900px;
      height: 620px;
    }
    &_pcMoveBlock {
      ul {
        width: 100%;
        position: relative;
      li {
        display: inline-block;
        position: absolute;
        left: -65px;
        img {
          width: 30px;
        }
      }
    }
    &_textLength {
      margin: 15px 0;
      width: 415px;
      height: 20px;
    }
    &_pics {
      &:after {
        bottom: 120px;
      }
    }
  }
  .diy_designBottle_bottleMoveBlock {
    .diy_factory_pc{
      width: 350px;
    }
  }
  //客製完成跳窗尺寸
  .diy {
    &_customizeBox {
      &_content {
        width: 600px;
        height: 500px;
        background-color: #fff;
        position: absolute;
        border-radius: 20px;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -45%);
        margin: auto;
        h3{
          margin: 10px 0;
        }
      }
      &_finishPic {
        margin: 0 auto;
        img {
          width: 250px;
        }
      }
    }
    &_customizeFinishBox {
      &_btns {
        display: none;
        position: relative;
        top: 80%;
        right: 0;
      }
    }
  }
  .diy_designBottle_bottleMoveBlock {
    margin-bottom: 50px;
    .diy_factory {
      .factory {
        position: absolute;
        // bottom: 0;
        // left: -2%;
        transform: translate(0%,0%);
        width: 320px;
        z-index: 2;
      }
    }
    .diy_conveyor {
      img {
        width: 100%;
        position: absolute;
        transform: translate(0%,0%);
        // left: 125px;
        // bottom:0;
      }
    }
    .diy_car {
      img {
        width: 320px;
        position: absolute;
        // right: -10px;
        // bottom: 0;
        transform: translate(0%,0%);
        z-index: 2;
      }
    }
    &_textLength {
      margin: 15px 0 ;
      width: 415px;
      height: 20px; 
    }
    &_pics {
      &:after {
        bottom: 120px;
      }
    }
  }
}
//桌機---------------------------------------------------------------------------------------------
@include rwd(desktop) {
  .diy_designBottle {
    &_controlBlock {
      i {
        font-size: 40px;
        display: inline-block;
        margin: 20px 30px;
      }
    }
    &_officalPic {
      border: none;
      img {
        width: 90px;
      }
    }
    &_pcMoveBlock {
      left: 100px;
      z-index: -1;
      li {
        display: inline-block;
        position: absolute;
        img {
          width: 30px;
        }
      }
    }
    &_textLength {
      margin: 15px 0;
      width: 415px;
      height: 20px;
    }
    &_pics {
      &:after {
        bottom: 120px;
      }
    }
  }
  .diy_designBottle_bottleMoveBlock {
    .diy_factory_pc{
      width: 350px;
    }
  }
  //客製完成跳窗尺寸
  .diy {
    &_customizeBox {
      &_content {
        width: 600px;
        height: 500px;
        background-color: #fff;
        position: absolute;
        border-radius: 20px;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -45%);
        margin: auto;
        h3{
          margin: 10px 0;
        }
      }
      &_finishPic {
        margin: 0 auto;
        img {
          width: 250px;
        }
      }
    }
    &_customizeFinishBox {
      &_btns {
        display: none;
        position: relative;
        top: 80%;
        right: 0;
      }
footer {
  position: absolute;
  bottom: -240px;
  left: 0;
  z-index: 5;
  & .factory {
    position: absolute;
    bottom:25px;
    left: -5px;
    width: 300px;
    img{width: 100%;}
  }
  & .conveyor_pc {
    position: absolute;
    bottom:25px;
    width: 85%;
    z-index: -1;
  }
  & .car {
    width: 350px;
    left: 82%;
    top: -150px;
    z-index: -1;
  }
}


//客製完成跳窗尺寸
.diy_customizeBox_content h3 {
  margin: 10px 0;
}
.diy_customizeBox_finishPic {
  img {
    width: 250px;
  }
}
.diy {
  &_customizeBox {
    &_content {
      width: 600px;
      height: 500px;
      background-color: #fefefe;
      position: absolute;
      border-radius: 20px;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -45%);
      margin: auto;
    }
  }
  .diy_designBottle_bottleMoveBlock {
    margin-bottom: 50px;
    .diy_factory {
      .factory {
        position: absolute;
        // bottom: 0;
        // left: -2%;
        transform: translate(0%,0%);
        width: 320px;
        z-index: 2;
      }
    }
    .diy_conveyor {
      img {
        width: 100%;
        position: absolute;
        transform: translate(0%,0%);
        // left: 125px;
        // bottom:0;
      }
    }
    .diy_car {
      img {
        width: 320px;
        position: absolute;
        // right: -10px;
        // bottom: 0;
        transform: translate(0%,0%);
        z-index: 2;
      }
    }
  }
}
//桌機---------------------------------------------------------------------------------------------
@include rwd(desktop) {
  .diy_designBottle {
    &_controlBlock {
      i {
        font-size: 40px;
        display: inline-block;
        margin: 20px 30px;
      }
    }
    .diy_conveyor {
      img {
        position: absolute;
        left: 125px;
        width: 100%;
        bottom:-175px;
      }
    }
    &_pcMoveBlock {
      left: 100px;
      z-index: -1;
      li {
        display: inline-block;
        position: absolute;
        left: -65px;
        bottom:-250px;
        img {
          width: 30px;
        }
      }
    }
    &_btnBlock {
      margin-top: 10px;
      a {
        margin: 5px 20px;
      }
    }
    &_itemBottleBlock {
      position: absolute;
      top: -50px;
      .item1 {
        animation: bottleMove 7s linear 0s infinite;
      }
      .item2 {
        animation: bottleMove 7s linear 1s infinite;
      }
      .item3 {
        animation: bottleMove 7s linear 2s infinite;
      }
      .item4 {
        animation: bottleMove 7s linear 3s infinite;
      }
      .item5 {
        animation: bottleMove 7s linear 4s infinite;
      }
      .item6 {
        animation: bottleMove 7s linear 5s infinite;
      }
      .item7 {
        animation: bottleMove 7s linear 6s infinite;
      }
    }
  }
  .diy_designBottle_bottleMoveBlock {
    margin-bottom: 50px;
    .diy_factory {
      .factory {
        position: absolute;
        bottom: -175px;
        left: -2%;
        width: 320px;
        z-index: 2;
      }
    }
    .diy_conveyor {
      img {
        position: absolute;
        left: 125px;
        width: 100%;
        bottom:-175px;
      }
    }
    .diy_car {
      img {
        position: absolute;
        right: -10px;
        bottom: -175px;
        width: 320px;
        z-index: 2;
      }
    }
  }
}
