@import "reset";
@import "global";
@import "nav";
@import "footer";

*{
    // outline: 1px solid #f00;
    text-align: center;
    color: $mainfontcolor;
}

body{
    background-color: $sky;
}

input{
    cursor: pointer;
}
.footer_block {
    background-color: #dde4b7;
}
input{
    border:none;
}

section{
    width: 100%;
}

section div{
   box-sizing: border-box;
 }

 @keyframes cloudleft
{
    0% { left: -10%;}
  50% { left: -5%;  }
  100% { left: -10%;  }
}
@keyframes cloudright
{
    0% { right: -10%;}
  50% { right: -8%;  }
  100% { right: -10%;  }
}
@keyframes ballon{
    0% { transform:rotate(3deg);}
    50% { transform:rotate(-5deg);  }
    100% { transform:rotate(3deg);  }
}


.pdcate{
    // background-image: url('../images/pd/pdcate_bgimg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 200px;
    background: $sky;
    overflow: hidden;
    .cloud{
        position: absolute;
        width: 25%;
        left: -10%;
        animation: cloudleft 3s ease 0s infinite alternate;
    }
    .cloud2{
        position: absolute;
        width: 25%;
        right: -10%;
        bottom: 2%;
        animation: cloudright 3s ease 0s infinite alternate;
    }
    .wrapper{
        position: relative;
    }
    .ballon{
        position: absolute;
        width: 16%;
        right: 0;
        transform:rotate(3deg);
        animation: ballon 3s ease 0s infinite alternate;
    }
    .bee{
        position: absolute;
        width: 16%;
        bottom: 0;
        left: 0;
        
    }
}


.pd{
    overflow: hidden;
    padding-bottom: 300px;
    position: relative;
    background: $sky;
    .bottom{
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .wrapper{
        position: relative;
    }
}
.pd_cate{
    position: relative;
    h2{
        padding: 20px 0;
        color: $mainfontcolor;
        font-weight: bold;
        background-image: url('../images/pd/woodbgc.jpg');
        border: 4px $mainfontcolor solid;
        width: 200px;
        margin: 20px auto;
        border-radius: 20px;
    }
    .cloud{
        position: absolute;
        width: 25%;
        left: -10%;
        animation: cloudleft 3s ease 0s infinite alternate;
    }
    .cloud2{
        position: absolute;
        width: 25%;
        right: -10%;
        bottom: 2%;
        animation: cloudright 3s ease 0s infinite alternate;
    }
    .item{
        position: relative;
    }
}

.pdcate_item{
    padding: 20px;
    .item{
        border:5px white solid;
        box-shadow: 2px 2px;
        transition: 0.3s;
    }
    &:hover .item{
        border:5px orange solid;
    }
}

.pd_cate_item{
    padding: 20px;
    .item{
        background-color: #fff;
        padding: 20px 0;
        // border: 4px #ccc dotted;
        border-radius: 20px;
        box-shadow: 2px 2px 2px 0px #ccc;
        border: $mainfontcolor 2px solid;
    }
    h3{
        padding:14px;
        font-weight: bold;
    }
}

.pd_cate_item_itemimg{
    overflow: hidden;
    img{
        transition: 0.3s;
    }
    &:hover{
        img{
            transform:scale(1.2);
        }
    }
}

.buttonArea{
    .common_btn{
      width: 100px;
    }
}

.btn2{
    display: inline-block;
    padding: 6px;
    border:$mainfontcolor solid 1px;
    background-color: #fff;
    vertical-align: middle;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 1px 2px;
}
footer{
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
}
@include rwd(mobile){
    .pdcate_item{
        padding: 5px;
    }
    .pdcate{
        .wrapper{
            padding:0;
        }
    }

    .pd_cate_item{
        padding: 5px;
    }

    .pd{
        padding-bottom: 50px;
    }
}

header nav  li:nth-child(2) > a:after {
    transform: scaleX(1);
}