@import "reset";
@import "global";
@import "nav";
@import "footer";

*{
    // outline: 1px solid #f00;
    // text-align: left;
    color: $mainfontcolor;
}
input{
    border:none;
}
footer{
    position: relative;
}
.footer_block {
    background-color: rgb(244, 214, 109);
}
h2{
    line-height: 50px;
    font-weight: bold;
}
h3{
    line-height: 40px;
}
h4{
    line-height: 24px;
}

section{
    width: 100%;
}

section div{
    box-sizing: border-box;
 }

 @keyframes cloudleft
{
    0% { left: -10%;}
  50% { left: -5%;  }
  100% { left: -10%;  }
}

 .pdItem{
     overflow: hidden;
     background-color: $sky;
     padding-top:250px;
     padding-bottom: 200px;
     text-align: left;
     position: relative;
     .wrapper{
        position: relative;
     }
     .cloud{
        position: absolute;
        width: 25%;
        left: -10%;
       top: 20%;
        animation: cloudleft 3s ease 0s infinite alternate;
    }
    .tree{
        position: absolute;
        width: 20%;
        right: 0;
        bottom: 0;
    }
    .bee{
        position: absolute;
        width: 20%;
        left: 0;
        bottom: 0;
    }
    .wrapper{
        border: 4px #ccc solid;
        background-color: #fff;
        border-radius: 25px;
    }
}



.pdItem_imgBlock{
    padding: 50px;
    vertical-align: middle;
}
.pdItem_textBlock{
    padding: 50px;
    vertical-align: middle;
    .pdInfo{
        color: #084;   
        text-align: justify;
        line-height: 1.7;
    }
    h3{
        font-size: 30px;
        padding: 20px;
        color: red;
        font-weight: bold;
    }
}
.pdItem_buyBlock{
    text-align: center;
    padding: 60px 50px 50px 50px;
    vertical-align: middle;
}

.addPdToCart{
    width: 80%;
    background-color: $buttoncolor;
    text-align: center;
    padding:20px 0px;
    border-radius: 20px;
    border:#ccc solid 2px;
    font-size:18px;
}
.pdItem_buyBlock_qty{
    border: 1px solid #777;
    width: 80px;
    padding: 5px;
    margin-bottom: 30px;
    font-size: 18px;
}

@include rwd(mobile){
    .pdItem_imgBlock{
        padding: 10px;
    }
    .pdItem_buyBlock{
        padding: 10px;
    }
    .pdItem_textBlock{
        padding: 0 20px;
        text-align: center;
    }
    .pdItem{
       padding-top:200px;
       padding-bottom:100px;
    }
    .itemwrapper{
        padding:20px; 
    }
}

header nav  li:nth-child(2) > a:after {
    transform: scaleX(1);
}