.left{
    padding: 20px;
    background-color: hsla(145, 68%, 45%, 0.753);
    color:white;
    font-weight: bold;
}
.left img{
    width: 80%;
}
td.fruit_info{
    width: 20%; 
}
td.fruit_pic{
    width: 60px;
    padding: 5px 10px;
    box-sizing: border-box;
}
img{
    width: 100%;
}
.banner{
   margin-top: 50px;
}
input,.newPd input ,.newPd textarea{
    border:#26c029 2px solid;
    border-radius: 10px;
    padding:  0 10px;
    background-color: transparent;
    width: 80%;
}
table{
    text-align: center;
}
button{
    border:#26c029 2px solid;
    border-radius: 10px;
    padding:  10px 20px;
    background-color: transparent;
}
.newPdUp{
/*     position: fixed;
    top: 50%;
    left:50%;
    background-color: #fff;
    width: 80%;
    transform: translate(-50%, -50%);
    margin-top: 10%; */
    display: none;
    /* overflow-y:auto;  */

}
.newPdUpArea{
    margin: 20px 0;
    text-align: center;
    padding: 20px;
}
li{
    display: inline;
}
.newPd_status{
    text-align: left;
}
.newPd_status p{
    /* display: inline-block; */
    line-height: 1.3;
}
.newPd_status input{
    display: inline-block;
    width: auto;
    margin-right: 20px;

}
.colorShow{
    margin-left:10px;
    vertical-align: bottom;
    background-color: #fff;
    width: 30px;
    height: 30px;
    display: inline-block;
}